<div class="col-span-12 lg:col-span-4 mt-4 sm:mt-0">
  <div class="inline-flex items-center justify-between mb-3 mx-2">
    <%= image_tag 'battle_history.svg', class: 'h-6 md:h-7 lg:h-8 inline-block mx-1 transform transition duration-500 hover:scale-110', alt: 'stars' %>
    <h5 class="text-xl font-bold leading-none text-gray-900">Останні Сутички</h5>
  </div>
  <div class="flow-root py-3 px-4 border border-gray-200 rounded-lg shadow mt-2 overflow-y-auto max-h-[24rem] lg:max-h-[40rem] xl:max-h-[56rem] 2xl:max-h-[40rem]">
    <% if battle_history.any? %>
      <%= turbo_frame_tag "pokemon-history-list" do %>
        <% battle_history.each do |battle_log| %>
          <%= render 'users/pokemons/history_record', battle_log: %>
        <% end %>
      <% end %>
    <% else %>
      <%= turbo_frame_tag "pokemon-history-list" do %>
      <% end %>
      <%= turbo_frame_tag "pokemon-history-call" do %>
        <div class="max-w-screen-xl px-4 py-4 mx-auto sm:py-8 lg:py-8">
          <div class="space-y-4 sm:space-y-6 lg:space-y-8 lg:col-span-2">
            <h2 class="font-extrabold leading-tight text-gray-900 text-2xl sm:text-3xl xl:text-4xl 2xl:text-5xl">
              Вперед до бою!
            </h2>
            <p class="mt-4 text-gray-500 text-base sm:text-lg xl:text-xl 2xl:text-2xl font-light">
              Ви маєте покемонів, що зриваються до бою! Натисніть на одну із червоних рукавичок <%= image_tag 'battle.webp', class: 'h-6 md:h-7 lg:h-8 inline-block mx-1 transform transition duration-500 hover:scale-110', alt: 'battle call' %> на екрані <b>"Рейтинг Тренерів"</b>, аби розпочати поєдинок!
            </p>
            <div class="relative shadow-2xl hidden lg:block">
              <%= image_tag 'pokemon_cta.webp', alt: 'pokemon cta', class: 'object-cover shadow-2xl' %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
