<div class="sm:grid sm:grid-cols-12 sm:gap-8">
  <!-- Column 1: Pokémon Data Screen -->
  <%= turbo_frame_tag "pokemon-data-screen", class: 'col-span-12 lg:col-span-5' do %>
    <%= render 'users/pokemons/list', pokemons: pokemon_show.pokemons, selected_pokemon: pokemon_show.selected_pokemon, descendant: pokemon_show.descendant %>
  <% end %>

  <!-- Column 2: Leaderboard on top, Battle History below -->
  <div class="col-span-12 lg:col-span-7 flex flex-col gap-4">
    <%= turbo_frame_tag "pokemon-leaderboard-screen" do %>
      <%= render 'users/pokemons/dex_leaderboard', dex_overall: pokemon_show.dex_overall, opponent: pokemon_show.opponent %>
    <% end %>
    <%= render 'users/pokemons/battle_history', battle_history: pokemon_show.battle_history %>
  </div>
</div>
