 <div class="w-full p-4 bg-white border border-2 border-dashed border-gray-300 rounded-lg shadow sm:p-8 col-span-5 md:col-span-4 lg:col-span-3 mb-4 sm:mb-0">
  <div class="flex items-center justify-between mb-3 mx-2">
    <h5 class="text-base sm:text-xl font-bold leading-none text-gray-900">Мої Покемони</h5>
  </div>
  <div class="flow-root overflow-y-auto max-h-[40rem]">
    <ul role="list" class="divide-y divide-gray-200 divide-dashed">
      <% pokemons.each do |user_pokemon| %>
        <li class="py-3 sm:py-4">
          <div class="flex items-center space-x-4">
            <div class="flex-shrink-0">
              <%= image_tag url_for(user_pokemon.pokemon.sprite), alt: user_pokemon.pokemon.sprite.blob.filename, class: 'h-8' %>
            </div>
            <div class="flex-1 min-w-0">
              <%= tag.p user_pokemon.pokemon.name, class: 'text-xs sm:text-sm font-medium text-gray-900 truncate' %>
            </div>
            <%= tag.div class: 'inline-flex items-center text-xs sm:text-sm text-gray-600' do %>
              Рівень:<%= tag.span sanitize("&nbsp;"), class: 'text-gray-900' %>
              <%= tag.span user_pokemon.current_level, class: 'text-gray-900' %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>