<div class="mt-[4.5rem]">
  <div class="top-1/2 justify-center flex">
    <%= tag.p scanlator.title, class: "text-3xl text-center text-gray-800 font-bold #{ 'ml-2' if scanlator.telegram_id.present? }" %>
    <%= link_to "https://t.me/#{scanlator.telegram_id}", class: 'inline-flex items-center text-sm font-medium rounded-lg', area: { current: 'page' } do %>
      <div class="flex items-center">
        <%= image_tag 'telegram.svg', class: 'h-6 transform transition duration-500 hover:scale-110 ml-1', alt: 'logo', width: '32', height: '32' %>
      </div>
    <% end if scanlator.telegram_id.present? %>
  </div>
  <div class="mt-1 justify-center flex">
    <p class="font-light text-xs sm:text-sm 2xl:text-base text-gray-500">
      <%= tag.span scanlator.chapters.size, class: 'text-lg font-bold' %>
      <span>розділів<span>
    </p>
  </div>
  <div class="mb-8 justify-center flex">
    <p class="font-light text-xs sm:text-sm 2xl:text-base text-gray-500">
      <%= tag.span scanlator.chapters.sum(:views), class: 'text-lg font-bold' %>
      <span>прочитань<span>
    </p>
  </div>
  <%= render 'shared/divider_shiny_green', caption: 'Команда' %>
  <div class="grid grid-cols-4 gap-2 mb-10 mt-4">
    <% scanlator.users.in_groups_of(4).each do |group| %>
      <% group.each do |user| %>
        <% if user.present? %>
          <div class="flex flex-col items-center">
            <%= image_tag url_for(user.avatar.image), alt: user.avatar.blob.filename.to_s, class: 'w-auto h-20 rounded-full', height: '48', width: '48' %>
            <%= tag.p user.name, class: 'mt-2 font-light text-xl text-gray-500' %>
          </div>
        <% else %>
          <div class="flex flex-col items-center">
            <%= image_tag 'scanlator_avatar.webp', alt: 'scanlator default avatar', class: 'w-auto h-28 rounded-full grayscale', height: '48', width: '48' %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <%= render 'shared/divider_shiny_green', caption: 'Твори' if fictions.any? %>
  <div class="grid grid-cols-3 gap-2 mb-10 mt-4">
    <% fictions.in_groups_of(3).each do |group| %>
      <% group.each do |fiction| %>
        <% if fiction.present? %>
          <div class="flex flex-col items-center">
            <div class="relative bg-gray-300 bg-opacity-10 rounded-lg overflow-y-auto h-[24rem]">
              <%= link_to fiction_path(fiction) do %>
                <div class="flex justify-center relative">
                  <%= image_tag url_for(fiction.cover), alt: fiction.cover.blob.filename, class: "h-64 w-full object-cover rounded-md shadow-lg" %>
                  <div class="z-10 rounded-xl absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out" style="background-color: rgba(255, 255, 255, 0.2)"></div>
                </div>
              <% end %>
              <div class="w-full float-left rounded-xl md:mt-1 mb-1 lg:mt-0 px-2">
                <%= tag.h3 fiction.title, class: 'line-clamp-2 mt-2 mb-1 text-center text-xl text-gray-900 mr-[1.75%]' %>
                <% if fiction.genres.any? %>
                  <div class="mt-1 overflow-hidden break-words text-center">
                    <% fiction.genres.each do |genre| %>
                      <%= tag.p "##{genre.name}", class: 'inline-block tracking-wider leading-3 text-sm font-semibold mr-1 whitespace-nowrap uppercase text-emerald-600' %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% else %>
          <div class="flex flex-col items-center">
            <div class="relative bg-gray-300 bg-opacity-10 rounded-lg overflow-y-auto h-[24rem]">
              <div class="flex justify-center relative">
                <%= image_tag 'fiction_cover.webp', alt: 'default book cover image', class: "h-[24rem] w-full object-cover rounded-md shadow-lg grayscale" %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
