<div class="bg-stone-100 p-8 rounded-xl shadow-xl border border-stone-300">
  <h2 class="text-3xl font-bold text-stone-800 mb-6">Профіль Перекладача</h2>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div class="space-y-6">
      <div class="relative">
        <%= f.label :title, 'Назва', class: 'text-stone-700 text-lg font-semibold mb-2' %>
        <%= f.input :title, input_html: { class: "w-full bg-stone-200 text-stone-800 placeholder-stone-500 border border-stone-300 rounded-lg p-3 focus:ring-2 focus:ring-stone-500 focus:border-stone-500" }, label: false, placeholder: 'Назва Команди' %>
        <%= tag.p scanlator.errors[:title].to_sentence, class: 'absolute -bottom-5 text-xs text-red-600' if scanlator.errors[:title].any? %>
      </div>

      <div class="relative">
        <%= f.label :description, 'Опис', class: 'text-stone-700 text-lg font-semibold mb-2' %>
        <%= f.text_area :description, class: "w-full bg-stone-200 text-stone-800 placeholder-stone-500 border border-stone-300 rounded-lg p-3 focus:ring-2 focus:ring-stone-500 focus:border-stone-500", rows: 4, placeholder: "Ваша Історія (необов'язково)" %>
        <%= tag.p scanlator.errors[:description].to_sentence, class: 'absolute -bottom-5 text-xs text-red-600' if scanlator.errors[:description].any? %>
      </div>

      <div class="relative">
        <%= f.label :telegram_id, 'Телеграм ID', class: 'text-stone-700 text-lg font-semibold mb-2' %>
        <%= f.input :telegram_id, input_html: { class: "w-full bg-stone-200 text-stone-800 placeholder-stone-500 border border-stone-300 rounded-lg p-3 focus:ring-2 focus:ring-stone-500 focus:border-stone-500" }, label: false, placeholder: "ID акаунту без @ (необов'язково)" %>
        <%= tag.p scanlator.errors[:telegram_id].to_sentence, class: 'absolute -bottom-5 text-xs text-red-600' if scanlator.errors[:telegram_id].any? %>
      </div>

      <div class="relative">
        <%= f.label :bank_url, 'Посилання на Банку', class: 'text-stone-700 text-lg font-semibold mb-2' %>
        <%= f.input :bank_url, input_html: { class: "w-full bg-stone-200 text-stone-800 placeholder-stone-500 border border-stone-300 rounded-lg p-3 focus:ring-2 focus:ring-stone-500 focus:border-stone-500" }, label: false, placeholder: "Посилання на Банку (необов'язково)" %>
        <%= tag.p scanlator.errors[:bank_url].to_sentence, class: 'absolute -bottom-5 text-xs text-red-600' if scanlator.errors[:bank_url].any? %>
      </div>

      <div class="relative">
        <%= f.label :extra_url, 'Додаткове Посилання', class: 'text-stone-700 text-lg font-semibold mb-2' %>
        <%= f.input :extra_url, input_html: { class: "w-full bg-stone-200 text-stone-800 placeholder-stone-500 border border-stone-300 rounded-lg p-3 focus:ring-2 focus:ring-stone-500 focus:border-stone-500" }, label: false, placeholder: "Додаткове Посилання (необов'язково)" %>
        <%= tag.p scanlator.errors[:extra_url].to_sentence, class: 'absolute -bottom-5 text-xs text-red-600' if scanlator.errors[:extra_url].any? %>
      </div>
    </div>

    <div class="space-y-6">
      <div class="relative">
        <%= f.label :member_ids, 'Учасники', class: 'text-stone-700 text-lg font-semibold mb-2' %>
        <% if params[:scanlator].present? %>
          <%= f.select :member_ids, options_for_select(User.order(:name).pluck(:name, :id), selected: params[:scanlator][:member_ids]&.reject(&:blank?)), {}, { data: { controller: 'slim' }, multiple: true, class: "w-full bg-stone-200 text-stone-800 border border-stone-300 rounded-lg p-3 focus:ring-2 focus:ring-stone-500 focus:border-stone-500 #{'border-red-300' if scanlator.errors[:member_ids].any? }" } %>
        <% else %>
          <%= f.select :member_ids, options_for_select(User.order(:name).pluck(:name, :id), selected: f.object.users.ids), {}, { data: { controller: 'slim' }, multiple: true, class: "w-full bg-stone-200 text-stone-800 border border-stone-300 rounded-lg p-3 focus:ring-2 focus:ring-stone-500 focus:border-stone-500 #{'border-red-300' if scanlator.errors[:member_ids].any? }" } %>
        <% end %>
        <%= tag.p scanlator.errors[:member_ids].to_sentence(two_words_connector: "", last_word_connector: ""), class: 'absolute -bottom-5 text-xs text-red-600' if scanlator.errors[:member_ids].any? %>
      </div>

      <div class="flex items-center space-x-3 bg-stone-200 p-4 rounded-lg border border-stone-300">
        <%= f.input :convertable, as: :boolean, label: false, input_html: { class: 'w-6 h-6 text-stone-600 bg-stone-100 rounded border-stone-300 focus:ring-stone-500' } %>
        <label for="convertable" class="text-stone-700">Дозволити конвертацію та завантаження творів у EPUB.</label>
      </div>

      <div class="space-y-4">
        <%= f.label :banner, 'Банер', class: 'text-stone-700 text-lg font-semibold' %>
        <div class="relative group">
          <%= f.label :banner, class: "flex flex-col items-center justify-center w-full h-48 bg-stone-200 border-2 border-dashed border-stone-400 rounded-lg cursor-pointer hover:bg-stone-300 transition duration-300" do %>
            <svg class="w-12 h-12 text-stone-600 mb-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
            <span class="text-stone-600">SVG, PNG, JPEG чи WebP</span>
            <%= f.file_field :banner, class: "hidden", label: false, data: { action: "change->dropzone#update" } %>
            <%= tag.div f.object.banner.blob&.filename || nil, id: 'banner_name', class: 'text-stone-600 text-center text-sm' %>
          <% end %>
          <%= tag.p scanlator.errors[:banner].to_sentence, class: 'absolute -bottom-5 text-xs text-red-600' if scanlator.errors[:banner].any? %>
        </div>
      </div>

      <div class="space-y-4">
        <%= f.label :avatar, 'Портретик', class: 'text-stone-700 text-lg font-semibold' %>
        <div class="relative group">
          <%= f.label :avatar, class: "flex flex-col items-center justify-center w-full h-48 bg-stone-200 border-2 border-dashed border-stone-400 rounded-lg cursor-pointer hover:bg-stone-300 transition duration-300" do %>
            <svg class="w-12 h-12 text-stone-600 mb-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
            <span class="text-stone-600">SVG, PNG, JPEG чи WebP</span>
            <%= f.file_field :avatar, class: "hidden", label: false, data: { action: "change->dropzone#update" } %>
            <%= tag.div f.object.banner.blob&.filename || nil, id: 'banner_name', class: 'text-stone-600 text-center text-sm' %>
          <% end %>
          <%= tag.p scanlator.errors[:avatar].to_sentence, class: 'absolute -bottom-5 text-xs text-red-600' if scanlator.errors[:avatar].any? %>
        </div>
      </div>
    </div>
  </div>

  <%= f.submit "Надіслати Профіль", class: "mt-8 w-full bg-stone-700 text-stone-100 font-bold py-3 px-6 rounded-lg hover:bg-stone-600 transition duration-300" %>
</div>
