<div class="py-4 border-gray-200 sm:py-5">
  <div class="lg:grid gap-4 md:gap-6 lg:grid-cols-3">
    <div class="space-y-3 sm:space-y-6">
      <div class="space-y-4 sm:flex sm:space-x-4 sm:space-y-0">
        <div class="w-full">
          <%= f.label :title, 'Назва', class: 'block mb-2 text-sm font-medium text-gray-900' %>
          <%= f.input :title, input_html: { class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-600 focus:border-emerald-600 block w-full p-2.5 #{'border-red-300' if scanlator.errors[:title].any?}" }, label: false, placeholder: 'Додайте назву' %>
          <%= tag.p scanlator.errors[:title].to_sentence(two_words_connector: "", last_word_connector: ""), class: 'text-sm text-red-600' if scanlator.errors[:title].any? %>
        </div>
      </div>
      <div class="space-y-4 sm:flex sm:space-x-4 sm:space-y-0">
        <div class="w-full">
          <%= f.label :telegram_id, 'Телеграм ID', class: 'block mb-2 text-sm font-medium text-gray-900' %>
          <%= f.input :telegram_id, input_html: { class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-600 focus:border-emerald-600 block w-full p-2.5 #{'border-red-300' if scanlator.errors[:telegram_id].any?}" }, label: false, placeholder: "Додайте ID акаунту без @ (необов'язково)" %>
          <%= tag.p scanlator.errors[:telegram_id].to_sentence(two_words_connector: "", last_word_connector: ""), class: 'text-sm text-red-600' if scanlator.errors[:telegram_id].any? %>
        </div>
      </div>
      <div class="space-y-4 sm:flex sm:space-x-4 sm:space-y-0">
        <div class="w-full">
          <%= f.label :member_ids, 'Учасники', class: 'block mb-2 text-sm font-medium text-gray-900' %>
          <% if params[:scanlator].present? %>
            <%= f.select :member_ids, options_for_select(User.order(:name).pluck(:name, :id), selected: params[:scanlator][:member_ids].reject(&:blank?)), {}, { data: { controller: 'slim' }, multiple: true, class: "font-oswald bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-500 focus:border-emerald-500 block w-full p-2.5 #{'border-red-300' if scanlator.errors[:member_ids].any? }" } %>
          <% else %>
            <%= f.select :member_ids, options_for_select(User.order(:name).pluck(:name, :id), selected: f.object.users.ids), {}, { data: { controller: 'slim' }, multiple: true, class: "font-oswald bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-500 focus:border-emerald-500 block w-full p-2.5 #{'border-red-300' if scanlator.errors[:member_ids].any? }" } %>
          <% end %>
          <%= tag.p scanlator.errors[:member_ids].to_sentence(two_words_connector: "", last_word_connector: ""), class: 'text-sm text-red-600' if scanlator.errors[:member_ids].any? %>
        </div>
      </div>
    </div>
    <div class="mt-4 lg:mt-0 space-y-3 sm:space-y-6">
      <div>
        <%= f.label :banner, 'Банер', class: 'block mb-2 text-sm font-medium text-gray-900' %>
        <div class="flex justify-center items-center w-full">
          <%= f.label :banner, class: "flex flex-col justify-center items-center w-full h-60 bg-gray-50 rounded-lg border-2 border-gray-300 border-dashed cursor-pointer #{'border-red-300' if scanlator.errors[:banner].any?}" do %>
            <div class="flex flex-col justify-center items-center pt-5 pb-6">
              <svg aria-hidden="true" class="mb-3 w-10 h-8 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path></svg>
              <p class="mb-2 text-sm text-gray-500"><span class="font-semibold">Натисніть,</span> аби обрати файл</p>
              <p class="mb-4 text-xs text-gray-500">SVG, PNG, JPEG чи WebP</p>
            </div>
            <%= f.file_field :banner, class: "hidden", label: false, data: { action: "change->dropzone#update" } %>
            <%= tag.div f.object.banner.blob&.filename || nil, id: 'banner_name', class: 'text-center text-sm text-gray-500' %>
          <% end %>
        </div>
        <%= tag.p scanlator.errors[:banner].to_sentence(two_words_connector: "", last_word_connector: ""), class: 'text-sm text-red-600' if scanlator.errors[:banner].any? %>
      </div>
    </div>
    <div class="mt-4 lg:mt-0 space-y-3 sm:space-y-6">
      <div>
        <%= f.label :avatar, 'Портретик', class: 'block mb-2 text-sm font-medium text-gray-900' %>
        <div class="flex justify-center items-center w-full">
          <%= f.label :avatar, class: "flex flex-col justify-center items-center w-full h-60 bg-gray-50 rounded-lg border-2 border-gray-300 border-dashed cursor-pointer #{'border-red-300' if scanlator.errors[:avatar].any?}" do %>
            <div class="flex flex-col justify-center items-center pt-5 pb-6">
              <svg aria-hidden="true" class="mb-3 w-10 h-8 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path></svg>
              <p class="mb-2 text-sm text-gray-500"><span class="font-semibold">Натисніть,</span> аби обрати файл</p>
              <p class="mb-4 text-xs text-gray-500">SVG, PNG, JPEG чи WebP</p>
            </div>
            <%= f.file_field :avatar, class: "hidden", label: false, data: { action: "change->dropzone#update" } %>
            <%= tag.div f.object.avatar.blob&.filename || nil, id: 'avatar_name', class: 'text-center text-sm text-gray-500' %>
          <% end %>
        </div>
        <%= tag.p scanlator.errors[:avatar].to_sentence(two_words_connector: "", last_word_connector: ""), class: 'text-sm text-red-600' if scanlator.errors[:avatar].any? %>
      </div>
    </div>
  </div>
  <%= f.submit "Надіслати", class: "inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-emerald-700 rounded-lg focus:ring-4 focus:ring-emerald-200 hover:bg-emerald-800" %>
</div>
