<% main_highlight = highlights.first %>
<div class="py-2 lg:mb-3 lg:border-b border-gray-300 hidden lg:block">
  <div class="mb-1 mb-2 leading-none relative">
    <%= link_to youtube_video_path(main_highlight) do %>
      <%= image_tag url_for(main_highlight.thumbnail), alt: main_highlight.title, class: "rounded-md opacity-80 m-auto w-full l-[-9999px] r-[-9999px] max-h-96 lg:h-72 mt-4 md:object-cover lg:object-fill", loading: 'eager' %>
      <div class="z-10 rounded-md absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out" style="background-color: rgba(255, 255, 255, 0.2)"></div>
    <% end %>
  </div>
  <div class="text-gray-500 mb-2 lg:mb-1">
    <%= link_to main_highlight.youtube_channel.title, "https://www.youtube.com/watch?v=#{main_highlight.video_id}", class: 'text-rose-700 text-base sm:text-lg md:text-base lg:text-sm font-light hover:underline', target: '_blank' %>
    <%= tag.span "∘", class: 'text-base sm:text-lg font-light' %>
    <%= tag.span "#{time_ago_in_words(main_highlight.published_at)} тому", class: 'text-base md:text-sm lg:text-xs font-light' %>
    <%= link_to youtube_video_path(main_highlight) do %>
      <%= tag.h2 main_highlight.title, class: 'text-gray-700 text-2xl sm:text-3xl md:leading-8 tracking-tight line-clamp-2 w-full hover:text-gray-600 hover:pointer mt-1' %>
    <% end %>
    <%= tag.span punch(main_highlight.description.to_s), class: 'text-gray-600 text-base mr-1 w-full whitespace-break-spaces font-light line-clamp-2 mt-2 lg:mt-1 lg:leading-6' %>
  </div>
</div>
<div class="relative float-left w-full mt-0 lg:hidden">
  <%= render partial: "side_video", collection: [main_highlight] %>
</div>
<% highlights.excluding(main_highlight).each do |highlight| %>
  <div class="float-right relative w-full mb-2 hidden lg:block">
    <div class="relative md:float-left leading-none overflow-hidden w-full lg:w-56 mr-3">
      <%= link_to youtube_video_path(highlight) do %>
        <%= image_tag url_for(highlight.thumbnail), alt: highlight.title, class: "w-full rounded-md max-h-96 lg:h-32 md:object-cover lg:object-fill" %>
        <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out" style="background-color: rgba(251, 251, 251, 0.2)"></div>
      <% end %>
    </div>
    <div class="lg:ml-[240px] xl:ml-[250px]">
      <div class="relative float-left lg:w-11/12 md:w-full md:m-0 mt-1 lg:mt-0">
        <div class="text-gray-500 lg:h-32 mt-2 lg:mt-[-2px] mb-2 lg:mb-0">
          <div class="line-clamp-1">
            <%= link_to highlight.youtube_channel.title, "https://www.youtube.com/watch?v=#{highlight.video_id}", class: 'text-rose-700 text-base sm:text-lg md:text-base lg:text-sm font-light hover:underline', target: '_blank' %>
            <%= tag.span "∘", class: 'text-base sm:text-lg font-light' %>
            <%= tag.span "#{time_ago_in_words(highlight.published_at)} тому", class: 'text-base sm:text-sm lg:text-xs font-light' %>
          </div>
          <%= link_to youtube_video_path(highlight) do %>
            <%= tag.h2 highlight.title, class: 'text-gray-700 text-2xl sm:text-3xl lg:text-xl md:leading-8 lg:leading-6 tracking-tight hover:text-gray-600 hover:pointer mt-1 sm:mt-0 lg:mt-1 line-clamp-2' %>
          <% end %>
          <div class="mt-2">
            <%= tag.span punch(highlight.description.to_s), class: 'text-gray-600 text-base lg:text-sm mr-1 w-full whitespace-break-spaces font-light line-clamp-1 lg:line-clamp-2 mt-2 sm:mt-0' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="relative float-left w-full mt-0 lg:hidden">
  <%= render partial: "side_video", collection: highlights.excluding(main_highlight) %>
</div>