<div class="w-full z-10 relative">
  <%= link_to youtube_video_path(youtube_video) do %>
    <%= image_tag url_for(youtube_video.thumbnail), alt: youtube_video.title, class: "w-full rounded-md max-h-96 lg:h-40 md:object-cover lg:object-fill" %>
    <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out" style="background-color: rgba(251, 251, 251, 0.2)"></div>
  <% end %>
  <div class="relative mt-1">
    <div class="w-full relative mb-2">
      <div class="flex space-x-1 text-gray-500 text-sm mb-2 lg:mb-0 mt-3">
        <%= image_tag url_for(youtube_video.youtube_channel_thumbnail), alt: youtube_video.youtube_channel.title, class: 'text-rose-700 h-8 w-8 rounded-full max-w-none hover:scale-110 lg:mx-1 hidden lg:block transform transition duration-500', height: '40', width: '40' %>
        <div>
          <%= link_to youtube_video.youtube_channel.title, search_index_path(search: [youtube_video.youtube_channel.title]), class: 'text-rose-700 text-base sm:text-lg lg:text-sm hover:underline font-light' %>
          <%= tag.span "∘", class: 'text-sm lg:text-xs font-light' %>
          <%= tag.span "#{time_ago_in_words(youtube_video.published_at)} тому", class: 'text-sm lg:text-xs font-light' %>
          <div class="line-clamp-2 mt-1">
            <%= link_to youtube_video.title, youtube_video_path(youtube_video), class: 'tracking-tight lg:leading-5 text-gray-700 text-xl sm:text-2xl lg:text-xl w-full hover:text-gray-600 hover:underline' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
