<div class="m-auto xl:w-[1300px] m-2 sm:m-4 md:m-8 lg:my-0 lg:mx-auto">
  <section class="w-full relative float-left font-oswald mb-2 z-10 lg:ml-0">
    <div class="lg:mr-[375px] mx-auto lg:mx-0 w-[96%] lg:w-auto">
      <div class="w-full relative float-left lg:ml-4">
        <div class="relative sm:float-right w-full lg:w-[60%]">
          <%= render 'main_section', highlights: @highlights  %>
        </div>
        <div class="relative sm:float-left w-full lg:w-80 mx-auto lg:mx-0">
          <%= render 'left_section', latest: @latest %>
        </div>
      </div>
    </div>
    <div class="float-left lg:ml-4 lg:w-80 mx-auto lg:mx-0 w-[96%]">
      <%= render 'right_section', popular: @popular %>
    </div>
  </section>
  <section class="relative float-left w-full lg:mt-4">
    <%= render 'shared/divider', caption: 'Відеотека', rose: true %>
    <div class="lg:grid grid-cols-4 gap-2 mb-4 mx-auto lg:mx-0 w-[96%]" id="others">
      <%= render @other_youtube_videos %>
    </div>
    <div id="next_link">
      <div class="mx-auto text-center">
        <%= button_to 'Більше відео', pagy_url_for(@pagy, @pagy.next), class: 'uppercase w-4/5 rounded-lg px-4 py-2 font-oswald text-xl sm:text-xl md:text-base lg:text-lg xl:text-xl leading-5 bg-white text-rose-600 transition ease-in-out m-0 hover:bg-gray-100 hover:text-gray-900 hover:cursor-pointer font-light border border-gray-200 mb-4' %>
      </div>
    </div>
  </section>
</div>
