<div class="m-auto xl:w-[1300px] m-2 sm:m-4 md:m-8 lg:my-0 lg:mx-auto">
  <section class="w-full relative float-left font-oswald mb-2 z-10 lg:ml-0">
    <div class="lg:mr-[375px] mx-auto lg:mx-0 w-[96%] lg:w-auto">
      <div class="w-full relative float-left lg:ml-4">
        <div class="relative sm:float-right w-full lg:w-[60%]">
          <%= render 'main_section', highlights: @highlights  %>
        </div>
        <div class="relative sm:float-left w-full lg:w-80 mx-auto lg:mx-0">
          <%= render 'left_section', latest: @latest %>
        </div>
      </div>
    </div>
    <div class="float-left lg:ml-4 lg:w-80 mx-auto lg:mx-0 w-[96%]">
      <%= render 'right_section', popular: @popular %>
    </div>
  </section>
  <section class="relative float-left w-full lg:mt-4">
    <div class="mb-4">
      <%= render 'shared/ads', advertisement: @advertisement %>
    </div>
    <div class="hidden lg:block">
      <%= render 'shared/divider_shiny_pink', caption: 'Відеотека' %>
    </div>
    <div class="flex justify-center">
      <div class="lg:grid grid-cols-4 gap-2 mb-4 mx-auto lg:mx-0 w-[96%] font-oswald" id="others">
        <%= render 'other_videos_desktop', other_videos: @other_youtube_videos %>
        <%= render 'other_videos_mobile', other_videos: @other_youtube_videos %>
      </div>
    </div>
    <div id="next_link">
      <div class="mx-auto text-center">
        <%= turbo_frame_tag 'new-video-link' do %>
          <%= button_to 'Більше відео', pagy_url_for(@pagy, @pagy.next), id: 'more-videos', class: 'uppercase w-4/5 xl:w-3/5 font-oswald text-white text-xl sm:text-xl md:text-base lg:text-lg xl:text-xl bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 shadow-lg shadow-pink-500/50 font-medium rounded-lg text-sm py-2.5 mb-8 mt-4 lg:mt-0' %>
        <% end %>
      </div>
    </div>
  </section>
</div>
