<%= turbo_stream.append "others" do %>
  <%= render 'other_videos_desktop', other_videos: @other_youtube_videos %>
  <%= render 'other_videos_mobile', other_videos: @other_youtube_videos %>
<% end %>

<%= turbo_stream.update "next_link" do %>
  <% if @pagy.next.present? %>
    <div class="mx-auto text-center">
      <%= turbo_frame_tag 'new-video-link' do %>
        <%= button_to 'Більше відео', pagy_url_for(@pagy, @pagy.next), class: 'uppercase w-4/5 xl:w-3/5 font-oswald text-white text-xl sm:text-xl md:text-base lg:text-lg xl:text-xl bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 shadow-lg shadow-pink-500/50 font-medium rounded-lg text-sm py-2.5 mb-8 mt-4 lg:mt-0' %>
      <% end %>
    </div>
  <% end %>
<% end %>
