<div class="">
  <div class="absolute inset-0 bg-cover bg-center bg-no-repeat" style="background-image: url(<%= asset_path('psyduck_background.webp') %>);"></div>
  <div class="absolute inset-0 bg-gradient-to-br from-stone-100 to-stone-200 dark:from-gray-800 dark:to-gray-900 opacity-95"></div>

  <div class="max-w-7xl mx-auto px-4 z-10 relative">

    <div class="mx-auto pt-12 lg:py-12 px-6">
      <!-- Video Title with subtle gradient text -->
      <div class="flex flex-row justify-between items-start sm:mb-2 lg:mb-4 gap-4">
        <div class="flex-1 min-w-0">
          <h1 class="line-clamp-3 sm:line-clamp-0 lg:leading-tight text-lg sm:text-xl md:text-2xl lg:text-3xl font-semibold text-stone-800 dark:text-gray-200 transition-colors duration-300 drop-shadow mb-2 md:mb-0 break-words">
            <%= @youtube_video.title %>
          </h1>
        </div>
        <div class="flex-shrink-0">
          <%= link_to youtube_videos_path,
            class: 'inline-flex items-center gap-1 text-xs sm:text-sm lg:text-base text-stone-700 dark:text-gray-300 hover:text-cyan-600 hover:underline dark:hover:text-rose-700 font-bold py-2 px-4 rounded-xl transition duration-300 whitespace-nowrap' do %>
            Всі Відео
            <svg class="w-5 h-5 ml-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4"/>
            </svg>
          <% end %>
        </div>
      </div>

      <!-- Author and Date -->
      <div class="flex items-center space-x-3 mb-4">
        <p class="text-stone-700 dark:text-gray-300 mb-2 drop-shadow text-xs md:text-base">
            <%= link_to @youtube_video.youtube_channel.title, search_index_path(search: [@youtube_video.youtube_channel.title]), class: 'inline text-stone-800 dark:text-gray-200 line-clamp-1 hover:text-cyan-600 dark:hover:text-rose-700 transition-colors duration-300' %> • 
            <%= tag.span l(@youtube_video.published_at, format: :short).downcase, class: 'inline' %>
          </p>
      </div>

      <div class="flex flex-col lg:flex-row gap-12">
        <!-- Video Player Section -->
        <div class="flex-1 overflow-hidden flex flex-col">
          <%= tag.iframe src: "https://www.youtube.com/embed/#{@youtube_video.video_id}", width: '1280', height: '720', frameborder: 0, class: 'shadow-xl rounded-xl w-full h-52 sm:h-96 lg:h-full rounded-lg w-full aspect-video object-cover', allowfullscreen: true %>
          
          <div class="mt-8 lg:my-8" id="user-content">
            <%= render 'shared/ads', advertisement: @advertisement %>
          </div>
        </div>

        <!-- Sidebar: Tags, Ad, More Videos -->
        <aside class="w-full lg:w-80 flex flex-col space-y-8">
          <!-- Tags -->
          <% if @youtube_video.tags? %>
            <section class="justify-center">
              <p class="drop-shadow uppercase leading-5 text-gray-900 dark:text-gray-100 text-lg sm:text-xl lg:text-2xl font-extrabold mb-4 ">
                Теґи <span class="text-cyan-600 dark:text-rose-700">Відео</span>
              </p>

              <div class="flex flex-wrap gap-2">
                <% @youtube_video.tags.split(', ').sample(9).each_with_index do |video_tag, idx| %>
                  <%= button_to video_tag, search_index_path, method: :get,
                    id: 'search-video-tag',
                    class: 'drop-shadow px-2 lg:px-3 py-1 rounded-md text-xs sm:text-base lg:text-xs font-semibold shadow-sm ring-1 transition duration-300 whitespace-nowrap hover:cursor-pointer focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 bg-cyan-600 dark:bg-rose-900 text-white dark:text-white ring-cyan-700 dark:ring-rose-900 hover:bg-cyan-700 dark:hover:bg-rose-800 hover:ring-cyan-800 dark:hover:ring-rose-700 hover:scale-105 inline-block',
                    form_class: 'inline-block',
                    params: { search: [video_tag] }
                  %>
                <% end %>
              </div>
            </section>
          <% end %>


          <!-- More Videos -->
          <% if @more_videos.any? %>
            <section>
              <p class="drop-shadow uppercase leading-5 text-gray-900 dark:text-gray-100 text-lg sm:text-xl lg:text-2xl font-extrabold mb-4 ">
                Від <span class="text-cyan-600 dark:text-rose-700">Автора</span>
              </p>

              <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-1 gap-3 lg:gap-0 gap-y-4 lg:gap-y-0 mb-4 lg:mb-0">
                <% @more_videos.each do |video| %>
                  <%= render 'single_video', video: %>
                <% end %>
              </div>
            </section>
          <% end %>
        </aside>
      </div>
    </div>

  </div>
</div>
