<%= tag.article class: "font-oswald p-6 mb-6 text-base rounded-lg border border-gray-200 shadow-sm #{'ml-6 lg:ml-12' if comment.parent_id.present?} #{ 'dark:bg-gray-800 dark:border-gray-700' if comments_dark_mode? }" do %>
  <div class="flex">
    <div class="w-full">
      <footer class="flex justify-between items-center mb-2 w-full">
        <div class="flex items-center">
          <%= image_tag url_for(comment.user.avatar.image), alt: comment.user.avatar.blob.filename.to_s, class: 'mr-2 w-10 h-10 rounded-full', height: '48', width: '48' %>
          <div class="">
            <%= tag.span comment.username, class: "text-md font-bold text-gray-900 #{'dark:text-white' if comments_dark_mode?}" %>
            <%= tag.p "#{time_ago_in_words(comment.created_at)} тому", class: "text-sm font-light text-gray-500 #{'dark:text-gray-400' if comments_dark_mode?}" %>
          </div>
        </div>
        <% if current_user&.id == comment.user_id %>
          <button id="dropdownComment<%= comment.id %>Button" data-dropdown-toggle="dropdownComment<%= comment.id %>" class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-500 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50 <%= 'dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-600' if comments_dark_mode? %>" type="button">
            <svg class="w-5 h-5 <%= 'dark:fill-gray-500' if comments_dark_mode? %>" aria-hidden="true" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"></path>
            </svg>
            <span class="sr-only">Comment settings</span>
          </button>
          <div id="dropdownComment<%= comment.id %>" class="hidden z-10 w-36 bg-white rounded divide-y divide-gray-100 shadow <%= 'dark:bg-gray-700 dark:divide-gray-600' if comments_dark_mode? %>">
            <ul class="py-1 text-sm text-gray-700 <%= 'dark:text-gray-200' if comments_dark_mode? %>" aria-labelledby="dropdownMenuIconHorizontalButton">
              <li>
                <%= link_to "Редагувати", edit_comment_path(comment), data: { turbo_stream: "" }, class: "block py-2 px-4 hover:bg-gray-100 #{'dark:hover:bg-gray-600 dark:hover:text-white' if comments_dark_mode?}" %>
              </li>
              <li>
                <%= link_to "Видалити", comment_path(comment), data: { "turbo-method": :delete }, class: "block py-2 px-4 hover:bg-gray-100 #{'dark:hover:bg-gray-600 dark:hover:text-white' if comments_dark_mode?}" %>
              </li>
            </ul>
          </div>
        <% end %>
      </footer>
      <%= turbo_frame_tag "comment-content-#{comment.id}" do %>
        <%= tag.p comment.content, class: "font-oswald text-md font-light mt-4 text-gray-500 whitespace-break-spaces #{'dark:text-gray-400' if comments_dark_mode?}" %>
      <% end %>
      <%= turbo_frame_tag "comment-reply-#{comment.id}" do %>
        <%= render 'comments/actions', comment: comment, commentable: @commentable %>
      <% end if current_user %>
    </div>
  </div>
<% end %>
