<article class="p-6 mb-6 text-base bg-white rounded-lg <%= 'ml-6 lg:ml-12' if comment.parent_id.present? %>">
  <footer class="flex justify-between items-center mb-2">
    <div class="flex items-center">
      <%= tag.p class: 'inline-flex items-center mr-3 text-sm text-gray-900' do %>
        <img class="mr-2 w-6 h-6 rounded-full" src="https://pm1.narvii.com/7067/09aea797323b369166d45d54dab8cad497877f10r1-800-800v2_hq.jpg">
        <%= comment.user.name %>
      <% end %>
      <%= tag.p class: 'text-sm text-gray-600' do %>
        <%= "Опубліковано #{comment.created_at.strftime('%d.%m.%Y')}" %>
        <%= turbo_frame_tag "edit-icon-#{comment.id}" do %>
          <%= render "comments/edit_icon" if comment.created_at != comment.updated_at %>
        <% end %>
      <% end %>
    </div>
  </footer>
  <%= turbo_frame_tag "comment-content-#{comment.id}" do %>
    <%= tag.p comment.content %>
  <% end %>
  <%= turbo_frame_tag "comment-reply-#{comment.id}" do %>
    <%= render 'comments/actions', comment: comment, publication: @publication %>
  <% end if current_user %>
</article>
