<div class="<%= comment.parent_id.present? ? 'ml-12 border-l-2 border-stone-200 dark:border-gray-700 pl-4' : '' %> bg-white dark:bg-gray-800 shadow-sm border border-stone-200 dark:border-gray-700 rounded-lg p-4 my-4 transition duration-300 hover:shadow-md">
  <div class="flex items-start space-x-4">
    <!-- Avatar -->
    <%= image_tag url_for(comment.user.avatar.image), alt: comment.user.avatar.blob.filename.to_s, class: 'w-10 h-10 rounded-full object-cover shadow-sm', height: '40', width: '40' %>

    <div class="flex-grow">
      <div class="flex items-center justify-between mb-2">
        <div>
          <!-- Username and timestamp -->
          <%= link_to comment.username, profile_path(comment.user.sqid), class: "text-stone-800 dark:text-gray-200 font-semibold text-#{comment.parent_id.present? ? 'sm' : 'base'} hover:text-cyan-700 dark:hover:text-rose-700 hover:underline transition-all duration-200", data: { turbo: false } %>
          <%= tag.p l(comment.created_at, format: :short).downcase, class: "text-stone-400 dark:text-gray-500 text-xs mt-1" %>
        </div>

        <!-- Edit and Delete icons -->
        <div class="flex space-x-2">
          <%= link_to edit_comment_path(comment), data: { turbo_stream: "" }, class: "text-stone-400 hover:text-stone-600 dark:text-gray-500 dark:hover:text-gray-300 transition duration-300" do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
              <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
            </svg>
          <% end if current_user&.id == comment.user_id %>
          <%= link_to comment_path(comment), data: { "turbo-method": :delete, turbo_stream: "" }, class: "text-stone-400 hover:text-stone-600 dark:text-gray-500 dark:hover:text-gray-300 transition duration-300" do %>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
            </svg>
          <% end if current_user&.id == comment.user_id %>
        </div>
      </div>

      <!-- Comment content -->
      <%= turbo_frame_tag "mobile-comment-content-#{comment.id}" do %>
        <%= tag.p comment.content, class: "text-stone-600 dark:text-gray-300 text-sm leading-relaxed pr-4 pb-2" %>
      <% end %>

      <%= turbo_frame_tag "mobile-comment-reply-#{comment.id}" do %>
        <%= render 'comments/actions', comment: comment, commentable: @commentable %>
      <% end if current_user && !comment.parent_id.present? %>
    </div>
  </div>
</div>
