<div>
  <%= f.input :commentable_id, as: :hidden, input_html: { value: commentable.id }  %>
  <%= f.input :commentable_type, as: :hidden, input_html: { value: application_record_child(commentable) }  %>
  <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id }  %>
  <%= f.input :parent_id, as: :hidden, input_html: { value: comment.parent_id } if comment.parent_id.present?  %>

  <%= tag.div class: "mb-4 w-full bg-gray-50 rounded-lg border #{ fictions? ? '' : 'border-rose-200' } #{'mb-0 mt-6' if comment.new_record? && comment.parent_id.present?} #{'dark:bg-gray-800 dark:border-gray-600' if comments_dark_mode?}" do %>
    <div class="py-2 px-4 bg-gray-50 rounded-t-lg <%= 'dark:bg-gray-800' if comments_dark_mode? %>">
      <%= f.text_area :content,
                      id: 'comment',
                      rows: '3',
                      class: "font-oswald font-light px-0 w-full text-base sm:text-xl md:text-base lg:text-lg xl:text-xl #{ fictions? ? 'text-emerald-900 placeholder-emerald-900' : 'text-rose-900 placeholder-rose-900' } bg-gray-50 border-0 focus:ring-0 #{'dark:bg-gray-800 dark:text-white dark:placeholder-gray-400' if comments_dark_mode?}",
                      placeholder: fictions? ? 'Лишити відгук...' : 'Лишити коментар...',
                      required: true %>
    </div>
    <%= tag.span comment.errors[:content].to_sentence, class: "font-oswald font-light flex font-medium tracking-wide text-red-500 text-lg ml-2 mb-2 #{'dark:text-red-400 dark:bg-gray-800' if comments_dark_mode?}" if comment.errors.any? %>

    <div class="relative flex justify-between items-center py-2 px-3 border-t <%= fictions? ? '' : 'border-rose-200' %> bg-no-repeat bg-cover bg-center bg-fixed" style="background-image: url(<%= asset_path('modal-bg.webp') %>);">
      <%= tag.div class: "absolute inset-0 bg-white opacity-90 #{'dark:bg-gray-800' if comments_dark_mode?}" %>
      <%= f.submit 'Надіслати', class: "z-10 font-oswald py-2.5 px-4 text-base sm:text-xl md:text-base lg:text-lg xl:text-xl text-white leading-5 font-light #{ fictions? ? 'bg-emerald-700 hover:bg-emerald-900' : 'bg-rose-500 hover:bg-rose-600' } rounded-lg transition ease-in-out m-0 hover:cursor-pointer" %>
      <% if comment.persisted? %>
        <%= link_to "Скасувати",
                    cancel_edit_comment_path(comment),
                    method: :get,
                    data: { turbo_stream: "" },
                    class: "z-10 font-oswald py-2.5 px-4 text-base sm:text-xl md:text-base lg:text-lg xl:text-xl leading-5 font-light rounded-lg transition ease-in-out m-0 hover:cursor-pointer border #{ fictions? ? 'hover:text-emerald-600 text-emerald-700 border-emerald-700' : 'border-rose-200 hover:bg-rose-100 text-rose-500' } #{'dark:hover:text-gray-500 dark:text-gray-400 dark:bg-gray-700 dark:border-gray-600' if comments_dark_mode?}" %>
      <% end %>
      <% if comment.new_record? && comment.parent_id.present? %>
        <%= link_to "Скасувати",
                  cancel_reply_comment_path(comment.parent_id),
                  method: :get,
                  data: { turbo_stream: "" },
                  class: "z-10 font-oswald py-2.5 px-4 text-base sm:text-xl md:text-base lg:text-lg xl:text-xl leading-5 font-light bg-white rounded-lg transition ease-in-out m-0 hover:cursor-pointer border #{ fictions? ? 'hover:text-emerald-600 text-emerald-700 border-emerald-700' : 'border-rose-200 hover:bg-rose-100 text-rose-500' } #{'dark:hover:text-gray-500 dark:text-gray-400 dark:bg-gray-700 dark:border-gray-600' if comments_dark_mode?}" %>
      <% end %>
    </div>
  <% end %>
</div>
