<%= simple_form_for comment, url: comments_path, method: :post, html: { class: "comment form mb-6" } do |f| %>
  <%= f.input :commentable_id, as: :hidden, input_html: { value: @tale.id }  %>
  <%= f.input :commentable_type, as: :hidden, input_html: { value: @tale.class }  %>
  <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id }  %>

  <div class="py-2 px-4 mb-4 bg-white rounded-lg rounded-t-lg border border-gray-200">
    <%= f.text_area :content,
                    id: 'comment',
                    rows: '6',
                    class: 'px-0 w-full text-sm text-gray-900 border-0 focus:ring-0',
                    placeholder: 'Лишити коментар...',
                    required: true %>
  </div>

  <div>
    <%= f.submit 'Надіслати', class: 'inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 hover:bg-primary-800' %>
  </div>
<% end %>