<div class="comments-grid grid gap-2.5 mb-8">
  <% comments.each do |comment| %>
    <div class="comment-item">
      <div class="content">
        <article class="p-4 bg-white rounded-lg border border-gray-200 shadow-md my-2">
          <div class="relative overflow-hidden rounded-lg group mb-2">
            <%= link_to comment_url(comment) do %>
              <%= image_tag comment_cover(comment.commentable), alt: comment_alt(comment.commentable), class: 'object-cover w-full h-56 scale-100 ease-in duration-300 group-hover:scale-125' %>
            <% end %>
          </div>
          <%= tag.span comment_class(comment.commentable), class: "#{klass_styles(comment.commentable)} text-xs font-semibold mr-2 px-2.5 py-0.5 rounded" %>
          <h2 class="my-2 text-2xl font-bold tracking-tight text-gray-900 hover:underline">
            <%= link_to commentable_title(comment.commentable), comment_url(comment) %>
          </h2>
          <%= tag.p comment.content, class: 'mb-4 font-light text-gray-500 overflow-hidden whitespace-break-spaces' %>
          <div class="flex items-center space-x-4">
            <%= image_tag url_for(comment.user.avatar.image), alt: comment.user.avatar.blob.filename.to_s, class: 'w-10 h-10 rounded-full', height: '44', width: '44' %>
            <div class="font-medium">
              <%= tag.div comment.username %>
              <%= tag.div l(comment.created_at, format: :short).downcase, class: 'text-sm font-normal text-gray-500' %>
            </div>
          </div>
        </article>
      </div>
    </div>
  <% end %>
</div>

<% if pagy.page != pagy.pages %>
  <div>
    <div class="relative w-full pr-2 xl:p-0">
      <h2 class="relative w-full text-center mb-4">
        <hr class="absolute l-0 w-full z-0 h-px bottom-1/2">
        <%= tag.span "Коментарі (#{pagy.page * 40 + 1} - #{pagy.page * 40 + 40})", class: "inline-block text-white font-bold leading-none px-4 py-2 relative uppercase -skew-x-12 z-10 bg-gradient-to-r from-fuchsia-400 via-fuchsia-500 to-fuchsia-600 hover:bg-gradient-to-br shadow-lg shadow-fuchsia-500/50" %>
      </h2>
    </div>
  </div>
<% end %>

<script>
  document.addEventListener('turbo:load', initializeGrid());
</script>