<section class="z-10 relative font-oswald">
  <div class="gap-4 items-center pb-2 md:py-4 mx-4 2xl:mx-auto 2xl:pl-2 max-w-screen-2xl grid-cols-5 lg:grid lg:grid-cols-8 xl:gap-16">
    <div class="col-span-8 grid grid-cols-6 gap-4 xl:gap-8 self-start">
      <div class="md:col-span-2 hidden md:block">
        <%= image_tag url_for(fiction.cover), class: 'hidden h-[24rem] mx-auto md:flex rounded-lg object-cover shadow-xl', alt: fiction.cover.blob.filename  %>
        <% if fiction.description.size > 500 && fiction.genres.any? %>
          <div class="mt-4 overflow-hidden break-words text-center">
            <% fiction.genres.each do |genre| %>
              <%= tag.p "##{genre.name}", class: 'inline-block tracking-widest leading-4 text-sm font-semibold mr-2 whitespace-nowrap uppercase text-emerald-600' %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="text-gray-500 sm:text-xl col-span-6 md:col-span-4">
        <div class="w-full float-left rounded-xl mb-2 md:mt-1 md:mb-1 lg:mt-0">
          <div class="float-left mt-1">
            <span class="inline relative text-emerald-700 leading-4 text-sm sm:text-base">Оновлено</span>
            <%= image_tag 'circle.svg', class: 'h-1 mx-px inline-block', alt: 'circle' %>
            <% if fiction.chapters.any? %>
              <%= tag.span "#{time_ago_in_words(fiction.chapters.order(created_at: :desc).first.created_at) } тому", class: 'inline relative leading-4 text-sm sm:text-base text-gray-700' %>
            <% else %>
              <%= tag.span "#{time_ago_in_words(fiction.updated_at) } тому", class: 'inline relative leading-4 text-sm sm:text-base text-gray-700' %>
            <% end %>
          </div>
          <span class="text-gray-500 text-sm float-right mr-2 mt-2.5 flex align-center">
            <%= image_tag 'eye.svg', class: 'h-4 inline-block', alt: 'views', height: '16', width: '16' %>
            <%= tag.span fiction.views, class: 'ml-1 inline-block' %>
          </span>
          <span class="text-gray-500 text-sm float-right mr-2 mt-2.5 flex align-center">
            <%= image_tag 'comment.svg', class: 'h-4 inline-block', alt: 'comments', height: '16', width: '16' %>
            <%= tag.span fiction.comments_count, class: 'ml-1 inline-block' %>
          </span>
        </div>

        <%= tag.h2 fiction.title, class: 'mb-4 text-2xl tracking-tight font-extrabold text-gray-900 md:text-3xl' %>
        <% if fiction.description.size < 500 && fiction.genres.any? %>
          <div class="mb-4 overflow-hidden break-words">
            <% fiction.genres.each do |genre| %>
              <%= tag.p "##{genre.name}", class: 'inline-block tracking-widest leading-4 text-sm font-semibold mr-2 whitespace-nowrap uppercase text-emerald-600' %>
            <% end %>
          </div>
        <% elsif fiction.genres.any? %>
          <div class="block md:hidden mb-4 overflow-hidden break-words">
            <% fiction.genres.each do |genre| %>
              <%= tag.p "##{genre.name}", class: 'inline-block tracking-widest leading-4 text-sm font-semibold mr-2 whitespace-nowrap uppercase text-emerald-600' %>
            <% end %>
          </div>
        <% end %>
        <%= tag.p fiction.description, class: 'mb-4 font-light text-base lg:text-lg whitespace-break-spaces' %>

        <div class="flex items-center gap-4">
          <%= link_to fiction_path(fiction), class: 'text-white bg-emerald-700 justify-center hover:bg-emerald-800 inline-flex items-center  focus:ring-4 focus:outline-none focus:ring-emerald-300 font-medium rounded-lg text-base px-5 py-2.5 text-center', role: 'button' do %>
            Переглянути
            <svg aria-hidden="true" class="w-5 h-5 ml-2 -mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          <% end %>
          <%= link_to 'Читати з початку',
                        chapter_path(ordered_chapters(fiction).first),
                        class: 'px-5 py-2.5 text-base font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-emerald-700 focus:z-10 focus:ring-4 focus:ring-gray-200',
                        role: 'button' if fiction.chapters.any? %>
        </div>
      </div>
    </div>
  </div>
</section>
