<div class="flex flex-wrap gap-3" data-controller="search-filter">
  <button type="button"
      data-action="click->search-filter#filter"
      data-search-filter-url-value="/search?<%= { search: params[:search], filter: 'all' }.to_query %>"
      class="px-4 py-2 rounded-lg text-sm font-semibold transition duration-300 cursor-pointer <%= params[:filter] != 'video' && params[:filter] != 'fiction' && params[:filter] != 'blog' ? 'bg-cyan-700 dark:bg-rose-700 text-white' : 'bg-gray-100 dark:bg-gray-700 text-gray-700 dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-gray-600' %>">
    Усе
  </button>
  
  <button type="button"
      data-action="click->search-filter#filter"
      data-search-filter-url-value="/search?<%= { search: params[:search], filter: 'video' }.to_query %>"
      class="px-4 py-2 rounded-lg text-sm font-semibold transition duration-300 cursor-pointer <%= params[:filter] == 'video' ? 'bg-cyan-700 dark:bg-rose-700 text-white' : 'bg-gray-100 dark:bg-gray-700 text-gray-700 dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-gray-600' %>">
    Відео
  </button>
  
  <button type="button"
      data-action="click->search-filter#filter"
      data-search-filter-url-value="/search?<%= { search: params[:search], filter: 'blog' }.to_query %>"
      class="px-4 py-2 rounded-lg text-sm font-semibold transition duration-300 cursor-pointer <%= params[:filter] == 'blog' ? 'bg-cyan-700 dark:bg-rose-700 text-white' : 'bg-gray-100 dark:bg-gray-700 text-gray-700 dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-gray-600' %>">
    Новини
  </button>
  
  <button type="button"
      data-action="click->search-filter#filter"
      data-search-filter-url-value="/search?<%= { search: params[:search], filter: 'fiction' }.to_query %>"
      class="px-4 py-2 rounded-lg text-sm font-semibold transition duration-300 cursor-pointer <%= params[:filter] == 'fiction' ? 'bg-cyan-700 dark:bg-rose-700 text-white' : 'bg-gray-100 dark:bg-gray-700 text-gray-700 dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-gray-600' %>">
    Ранобе
  </button>
</div>
