<li class="relative float-left w-full mt-0 mb-4 z-10">
  <%= link_to tale_path(result.slug) do %>
    <div class="relative w-full float-right md:ml-[-370px] xl:ml-[-410px]">
      <div class="relative md:float-left leading-none mr-0 md:mr-7 overflow-hidden md:w-80 xl:w-[23rem]">
        <%= image_tag url_for(result.cover), alt: result.cover.blob.filename.to_s, class: "w-full rounded-xl h-80 sm:h-96 md:h-44 xl:h-48 object-cover" %>
        <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out" style="background-color: rgba(251, 251, 251, 0.2)"></div>
      </div>
      <div class="md:ml-[370px] lg:ml-[410px]">
        <div class="mt-2 xl:mt-4 w-full float-left relative">
          <div class="mb-2 w-full float-left">
            <%= tag.span "Опубліковано: #{l(result.created_at, format: :short).downcase}", class: 'ml-1 text-gray-500 text-sm lg:text-xs relative float-left' %>
            <span class="text-gray-500 text-xs float-right mr-4 flex align-center">
              <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-width="2" d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z"/>
                <path stroke="currentColor" stroke-width="2" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
              </svg>
              <%= tag.span result.views, class: 'ml-1 inline-block' %>
            </span>
            <span class="text-gray-500 text-xs float-right mr-4 flex align-center">
              <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 17h6l3 3v-3h2V9h-2M4 4h11v8H9l-3 3v-3H4V4Z"/>
              </svg>
              <%= tag.span result.comments_count, class: 'ml-1 inline-block' %>
            </span>
          </div>
          <%= tag.h2 result.title, class: ' text-gray-800 float-left text-3xl md:text-2xl font-bold tracking-tight w-full' %>
          <%= tag.p punch(result.description.to_plain_text), class: 'float-left w-full text-base xl:text-sm font-light leading-5 text-gray-600 mt-2' %>
        </div>
      </div>
    </div>
  <% end %>
</li>
