<li class="relative float-left w-full mt-0 mb-4">
  <%= link_to tale_path(result.slug) do %>
    <div class="relative w-full float-right md:ml-[-370px] xl:ml-[-410px]">
      <div class="rounded-xl leading-none relative float-left overflow-hidden mr-2 xl:mr-7 md:w-[22rem] xl:w-[23rem]">
        <%= image_tag url_for(result.cover), alt: result.cover.blob.filename.to_s, class: "rounded-xl w-full h-auto" %>
        <div class="rounded-xl absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out" style="background-color: rgba(251, 251, 251, 0.2)"></div>
      </div>
      <div class="md:ml-[370px] lg:ml-[410px]">
        <div class="mt-2 xl:mt-4 w-full float-left relative">
          <div class="mb-2 w-full float-left">
            <%= tag.span "Опубліковано: #{time_ago_in_words(result.created_at)} тому", class: 'ml-1 text-gray-500 text-sm lg:text-xs relative float-left' %>
            <span class="text-gray-500 text-xs float-right mr-4 flex align-center">
              <%= image_tag 'eye.svg', class: 'h-4 inline-block', alt: 'views' %>
              <%= tag.span result.views, class: 'ml-1 inline-block' %>
            </span>
          </div>
          <%= tag.h2 result.title, class: 'font-oswald text-gray-800 float-left text-3xl md:text-2xl font-bold tracking-tight w-full' %>
          <%= tag.p punch(result.description.to_plain_text), class: 'float-left w-full text-base xl:text-sm font-light leading-5 text-gray-600 mt-2' %>
        </div>
      </div>
    </div>
  <% end %>
</li>
