<div id="search-page">
  <h1 class="float-left text-gray-800 dark:text-gray-100 font-bold tracking-tight mr-0 text-center w-full text-4xl mb-4 lg:mb-8">Результати Пошуку:</h2>
  <div class="relative float-left w-full sm:-mr-96">
    <main class="mr-4 lg:mr-96">
      <div class="lg:hidden mb-4">
        <div class="h-full px-3 overflow-y-auto  flex items-center justify-center">
          <%= render 'filter_options', fictions:, results:, videos: %>
        </div>
      </div>
      <div class="relative float-left w-full min-h-[32rem] ml-2 xl:ml-0">
        <% if results.any? || fictions.any? || videos.any? %>
          <%= render 'publication_results', results: results unless params[:only_fictions] || params[:only_videos] %>
          <%= render 'fiction_results', fictions: fictions, results: results unless params[:only_publications] || params[:only_videos] %>
          <%= render 'video_results', fictions: fictions, results: results, videos: videos unless params[:only_publications] || params[:only_fictions] %>
        <% else %>
          <%= tag.p "Даруйте, та збігів за запитом не знайдено.", class: "w-full leading-5 text-gray-600  text-xl" %>
        <% end %>
      </div>
    </main>
    <aside class="top-8 invisible lg:visible float-right h-[45rem]">
      <div class="float-left relative ml-14 w-80">
        <%= render 'shared/divider_shiny_pink', caption: 'Фільтр' %>
        <div id="default-sidebar" aria-label="Sidebar">
          <div class="h-full px-3 overflow-y-auto ">
            <%= render 'filter_options', fictions:, results:, videos: %>
          </div>
        </div>
      </div>
    </aside>
  </div>
</div>