<section>
  <div class="md:hidden flex justify-between items-center mb-2">
    <%= render 'shared/divider_shiny_pink', caption: params[:search].join.split.map(&:capitalize).join(' ') %>
  </div>
  <div class="hidden lg:mx-1 w-full sm:flex justify-center max-h-[145px] sm:max-h-[235px] md:max-h-[315px] lg:max-h-[400px]">
    <div class="bg-black mb-4 overflow-hidden w-full sm:w-11/12 lg:w-full rounded-xl">
      <%= render 'tag_main', publication: results.first %>
    </div>
  </div>
  <div class="flex sm:hidden justify-center items-center h-full">
    <%= render 'tag_secondary', publications: results.first(1) %>
  </div>

  <% if results.size > 1 %>
    <div class="flex justify-center items-center h-full">
      <%= render 'tag_secondary', publications: results[1..4] %>
    </div>
  <% end %>

  <%= render 'tag_fictions', fictions: fictions if fictions.any? %>
  <%= render 'tag_videos', videos: videos if videos.any? %>

  <% if results.size > 5 %>
    <div class="flex justify-between items-center mt-6">
      <%= render 'shared/divider_shiny_pink', caption: 'Більше Новин' %>
    </div>
    <div class="py-2 px-2 mx-auto max-w-screen-xl lg:py-4 lg:px-6">
      <div class="grid gap-1 grid-cols-1 sm:grid-cols-2 lg:gap-4 md:grid-cols-3">
        <% results[5...].each do |result| %>
          <%= render 'hero_publication', publication: result %>
        <% end %>
      </div>
    </div>
  <% end %>
</section>
