<div class="mt-2 float-left relative w-full mb-1 flex justify-center font-oswald">
  <div class="rounded-xl float-left relative w-4/5 overflow-hidden mb-1">
    <%= link_to youtube_video_path(video) do %>
      <%= image_tag url_for(video.thumbnail), alt: video.title, class: "rounded-md opacity-80 m-auto w-full l-[-9999px] r-[-9999px] max-h-96 object-cover", width: 320, height: 144 %>
      <div class="z-10 rounded-md absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out" style="background-color: rgba(255, 255, 255, 0.2)"></div>
    <% end %>
  </div>
  <div class="grid grid-cols-6 gap-1 w-full float-left flex items-center ml-4">
    <div class="col-span-6">
      <div class="flex text-gray-500 text-sm mb-2 lg:mb-0">
        <div>
          <%= link_to video.youtube_channel.title, search_index_path(search: [video.youtube_channel.title]), class: 'hidden sm:inline text-rose-700 sm:text-base hover:underline font-light' %>
          <%= tag.span "∘", class: 'hidden sm:inline sm:text-sm font-light' %>
          <%= tag.span "#{time_ago_in_words(video.published_at)} тому", class: 'hidden sm:inline sm:text-sm font-light' %>
          <div class="line-clamp-3 sm:my-2">
            <%= link_to video.title, youtube_video_path(video), class: 'tracking-tight leading-6 sm:leading-6 md:leading-6 lg:leading-6 text-gray-700 text-base sm:text-xl md:text-2xl lg:text-2xl w-full hover:text-gray-600 hover:underline' %>
          </div>
          <%= tag.div class: 'w-full line-clamp-1 sm:line-clamp-3 mb-1' do %>
            <% video.tags.split(', ').each do |video_tag| %>
              <%= button_to video_tag, search_index_path, method: :get, class: 'bg-rose-100 text-rose-700 text-xs lg:text-sm font-semibold px-2.5 py-0.5 my-1 rounded hover:bg-rose-700 hover:text-rose-100 inline-block', form_class: 'inline-block', params: { search: [video_tag] } %>
            <% end %>
          <% end if video.tags? %>
        </div>
      </div>
    </div>
  </div>
</div>
