<section class="h-full gradient-form py-64 z-10">
  <div class="md:container md:shadow-2xl mx-auto grid max-w-7xl pl-4 grid-cols-12 relative">
    <div class="w-full place-self-center col-span-12 md:col-span-6">
      <div class="p-8 rounded-lg mx-auto">
        <h1 class="font-oswald mb-3 sm:mb-4 md:mb-3 xl:mb-4 leading-10 text-2xl sm:text-4xl md:text-2xl lg:text-3xl xl:text-4xl font-bold">Вітаємо з поверненням!</h1>
        <p class="font-oswald leading-8 text-lg sm:text-2xl md:text-lg lg:text-xl xl:text-2xl text-gray-500">Досі не з нами? Приєднуйтеся до світу аніме вже зараз!
          <%= link_to 'Зареєструватися', new_user_registration_path, class: 'font-bold hover:underline text-emerald-700' %>
        </p>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
          <div class="grid grid-cols-2 gap-6 mt-2 sm:mt-3 md:mt-2 xl:mt-3">
            <div>
              <%= f.input :email,
                          id: 'email',
                          required: true,
                          autofocus: true,
                          label: "Електронна Адреса",
                          placeholder: "user@baka.in.ua",
                          input_html: {
                            autocomplete: "email",
                            class: "font-oswald text-base w-full p-2.5 md:p-2 lg:p-2.5 block rounded-lg border-2 leading-5"
                          },
                          label_html: {
                            class: 'font-oswald text-lg sm:text-2xl md:text-lg lg:text-xl xl:text-2xl font-bold my-4 block leading-5'
                          } %>
            </div>
            <div>
              <%= f.input :password,
                          id: 'password',
                          required: true,
                          autofocus: true,
                          label: "Пароль",
                          placeholder: "***********",
                          input_html: {
                            autocomplete: "current-password",
                            class: "font-oswald text-base w-full p-2.5 md:p-2 lg:p-2.5 block rounded-lg border-2 leading-5"
                          },
                          label_html: {
                            class: 'font-oswald text-lg sm:text-2xl md:text-lg lg:text-xl xl:text-2xl font-bold my-4 block leading-5'
                          } %>
            </div>
          </div>
          <div class="space-y-reverse mt-5 sm:mt-6 md:mt-5 xl:mt-6 justify-between flex">
            <div></div>
            <%= link_to 'Забули пароль?', new_user_password_path, class: 'font-oswald text-lg sm:text-2xl md:text-lg lg:text-xl xl:text-2xl leading-5 font-bold hover:underline text-emerald-700' %>
          </div>
          <%= f.button :submit, "Увійти", class: "space-y-reverse uppercase w-full rounded-lg px-5 py-2 sm:py-3 md:py-2 xl:py-3 text-center font-oswald text-lg sm:text-2xl md:text-lg lg:text-xl xl:text-2xl leading-5 font-bold bg-emerald-700 text-white mt-6 transition ease-in-out m-0 hover:bg-emerald-800 hover:cursor-pointer" %>
        <% end %>
      </div>
    </div>
    <div class="mr-auto place-self-center col-span-6 shadow-lg invisible md:visible">
      <%= image_tag 'login.jpg', alt: 'login', class: 'align-middle mx-auto flex rounded-lg' %>
    </div>
  </div>
</section>

