<%= f.input :type, as: :hidden, input_html: { value: 'Tale' } %>
<%= f.input :user_id, as: :hidden, input_html: { value: publication.user&.id || current_user.id } %>

<div class="py-4 border-gray-200 sm:py-5">
  <div class="lg:grid gap-4 md:gap-6 lg:grid-cols-3">
    <div class="space-y-4 sm:space-y-6">
      <div>
        <%= f.label :title, 'Заголовок', class: 'block mb-2 text-sm font-medium text-gray-900' %>
        <%= f.input :title, input_html: { class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-600 focus:border-emerald-600 block w-full p-2.5 #{'border-red-300' if publication.errors[:title].any?}" }, label: false, placeholder: 'Додайте заголовок' %>
        <%= tag.p publication.errors[:title].to_sentence(two_words_connector: "", last_word_connector: ""), class: 'text-sm text-red-600' if publication.errors[:title].any? %>
      </div>
      <div>
        <%= f.label :tag_ids, 'Теґи', class: 'block mb-2 text-sm font-medium text-gray-900' %>
        <%= f.select :tag_ids, options_for_select(tags.pluck(:name, :id), selected: f.object.tags.ids), {}, { data: { controller: 'slim' }, multiple: true, class: 'font-oswald bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-emerald-500 focus:border-emerald-500 block w-full p-2.5' } %>
      </div>
      <div>
        <%= f.label :cover, 'Обкладинка', class: 'block mb-2 text-sm font-medium text-gray-900' %>
        <div class="flex justify-center items-center w-full">
          <%= f.label :cover, class: "flex flex-col justify-center items-center w-full h-64 bg-gray-50 rounded-lg border-2 border-gray-300 border-dashed cursor-pointer #{'border-red-300' if publication.errors[:cover].any?}" do %>
            <div class="flex flex-col justify-center items-center pt-5 pb-6">
              <svg aria-hidden="true" class="mb-3 w-10 h-10 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path></svg>
              <p class="mb-2 text-sm text-gray-500"><span class="font-semibold">Натисніть,</span> аби обрати файл</p>
              <p class="mb-4 text-xs text-gray-500">SVG, PNG, JPEG чи WebP</p>
            </div>
            <%= f.file_field :cover, class: "hidden", label: false, data: { action: "change->dropzone#update" } %>
            <%= tag.div f.object.cover.blob&.filename || nil, id: 'image_name', class: 'text-center text-sm text-gray-500' %>
          <% end %>
        </div>
        <%= tag.p publication.errors[:cover].to_sentence(two_words_connector: "", last_word_connector: ""), class: 'text-sm text-red-600' if publication.errors[:cover].any? %>
      </div>
      <% if current_user.admin? %>
        <div class="flex items-center">
          <%= f.input :highlight, as: :boolean, type: 'checkbox', label: false, input_html: { class: 'w-4 h-4 text-emerald-600 bg-gray-100 rounded border-gray-300 focus:ring-emerald-500' } %>
          <label for="inline-checkbox" class="ml-2 text-sm text-gray-500 mt-1">Додати цю звістку до центральної секції головної сторінки</label>
        </div>
      <% end %>
    </div>
    <div class="mt-4 lg:mt-0 space-y-4 sm:space-y-6 col-span-2">
      <div>
        <label for="description" class="block text-sm font-medium text-gray-900">Зміст</label>
        <div class="py-2 rounded-b-lg">
          <%= f.text_area :description, placeholder: "Додайте зміст", label: false, class: "tinymce block px-0 w-full focus:ring-0" %>
          <%= tag.p publication.errors[:description].to_sentence(two_words_connector: "", last_word_connector: ""), class: 'text-base text-red-600' if publication.errors[:description].any? %>
        </div>
      </div>
    </div>
  </div>
  <%= f.submit "Надіслати", class: "inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-emerald-700 rounded-lg focus:ring-4 focus:ring-emerald-200 hover:bg-emerald-800" %>
</div>
