<%= tag.div class: 'lg:mb-20 mb-10' do %>
  <%= link_to "Створити",
              static_variables[:new_publication_path],
              class: "float-right mt-1 content-center text-teal-700 hover:text-white border border-teal-700 hover:bg-teal-800 focus:ring-4 focus:outline-none focus:ring-teal-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" if (controller_path == 'blogs' || controller_path == 'admin/tales')
            %>
<% end %>
<% publications.in_groups_of(2) do |group| %>
  <div class="grid gap-8 lg:grid-cols-2">
    <% group.each do |publication| %>
      <% if publication.present? %>
        <% variables = dynamic_variables(publication.slug) %>
        <article class="pt-6 rounded-lg border border-gray-200 shadow-md mb-2">
          <div class="items-center mb-5 text-gray-500">
            <%= render 'blogs/status_alert', status: publication.status, message: publication.status_message if controller_path == 'blogs' %>
            <%= tag.span "Створено #{publication.created_at.strftime("%d.%m.%Y")}", class: 'font-oswald text-sm text-justify px-6' %>
            <% if controller_path != 'admin/blogs' && ((publication.instance_of?(Tale) && current_user.admin?) || (publication.instance_of?(Blog) && current_user.id == publication.user_id)) %>
              <div class="w-7 float-right mr-6">
                <%= link_to publication_path(publication), data: { turbo_confirm: 'Певні, що прагнете видалити цю публікацію?', "turbo-method": :delete } do %>
                  <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="stroke-red-800">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"></path>
                  </svg>
                <% end %>
              </div>
              <div class="w-7 float-right mr-2">
                <%= link_to variables[:edit_publication_path] do %>
                  <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"></path>
                  </svg>
                <% end %>
              </div>
            <% end %>
          </div>
          <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-800 px-6">
            <% if controller_path == 'admin/blogs' %>
              <%= tag.p publication.title %>
            <% else %>
              <%= link_to publication.title.truncate(55), variables[:show_publication_path], class: 'font-oswald' %>
            <% end %>
          </h2>
          <%= tag.p publication.description.to_plain_text.truncate(90), class: 'mb-2 font-light text-gray-500 px-6 font-oswald' %>

          <div class="my-2 mx-2">
            <% publication.publication_tags.each do |publication_tag| %>
                <%= render 'admin/tags/publication_tag', publication_tag: publication_tag %>
            <% end %>
          </div>
          <% if controller_path == 'admin/blogs' %>
            <div class="flex justify-between items-center px-6 pb-6">
              <div class="flex items-center space-x-4">
                <%= image_tag url_for(publication.user.avatar.image), alt: publication.user.avatar.blob.filename.to_s, class: 'w-12 h-12 rounded-full' %>
                <%= tag.span publication.user.name, class: 'font-medium' %>
              </div>
              <%= link_to edit_admin_blog_path(publication), class: 'inline-flex items-center font-medium hover:underline' do %>
                Переглянути
                <svg class="ml-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                </svg>
              <% end %>
            </div>
          <% end %>
        </article>
      <% end %>
    <% end %>
  </div>
<% end %>