<article class="block w-full relative float-left bg-white pl-2 xl:pl-0">
 <div class="w-full relative">
    <div class="my-0 mx-auto lg:w-[1200px] h-full">
      <div class="relative w-full mx-0">
        <div class="relative float-left w-full -mr-96">
          <main class="mx-1 md:mr-96">
            <div class="relative float-left w-full">
              <div class="w-full relative mt-6">
                <%= render 'publications/header', publication: publication %>
              </div>
              <div class="mb-7 text-center w-full relative">
                <%= image_tag url_for(publication.cover), alt: publication.cover.blob.filename.to_s, class: "rounded-lg w-full h-auto" %>
              </div>
              <div class="w-full relative mb-8">
                <div class="leading-6 w-full relative pr-2 md:pr-0">
                  <%= publication.description %>
                </div>
              </div>
              <div class="w-full relative mb-8">
                <div class="mt-2 w-full relative">
                  <%= render 'shared/divider', caption: 'Інші Новини' %>
                  <ul class="grid grid-cols-3 gap-4 list-none w-full">
                    <% @more_tales.each do |tale| %>
                      <%= link_to tale_path(tale) do %>
                        <li class="ml-0 overflow-hidden w-full">
                          <div class="rounded-xl leading-none mb-2 w-full relative h-28 sm:h-36 md:h-28 lg:h-44 flex items-center">
                            <%= image_tag url_for(tale.cover), alt: tale.cover.blob.filename.to_s, class: "rounded-xl w-full h-auto" %>
                            <div class="rounded-xl absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                          </div>
                          <div class="font-oswald relative text-gray-800 tracking-tight w-full h-auto text-xs sm:text-base md:text-sm lg:text-base">
                            <%= tag.p tale.title %>
                          </div>
                        </li>
                      <% end %>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          </main>
          <aside class="sticky top-24 invisible md:visible">
            <div class="float-left relative ml-14 w-80">
              <%= render 'shared/ads', advertisement: @advertisement %>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
</article>
