<div id="chapters-accordion-collapse-body-<%= fiction.id %>" class="<%= 'hidden' unless params["chapter_page_#{fiction.slug}"] %>" aria-labelledby="chapters-accordion-collapse-heading-<%= fiction.id %>">
  <div class="border-gray-200">
    <% if pagination&.second&.any? %>
      <ul class="divide-y divide-gray-200">
        <% pagination.second.each do |chapter| %>
          <li class="py-2 mx-4">
            <div class="flex items-center space-x-4">
              <div class="flex-1 min-w-0">
                <%= tag.p chapter.display_title, class: 'text-sm font-semibold text-gray-900 truncate' %>
                <div class="flex">
                  <%= tag.p "#{time_ago_in_words(chapter.created_at)} тому", class: 'text-xs font-normal text-gray-500 truncate inline-block' %>
                  <span class="text-gray-500 ml-3 text-xs mt-1 flex align-center">
                    <%= image_tag 'comment.svg', class: 'h-4 inline-block', alt: 'comments', height: '16', width: '16' %>
                    <%= tag.span chapter.comments_count, class: 'ml-1 inline-block' %>
                  </span>
                  <span class="text-gray-500 ml-3 text-xs mt-1 flex align-center">
                    <%= image_tag 'eye.svg', class: 'h-4 inline-block', alt: 'views', height: '16', width: '16' %>
                    <%= tag.span chapter.views, class: 'ml-1 inline-block' %>
                  </span>
                </div>
              </div>
              <%= render 'users/dashboard/chapter_controls', chapter: chapter, fiction: fiction, pagination: pagination %>
            </div>
          </li>
        <% end %>
      </ul>
      <div class="space-y-4 sm:flex sm:space-x-4 sm:space-y-0">
        <div class="w-full">
          <div class="pagy-nav ml-4 mt-2 my-2">
            <%== pagy_nav(pagination.first) if pagination.first.pages > 1 %>
          </div>
        </div>
        <div class="w-full">
          <div class="mb-2 ml-4 sm:ml-0 mt-6 sm:mt-3 mr-8 sm:float-right">
            <%= link_to "Додати Розділ", new_chapter_path(fiction: fiction), data: { turbo: false }, class: 'text-white bg-emerald-700 hover:bg-emerald-800 focus:ring-4 focus:ring-emerald-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center' %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="mt-4 ml-6 font-light text-gray-500 md:text-lg">
        Ця історія ще не має розділів! Виправте це, <%= link_to 'додавши перший!', new_chapter_path(fiction: fiction), data: { turbo: false }, class: 'inline-flex items-center text-lg font-medium text-emerald-600 hover:underline' %>
      </div>
    <% end %>
  </div>
</div>
