<div class="inline-flex items-center">
  <%= link_to chapter_path(chapter.slug), data: { turbo: false } do %>
    <%= image_tag 'view.svg', class: 'h-5 md:h-6 lg:h-7 inline-block mx-1 transform transition duration-500 hover:scale-110', alt: 'views' %>
  <% end %>
  <%= link_to edit_chapter_path(chapter.slug), data: { turbo: false } do %>
    <%= image_tag 'edit.svg', class: 'h-5 md:h-6 lg:h-7 inline-block mx-2 transform transition duration-500 hover:scale-110', alt: 'views' %>
  <% end %>
  <%= sweetalert(delete_icon, { description: I18n.t('sweetalert.chapters.description'), message: I18n.t('sweetalert.chapters.message'), tag_id: nil, url: chapter_path(chapter, "chapter_page_#{fiction.slug}": pagination.first.page) } ) %>
</div>