<div class="relative z-10 space-y-12">
  <% if current_user.scanlators.any? || current_user.admin? %>
    <div class="flex items-center justify-between">
      <%= tag.h2 "Мої Твори", class: 'text-4xl font-extrabold text-stone-900 tracking-tight' %>
      <%= link_to "Додати Роботу", new_fiction_path, data: { turbo: false }, class: 'bg-gradient-to-r from-stone-900 to-stone-700 text-white font-semibold rounded-full px-8 py-3 text-sm shadow-lg hover:scale-105 transition-all' %>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10">
      <% fictions.each do |fiction| %>
        <div class="relative flex flex-col bg-white/70 backdrop-blur-lg border border-stone-300 rounded-xl shadow-lg hover:shadow-xl transition-all overflow-hidden">
          <div class="p-6 flex flex-col flex-1">
            <%= link_to fiction_path(fiction), class: "text-xl font-semibold text-stone-900 group-hover:text-stone-700 transition-colors" do %>
              <%= fiction.title %>
            <% end %>
            <p class="text-sm text-stone-600 mt-2">Перегляди: <%= fiction.views %> | Коментарі: <%= fiction.comments_count %></p>
            <div class="mt-4">
              <%= render 'users/dashboard/fiction_controls', fiction: %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <% if pagy.pages > 1 %>
      <div class="flex justify-center mt-12">
        <div class="pagy-nav">
          <%== pagy_nav(pagy) %>
        </div>
      </div>
    <% end %>
  <% else %>
    <%= render 'users/dashboard/no_scanlators_screen' %>
  <% end %>
</div>
