<div class="flow-root" data-controller="accordion">
  <%= tag.h3 "Твори та Переклади (#{pagy.count})", class: 'text-xl' %>
  <ul class="divide-y divide-gray-200">
    <% fictions.each do |fiction| %>
      <li class="py-4">
        <div class="flex items-center space-x-4">
          <div class="flex-1 min-w-0">
            <%= tag.p fiction.title, class: 'text-base font-semibold text-gray-900 truncate' %>
            <div class="flex">
              <%= tag.p "#{time_ago_in_words(fiction.created_at)} тому", class: 'text-sm font-normal text-gray-500 truncate inline-block' %>
              <span class="text-gray-500 ml-3 text-xs mt-1 flex align-center">
                <%= image_tag 'comment.svg', class: 'h-4 inline-block', alt: 'comments' %>
                <%= tag.span fiction.comments_count, class: 'ml-1 inline-block' %>
              </span>
              <span class="text-gray-500 ml-3 text-xs mt-1 flex align-center">
                <%= image_tag 'eye.svg', class: 'h-4 inline-block', alt: 'views' %>
                <%= tag.span fiction.views, class: 'ml-1 inline-block' %>
              </span>
            </div>
          </div>
          <%= render 'users/dashboard/fiction_controls', fiction: fiction %>
        </div>
        <div id="chapters-accordion-collapse" data-accordion="collapse">
          <h2 id="chapters-accordion-collapse-heading-<%= fiction.id %>">
            <button type="button" class="flex justify-between items-center py-4 px-4 w-full font-medium leading-none text-left text-gray-500 bg-gray-50 border-gray-200 sm:px-5" data-accordion-target="#chapters-accordion-collapse-body-<%= fiction.id %>" aria-expanded="false" aria-controls="chapters-accordion-collapse-body-<%= fiction.id %>">
              <span>Розділи</span>
              <svg data-accordion-icon="" class="w-6 h-6 transform shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </button>
          </h2>
          <%= turbo_frame_tag "chapter-list-#{fiction.slug}" do %>
            <%= render 'users/dashboard/chapter_list', fiction: fiction, pagination: @paginators[fiction.slug][:paginated_chapters] %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
  <div class="">
    <div class="float-left mt-3">
      <%= link_to "Додати Роботу", new_fiction_path, data: { turbo: false }, class: 'text-white bg-emerald-700 hover:bg-emerald-800 focus:ring-4 focus:ring-emerald-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center' %>
    </div>
    <div class="pagy-nav mt-8 sm:mt-0 float-right my-2">
      <%== pagy_nav(pagy) if pagy.pages > 1 %>
    </div>
  </div>
</div>
