<div class="flow-root relative z-10">
  <ul class="divide-y divide-stone-200">
    <% publications.each do |publication| %>
      <li class="py-4">
        <div class="flex items-center space-x-4">
          <!-- Publication Details -->
          <div class="flex-grow min-w-0">
            <%= tag.p publication.title, class: 'text-base font-semibold text-stone-900 truncate' %>
            <div class="flex items-center space-x-3 mt-2 text-sm text-stone-600">
              <!-- Date -->
              <p><%= l(publication.created_at, format: :short).downcase %></span>

              <!-- Comments -->
              <p class="">Перегляди: <%= publication.views %> | Коментарі: <%= publication.comments_count %></p>
            </div>
          </div>

          <!-- Actions -->
          <div class="flex space-x-2 items-center">
            <!-- View Button -->
            <%= link_to tale_path(publication.slug), data: { turbo: false }, title: "Переглянути", class: "group" do %>
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true"
                   class="h-[20px] w-[20px] md:h-[24px] md:w-[24px] lg:h-[28px] lg:w-[28px] text-stone-600 group-hover:text-stone-800 transition-transform transform group-hover:scale-[110%] duration-[250ms] ease-in-out">
                <!-- SVG Path for View Icon -->
                <path fill-rule="evenodd" d="M4.998..." clip-rule="evenodd"/>
              </svg>
            <% end %>

            <!-- Edit Button -->
            <%= link_to edit_publication_path(publication.slug), data: { turbo: false }, class: "group flex items-center justify-center w-9 h-9 rounded-xl bg-stone-100 hover:bg-stone-200 transition-all" do %>
              <svg class="w-5 h-5 text-stone-700 group-hover:text-stone-900 transition-all" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16.5 4.5L19.5 7.5M4 20h4l10-10-4-4L4 16v4z" />
              </svg>
            <% end %>

            <!-- Delete Button -->
            <%= sweetalert(delete_icon, {
              description: I18n.t('sweetalert.fictions.description'),
              message: I18n.t('sweetalert.fictions.message'),
              tag_id: nil,
              url: publication_path(publication, page: params[:page])
            }) %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>

  <div class="pagy-nav relative z-10 mt-6">
    <%== pagy_nav(pagy) if pagy.pages > 1 %>
  </div>
</div>
