<div class="flow-root">
  <%= tag.h3 "Мої Звістки (#{pagy.count})", class: 'text-xl font-bold' %>
  <ul class="divide-y divide-gray-200">
    <% publications.each do |publication| %>
      <li class="py-4">
        <div class="flex items-center space-x-4" data-controller="flowbite">
          <div class="flex-1 min-w-0">
            <%= tag.p publication.title, class: 'text-base font-semibold text-gray-900 truncate' %>
            <div class="flex">
              <%= tag.p "#{time_ago_in_words(publication.created_at)} тому", class: 'text-sm font-normal text-gray-500 truncate inline-block' %>
              <span class="text-gray-500 ml-3 text-xs mt-1 flex align-center">
                <%= image_tag 'eye.svg', class: 'h-4 inline-block', alt: 'views' %>
                <%= tag.span publication.views, class: 'ml-1 inline-block' %>
              </span>
            </div>
          </div>
          <div class="hidden sm:block inline-flex items-center">
            <%= link_to 'Переглянути', tale_path(publication.slug), data: { turbo: false }, class: 'py-2 px-3 mr-3 mb-3 text-sm font-medium text-center text-gray-900 bg-white rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-primary-300'  %>
            <%= link_to 'Редагувати', edit_publication_path(publication.slug), data: { turbo: false }, class: 'py-2 px-3 mr-3 mb-3 text-sm font-medium text-center text-gray-900 bg-white rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-primary-300'  %>
            <%= link_to 'Видалити', publication_path(publication, page: params[:page]), data: { turbo_confirm: 'Певні, що прагнете видалити цю публікацію?', "turbo-method": :delete }, class: 'py-2 px-3 mr-3 mb-3 text-sm font-medium text-center text-gray-900 bg-white rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-primary-300'  %>
          </div>
          <button id="dropdownMenuIconHorizontalButton<%= publication.id %>" data-dropdown-toggle="dropdownDotsHorizontal<%= publication.id %>" class="sm:hidden inline-flex items-center p-2 text-sm font-medium text-center text-gray-900 bg-white rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-50" type="button">
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"></path></svg>
          </button>
          <!-- Dropdown menu -->
          <div id="dropdownDotsHorizontal<%= publication.id %>" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44">
            <ul class="py-2 text-sm text-gray-700" aria-labelledby="dropdownMenuIconHorizontalButton<%= publication.id %>">
              <li>
                <%= link_to 'Переглянути', tale_path(publication.slug), data: { turbo: false }, class: 'block px-4 py-2 hover:bg-gray-100'  %>
              </li>
              <li>
                <%= link_to 'Редагувати', edit_publication_path(publication.slug), data: { turbo: false }, class: 'block px-4 py-2 hover:bg-gray-100'  %>
              </li>
              <li>
                <%= link_to 'Видалити', publication_path(publication, page: params[:page]), data: { turbo_confirm: 'Певні, що прагнете видалити цю публікацію?', "turbo-method": :delete }, class: 'block px-4 py-2 hover:bg-gray-100'  %>
              </li>
            </ul>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <div class="">
    <div class="float-left mt-3">
      <%= link_to "Створити Звістку", new_publication_path, data: { turbo: false }, class: 'text-white bg-emerald-700 hover:bg-emerald-800 focus:ring-4 focus:ring-emerald-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center' %>
    </div>
    <div class="pagy-nav mt-8 sm:mt-0 float-right my-2">
      <%== pagy_nav(pagy) if pagy.pages > 1 %>
    </div>
  </div>
</div>