<div id="default-sidebar" aria-label="Sidebar">
  <div class="h-full px-3 overflow-y-auto hidden xl:block">
    <ul class="space-y-2 font-medium">
      <a class="flex justify-between items-center p-2 mb-5 w-full rounded-lg hover:bg-gray-50 focus:outline-none focus:ring-4 focus:ring-gray-200" type="button">
        <div class="flex items-center">
          <%= image_tag url_for(current_user.avatar.image), alt: current_user.avatar.blob.filename.to_s, class: 'mr-3 w-8 h-8 rounded-full' %>
          <div class="text-left overflow-hidden">
            <%= tag.div current_user.name, class: 'font-semibold leading-none text-gray-900 my-1' %>
            <%= tag.div current_user.email, class: 'text-sm text-gray-500 mr-1 overflow-hidden text-ellipsis' %>
          </div>
        </div>
      </a>
      <%= tag.li class: "#{'bg-gray-100' if params[:action] == 'blogs' || params[:action] == 'show' || params[:controller] == 'blogs' }" do %>
        <%= link_to blogs_path, remote: true, class: 'flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100' do %>
          <%= image_tag 'blog.svg', class: 'flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900', alt: 'avatar'  %>
          <span class="flex-1 ml-3 whitespace-nowrap">Блог</span>
        <% end %>
      <% end %>
    </ul>
    <ul class="pt-4 mt-4 space-y-2 font-medium border-t border-gray-200 mb-3">
      <%= tag.li class: "#{'bg-gray-100' if params[:controller] == 'scanlators' }" do %>
        <%= link_to scanlators_path, remote: true, class: 'flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100' do %>
          <%= image_tag 'scanlators.svg', class: 'flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900', alt: 'avatar'  %>
          <span class="flex-1 ml-3 whitespace-nowrap">Команди</span>
        <% end %>
      <% end %>
      <%= tag.li class: "#{'bg-gray-100' if params[:action] == 'readings' || params[:controller] == 'fictions' }" do %>
        <%= link_to readings_path, remote: true, class: 'flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100' do %>
          <%= image_tag 'fiction.svg', class: 'flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900', alt: 'avatar'  %>
          <span class="flex-1 ml-3 whitespace-nowrap">Писальня</span>
        <% end %>
      <% end %>
    </ul>
    <ul class="pt-4 mt-4 space-y-2 font-medium border-t border-gray-200 mb-3">
      <%= tag.li class: "#{'bg-gray-100' if params[:action] == 'pokemons' }" do %>
        <%= link_to pokemons_path, remote: true, class: 'flex items-center px-2 text-gray-900 rounded-lg hover:bg-gray-100' do %>
          <%= image_tag 'pokeball.svg', class: 'flex-shrink-0 w-6 h-10 text-gray-500 transition duration-75 group-hover:text-gray-900', alt: 'avatar'  %>
          <span class="flex-1 ml-3 whitespace-nowrap">Покемони</span>
        <% end %>
      <% end %>
      <%= tag.li class: "#{'bg-gray-100' if params[:action] == 'avatars' }" do %>
        <%= link_to avatars_path, remote: true, class: 'flex items-center p-2 text-gray-900 rounded-lg hover:bg-gray-100' do %>
          <%= image_tag 'avatar.svg', class: 'flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 group-hover:text-gray-900', alt: 'avatar'  %>
          <span class="flex-1 ml-3 whitespace-nowrap">Профіль</span>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="h-full px-3 overflow-y-auto xl:hidden">
    <div class="flex flex-wrap items-center justify-between mx-auto px-4 py-2">
      <div class="flex items-center">
        <%= image_tag url_for(current_user.avatar.image), alt: current_user.avatar.blob.filename.to_s, class: 'mr-3 w-8 h-8 rounded-full' %>
        <div class="text-left">
          <%= tag.div current_user.name, class: 'font-semibold leading-none text-gray-900 my-1' %>
          <%= tag.div current_user.email, class: 'text-sm text-gray-500' %>
        </div>
      </div>
      <button data-collapse-toggle="navbar-solid-bg" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="navbar-solid-bg" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
      </button>
      <div class="hidden w-full md:block md:w-auto" id="navbar-solid-bg">
        <ul class="flex flex-col font-medium mt-4 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0 text-center md:text-inherit">
          <li><%= link_to 'Блоги', blogs_path, class: 'block py-1 pl-3 pr-4 text-gray-900 rounded hover:text-gray-600 md:p-0 bg-gray-50 md:bg-white my-1' %></li>
          <li><%= link_to 'Команди', scanlators_path, class: 'block py-1 pl-3 pr-4 text-gray-900 rounded hover:text-gray-600 md:p-0 bg-gray-50 md:bg-white my-1' %></li>
          <li><%= link_to 'Писальня', readings_path, class: 'block py-1 pl-3 pr-4 text-gray-900 rounded hover:text-gray-600 md:p-0 bg-gray-50 md:bg-white my-1' %></li>
          <li><%= link_to 'Покемони', pokemons_path, class: 'block py-1 pl-3 pr-4 text-gray-900 rounded hover:text-gray-600 md:p-0 bg-gray-50 md:bg-white my-1' %></li>
          <li><%= link_to 'Профіль', avatars_path, class: 'block py-1 pl-3 pr-4 text-gray-900 rounded hover:text-gray-600 md:p-0 bg-gray-50 md:bg-white my-1' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
