<div class="">
  <div class="mb-6">
    <%= f.input :caption,
                input_html: {
                  autofocus: true,
                  class: "mt-1 bg-gray-50 border border-gray-300 text-gray-800 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5"
                },
                placeholder: "Заголовок...",
                label: "Заголовок"
              %>
    <% if advertisement.errors[:caption].any? %>
      <p id="outlined_error_help" class="mt-2 text-xs text-red-600"><span class="font-medium">відсутній заголовок оголошення...</p>
    <% end %>
  </div>

  <%= f.label :cover, "Обкладинка" %>
  <div class="mb-2 bg-slate-50">
    <div>
      <%= f.file_field :cover, class: "form-control m-10", label: false %>
      <img src="#" class="invisible" />
    </div>
    <div>
      <%= render 'shared/ads', advertisement: advertisement if advertisement&.persisted? %>
    </div>
  </div>
  <% if advertisement.errors[:cover].any? %>
    <p id="outlined_error_help" class="mb-6 text-xs text-red-600"><span class="font-medium">відсутня обкладинка оголошення...</p>
  <% end %>

  <div class="mb-6">
    <%= f.input :resource,
                input_html: {
                  autofocus: true,
                  class: "mt-1 bg-gray-50 border border-gray-300 text-gray-800 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5"
                },
                placeholder: "Посилання...",
                label: "Посилання"
              %>
    <% if advertisement.errors[:resource].any? %>
      <p id="outlined_error_help" class="mt-2 text-xs text-red-600"><span class="font-medium">відсутнє посилання...</p>
    <% end %>
  </div>

  <%= tag.div class: 'py-2 grid grid-cols-4' do %>
    <div></div>
    <%= tag.div do %>
      <%= f.submit "Надіслати", class: "float-right mt-1 content-center text-teal-700 hover:text-white border border-teal-700 hover:bg-teal-800 focus:ring-4 focus:outline-none focus:ring-teal-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2" %>
    <% end %>
    <div class="flex items-center mr-4">
      <%= f.input :enabled, as: :boolean, type: 'checkbox', label: false, input_html: { class: 'w-4 h-4 text-indigo-600 bg-gray-100 border-gray-300 rounded focus:ring-indigo-500 focus:ring-2' } %>
      <label for="inline-checkbox" class="ml-2 text-sm font-medium text-gray-800">Активувати</label>
    </div>
  <% end %>
  </div>