<div class="mt-2 lg:mt-0 float-left relative w-full lg:mx-0 mb-1 lg:mb-2 block md:flex justify-center">
  <div class="rounded-xl float-left relative w-full md:w-4/5 lg:w-full overflow-hidden h-72 md:h-44 lg:h-36 mb-2 md:mb-1">
    <%= link_to tale_path(publication) do %>
      <%= image_tag url_for(publication.cover), alt: publication.cover.blob.filename.to_s, class: "rounded-xl opacity-80 lg:absolute m-auto w-full l-[-9999px] r-[-9999px] h-72 md:h-44 lg:h-36 object-cover", width: 320, height: 144 %>
      <div class="z-10 rounded-xl absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out" style="background-color: rgba(255, 255, 255, 0.2)"></div>
    <% end %>
  </div>
  <div class="grid grid-cols-6 lg:grid-cols-5 gap-1 w-full float-left flex items-center md:ml-4">
    <div class="col-span-6 lg:col-span-5">
      <div class="w-full float-left rounded-xl mb-1 text-gray-500 dark:text-gray-400">
        <div class="block">
          <div class="sm:mb-1 lg:mb-0">
            <% publication.tags.each do |tg| %>
              <%= link_to tg.name, search_index_path(search: [tg.name]), class: 'bg-purple-100 dark:bg-purple-900 text-purple-800 dark:text-purple-200 text-xs font-semibold px-2.5 py-0.5 rounded hover:bg-purple-800 hover:text-purple-100 dark:hover:bg-purple-700 dark:hover:text-purple-100' %>
            <% end %>
          </div>
        </div>
        <h2 class="mt-2 mb-1 text-2xl lg:text-xl font-bold tracking-tight text-gray-900 dark:text-gray-100 hover:underline line-clamp-2">
          <%= link_to publication.title, tale_path(publication) %>
        </h2>
        <%= tag.p publication.description.to_plain_text, class: 'text-base lg:text-sm font-light text-gray-500 dark:text-gray-400 mr-1 w-full whitespace-break-spaces font-light line-clamp-2 md:line-clamp-3 lg:line-clamp-2 mt-2 lg:mt-1 lg:leading-6' %>
      </div>
    </div>
  </div>
</div>
