<div class="grid grid-cols-1 px-4 xl:grid-cols-6 xl:gap-3 z-10 relative font-oswald mt-6">
  <div class="col-span-full bg-white shadow-lg rounded-lg mb-4 py-4 xl:col-auto">
    <%= render 'users/dashboard/sidebar', user_publications: @user_publications, fictions_size: @fictions_size %>
  </div>
  <div class="col-span-5">
    <% if action_name.to_sym == :readings %>
      <%= render 'users/dashboard/readings', fictions: @fictions, pagy: @pagy, paginators: @paginators %>
    <% elsif action_name.to_sym == :avatars %>
      <%= render 'users/dashboard/avatars', avatars: @avatars %>
    <% elsif action_name.to_sym == :blogs %>
      <%= render 'users/dashboard/blogs', publications: @publications, pagy: @pagy %>
    <% elsif controller_name.to_sym == :scanlators %>
      <%= turbo_frame_tag "scanlators-screen" do %>
        <%= render 'scanlators/dashboard', scanlators: @scanlators %>
      <% end %>
    <% else %>
      <%= render 'users/dashboard/pokemons', pokemons: @pokemons, dex_leaderboard: @dex_leaderboard, selected_pokemon: @selected_pokemon, descendant: @descendant, battle_history: @battle_history, dex_overall: @dex_overall %>
    <% end %>
  </div>
</div>
