<button id="dropdownNotificationButton" data-dropdown-toggle="dropdownNotification" class="relative inline-flex items-center text-sm font-medium text-center text-gray-500 hover:text-gray-900 focus:outline-none mx-4" type="button">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
    <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 0 1-.825-.242m9.345-8.334a2.126 2.126 0 0 0-.476-.095 48.64 48.64 0 0 0-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0 0 11.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155" />
  </svg>
  <%= tag.div id: 'dropdownStatus', class: 'absolute block w-3 h-3 bg-red-500 border-2 border-white rounded-full -top-0.5 start-2.5' unless session[:seen_comment] %>
</button>

<%= simple_form_for :dropdown_comment, url: dropdown_comments_path, id: 'dropdownForm', html: { class: 'hidden', data: { turbo_stream: "", "turbo-method": :post } } do |f| %>
  <%= f.input :content, label: "Content" %>
  <%= f.submit "Submit" %>
<% end %>

<div id="dropdownNotification" class="z-20 hidden w-full max-w-sm bg-white divide-y divide-gray-100 rounded-lg shadow font-oswald" aria-labelledby="dropdownNotificationButton">
  <div class="block px-4 py-2 font-medium text-center text-gray-700 rounded-t-lg bg-gray-50">Коментарі</div>
  <div class="divide-y divide-gray-100">
    <% latest_comments.each do |comment| %>
      <%= link_to comment_url(comment), class: 'flex px-4 py-3 hover:bg-gray-100' do %>
        <div class="flex-shrink-0">
          <%= image_tag url_for(comment.user.avatar.image), alt: comment.user.avatar.blob.filename.to_s, class: 'rounded-full w-11 h-11', height: '48', width: '48' %>
          <div class="absolute flex items-center justify-center w-5 h-5 ms-6 -mt-5 bg-green-500 border border-white rounded-full">
            <svg class="w-2 h-2 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
              <path d="M18 0H2a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h2v4a1 1 0 0 0 1.707.707L10.414 13H18a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5 4h2a1 1 0 1 1 0 2h-2a1 1 0 1 1 0-2ZM5 4h5a1 1 0 1 1 0 2H5a1 1 0 0 1 0-2Zm2 5H5a1 1 0 0 1 0-2h2a1 1 0 0 1 0 2Zm9 0h-6a1 1 0 0 1 0-2h6a1 1 0 1 1 0 2Z"/>
            </svg>
          </div>
        </div>
        <div class="w-full ps-3">
          <div class="text-gray-500 text-sm mb-1.5">
            <%= tag.span comment.user.name, class: 'font-semibold text-gray-900' %>
            лишив коментар до <%= tag.span commentable_type(comment.commentable) %>
            <%= tag.span commentable_title(comment.commentable), class: 'font-medium text-blue-500' %>
            <%= tag.span "- #{comment.content}", class: 'font-semibold text-gray-800' %>
          </div>
          <%= tag.div "#{time_ago_in_words(comment.created_at)} тому", class: 'text-xs text-blue-500' %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
