<button type="button" class="sm:hidden text-sm rounded-full md:mr-0 focus:ring-2 focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="mobile-dropdown">
  <span class="sr-only">Open user menu</span>
  <%= image_tag url_for(current_user.avatar.image), alt: current_user.avatar.blob.filename.to_s, class: 'w-12 h-12 rounded-full' %>
</button>
<div class="border border-emerald-600 sm:hidden font-oswald hidden z-50 my-4 w-56 text-xl list-none rounded divide-y shadow divide-emerald-600 bg-center" style="background-image:linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.85)), url(<%= asset_path('modal-bg.png') %>" id="mobile-dropdown">
  <div class="py-3 px-4">
    <%= tag.span current_user.name, class: "block font-semibold text-white" %>
    <%= tag.span current_user.email, class: "block font-light truncate text-gray-400" %>
  </div>
  <ul class="py-1 font-light text-gray-400" aria-labelledby="dropdown">
    <li>
      <ul class="py-2 text-gray-700" aria-labelledby="doubleDropdownButtonProfile">
        <li><%= link_to 'Портретики', '#', data: { modal_target: 'avatar-modal', modal_toggle: 'avatar-modal' }, onclick: 'event.preventDefault()', class: "block px-4 py-2 text-gray-400 hover:text-white" %></li>
      </ul>
    </li>
  </ul>
  <% if current_user.admin? %>
    <ul class="py-1 font-light text-gray-400" aria-labelledby="dropdown">
      <li>
        <ul class="py-2 text-gray-700" aria-labelledby="doubleDropdownButtonManage">
          <li><%= link_to "Блоги", admin_blogs_path, class: "block px-4 py-2 text-gray-400 hover:text-white" %></li>
        </ul>
        <ul class="py-2 text-gray-700" aria-labelledby="doubleDropdownButtonManage">
          <li><%= link_to "Звістки", admin_tales_path, class: "block px-4 py-2 text-gray-400 hover:text-white" %></li>
        </ul>
        <ul class="py-2 text-gray-700" aria-labelledby="doubleDropdownButtonManage">
          <li><%= link_to "Оголошення", admin_advertisements_path, class: "block px-4 py-2 text-gray-400 hover:text-white" %></li>
        </ul>
        <ul class="py-2 text-gray-700" aria-labelledby="doubleDropdownButtonManage">
          <li><%= link_to "Портретики", admin_avatars_path, class: "block px-4 py-2 text-gray-400 hover:text-white" %></li>
        </ul>
      </li>
    </ul>
  <% end %>
  <ul class="py-1 font-light text-gray-400" aria-labelledby="dropdown">
    <li>
      <%= link_to "Вийти", destroy_user_session_path, class: "block py-2 px-4 hover:text-white" %>
    </li>
  </ul>
</div>