<button type="button" class="sm:hidden items-center text-gray-900 hover:bg-gray-50 font-medium rounded-lg text-sm px-2 lg:px-4 py-2 lg:py-2.5 sm:mr-2 md:mr-3 focus:outline-none" id="user-menu-button-mobile" aria-expanded="false" data-dropdown-toggle="mobile-dropdown">
  <span class="sr-only">Open user menu</span>
  <%= image_tag url_for(current_user.avatar.image), alt: current_user.avatar.blob.filename.to_s, class: 'w-10 h-10 rounded-full' %>
</button>
<div class="hidden font-oswald z-50 my-4 w-56 text-base list-none bg-white rounded divide-y divide-pink-100 shadow" id="mobile-dropdown">
  <div class="py-3 px-4">
    <%= tag.span current_user.name, class: "block font-semibold text-gray-900" %>
    <%= tag.span current_user.email, class: "block font-light text-gray-500 truncate" %>
  </div>
  <ul class="py-1 font-light text-gray-500" aria-labelledby="dropdown">
    <li>
      <ul class="py-1 font-light text-gray-500" aria-labelledby="doubleDropdownButtonManage">
        <li><%= link_to "Майстерня", dashboard_path, class: "block px-4 py-2 hover:bg-gray-100" %></li>
      </ul>
    </li>
  </ul>
  <ul class="py-1 font-light text-gray-500" aria-labelledby="dropdown">
    <li>
      <ul class="py-1 font-light text-gray-500" aria-labelledby="doubleDropdownButtonManage">
        <li><%= link_to "Читальня", library_path, class: "block px-4 py-2 hover:bg-gray-100" %></li>
      </ul>
    </li>
  </ul>
  <% if current_user.admin? %>
    <ul class="py-1 font-light text-gray-500" aria-labelledby="dropdown">
      <li>
        <ul class="py-1 font-light text-gray-500" aria-labelledby="doubleDropdownButtonManage">
          <li><%= link_to "Жанри", admin_genres_path, class: "block px-4 py-2 hover:bg-gray-100" %></li>
        </ul>
        <ul class="py-1 font-light text-gray-500" aria-labelledby="doubleDropdownButtonManage">
          <li><%= link_to "Звістки", admin_tales_path, class: "block px-4 py-2 hover:bg-gray-100" %></li>
        </ul>
        <ul class="py-1 font-light text-gray-500" aria-labelledby="doubleDropdownButtonManage">
          <li><%= link_to "Оголошення", admin_advertisements_path, class: "block px-4 py-2 hover:bg-gray-100" %></li>
        </ul>
        <ul class="py-1 font-light text-gray-500" aria-labelledby="doubleDropdownButtonManage">
          <li><%= link_to "Портретики", admin_avatars_path, class: "block px-4 py-2 hover:bg-gray-100" %></li>
        </ul>
        <ul class="py-1 font-light text-gray-500" aria-labelledby="doubleDropdownButtonManage">
          <li><%= link_to "Теги", admin_tags_path, class: "block px-4 py-2 hover:bg-gray-100" %></li>
        </ul>
      </li>
    </ul>
  <% end %>
  <ul class="py-1 font-light text-gray-500" aria-labelledby="dropdown">
    <li>
      <%= link_to "Вийти", destroy_user_session_path, class: "block py-2 px-4 hover:bg-gray-100" %>
    </li>
  </ul>
</div>