<nav class="bg-gray-900 sticky top-0 z-50">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-20 items-center justify-between">
      <div class="flex flex-1 items-center sm:items-stretch justify-start">
        <%= link_to root_path do %>
          <div class="flex flex-shrink-0 items-center">
            <%= image_tag 'logo', class: 'h-14 w-auto lg:block' %>
            <span class="font-oswald mb-auto px-2 py-px text-s font-bold leading-none text-indigo-100 bg-rose-600 rounded border border-white">beta</span>
          </div>
        <% end %>
      </div>
      <%= render "shared/search" %>
      <% if current_user %>
        <%= render 'shared/user_dropdown' %>
      <% else %>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <%= link_to 'Увійти', new_user_session_path, class: 'text-white px-3 py-2 rounded-md text-sm font-medium', area: { current: 'page' } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</nav>