      <div class="w-full md:flex md:items-center md:justify-center md:order-2">
        <div class="flex relative items-center justify-center gap-4 p-2 rounded-lg">
          <button id="categoriesDropdownButton2" data-dropdown-toggle="categoriesDropdown2" type="button" class="w-auto justify-center inline-flex items-center flex-1 px-3 py-2 text-sm font-medium text-gray-900 border border-gray-200 dark:border-gray-700 md:border-0 bg-white hover:bg-gray-50 rounded-lg md:flex-none dark:bg-gray-900 dark:hover:bg-gray-700 md:dark:hover:bg-gray-500 dark:text-white">
            <svg class="w-4 h-4 me-2 -ms-0.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7h1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V5a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h11.5M7 14h6m-6 3h6m0-10h.5m-.5 3h.5M7 7h3v3H7V7Z" />
            </svg>

            Блоги
            <svg class="w-4 h-4 ms-2 -me-0.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7" />
            </svg>
          </button>

          <!-- Mega Menu -->
          <div id="categoriesDropdown2" class="z-50 hidden mx-auto overflow-hidden antialiased bg-white rounded-lg shadow-lg dark:bg-gray-700">
            <div class="md:flex md:items-stretch">
              <ul class="p-4 space-y-4 md:p-6 bg-gray-50 dark:bg-gray-600 text-sm font-medium text-gray-500 dark:text-gray-400">
                <li class="text-sm font-semibold text-gray-900 dark:text-white">Що нового?</li>
                <% trending_tags.each do |tt| %>
                  <li>
                    <%= link_to tt[:link], class: 'block hover:underline dark:hover:text-white hover:text-gray-900 inline-flex items-center flex-1' do %>
                      <svg class="w-4 h-4 me-2 -ms-0.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.583 8.445h.01M10.86 19.71l-6.573-6.63a.993.993 0 0 1 0-1.4l7.329-7.394A.98.98 0 0 1 12.31 4l5.734.007A1.968 1.968 0 0 1 20 5.983v5.5a.992.992 0 0 1-.316.727l-7.44 7.5a.974.974 0 0 1-1.384.001Z" />
                      </svg>

                      <%= tt[:name] %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>

          <ul class="flex items-center space-x-4">
            <li>
              <%= link_to youtube_videos_path, class: 'items-center gap-2 px-2 py-1 text-sm hover:text-gray-700 dark:hover:text-gray-500 font-medium text-gray-900 rounded-lg inline-flex dark:text-white' do %>
                Відео
              <% end %>
            </li>
          </ul>

          <button id="categoriesDropdownButton1" data-dropdown-toggle="categoriesDropdown1" type="button" class="w-auto justify-center inline-flex items-center flex-1 px-3 py-2 text-sm font-medium text-gray-900 border border-gray-200 dark:border-gray-700 md:border-0 bg-white hover:bg-gray-50 rounded-lg md:flex-none dark:bg-gray-900 dark:hover:bg-gray-700 md:dark:hover:bg-gray-500 dark:text-white">
            <svg class="w-4 h-4 me-2 -ms-0.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 19V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v13H7a2 2 0 0 0-2 2Zm0 0a2 2 0 0 0 2 2h12M9 3v14m7 0v4" />
            </svg>
            Ранобе
            <svg class="w-4 h-4 ms-2 -me-0.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7" />
            </svg>
          </button>

          <!-- Mega Menu -->
          <div id="categoriesDropdown1" class="z-50 hidden mx-auto overflow-hidden antialiased bg-white rounded-lg shadow-lg dark:bg-gray-700">
            <div class="md:flex md:items-stretch">
              <div class="w-full px-2 py-4 space-y-4 max-w-sm md:max-w-md md:p-6 shrink-0">
                <%= link_to fictions_path, class: 'flex items-center gap-4 px-2 py-2 rounded-lg md:px-4 hover:bg-gray-100 group dark:hover:bg-gray-600' do %>
                  <div class="inline-flex items-center justify-center w-8 h-8 bg-white rounded-full shadow shrink-0 dark:bg-gray-600">
                    <svg class="w-4 h-4 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.083 5.104c.35-.8 1.485-.8 1.834 0l1.752 4.022a1 1 0 0 0 .84.597l4.463.342c.9.069 1.255 1.2.556 1.771l-3.33 2.723a1 1 0 0 0-.337 1.016l1.03 4.119c.214.858-.71 1.552-1.474 1.106l-3.913-2.281a1 1 0 0 0-1.008 0L7.583 20.8c-.764.446-1.688-.248-1.474-1.106l1.03-4.119A1 1 0 0 0 6.8 14.56l-3.33-2.723c-.698-.571-.342-1.702.557-1.771l4.462-.342a1 1 0 0 0 .84-.597l1.753-4.022Z" />
                    </svg>
                  </div>

                  <div class="flex-1 min-w-0 space-y-0.5">
                    <p class="text-sm font-semibold leading-none text-gray-900 truncate dark:text-white">
                      Головна
                    </p>
                    <p class="text-sm font-normal text-gray-500 truncate dark:text-gray-400">
                      Найбільша колекція новел та фанфіків!
                    </p>
                  </div>

                  <div class="transition-all duration-200 -translate-x-2 opacity-0 group-hover:opacity-100 group-hover:translate-x-0">
                    <svg class="w-4 h-4 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4" />
                    </svg>
                  </div>
                <% end %>

                <%= link_to calendar_fictions_path, class: 'flex items-center gap-4 px-2 py-2 rounded-lg md:px-4 hover:bg-gray-100 group dark:hover:bg-gray-600' do %>
                  <div class="inline-flex items-center justify-center w-8 h-8 bg-white rounded-full shadow shrink-0 dark:bg-gray-600">
                    <svg class="w-4 h-4 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z" />
                    </svg>
                  </div>

                  <div class="flex-1 min-w-0 space-y-0.5">
                    <p class="text-sm font-semibold leading-none text-gray-900 truncate dark:text-white">
                      Календар
                    </p>
                    <p class="text-sm font-normal text-gray-500 truncate dark:text-gray-400">
                      Слідкуйте за виходом нових розділів!
                    </p>
                  </div>

                  <div class="transition-all duration-200 -translate-x-2 opacity-0 group-hover:opacity-100 group-hover:translate-x-0">
                    <svg class="w-4 h-4 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4" />
                    </svg>
                  </div>
                <% end %>

                <%= link_to translation_requests_path, class: 'flex items-center gap-4 px-2 py-2 rounded-lg md:px-4 hover:bg-gray-100 group dark:hover:bg-gray-600' do %>
                  <div class="inline-flex items-center justify-center w-8 h-8 bg-white rounded-full shadow shrink-0 dark:bg-gray-600">
                    <svg class="w-4 h-4 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m13 19 3.5-9 3.5 9m-6.125-2h5.25M3 7h7m0 0h2m-2 0c0 1.63-.793 3.926-2.239 5.655M7.5 6.818V5m.261 7.655C6.79 13.82 5.521 14.725 4 15m3.761-2.345L5 10m2.761 2.655L10.2 15" />
                    </svg>
                  </div>

                  <div class="flex-1 min-w-0 space-y-0.5">
                    <p class="text-sm font-semibold leading-none text-gray-900 truncate dark:text-white">
                      Переклад
                    </p>
                    <p class="text-sm font-normal text-gray-500 truncate dark:text-gray-400">
                      Знайдіть команду для перекладу!
                    </p>
                  </div>

                  <div class="transition-all duration-200 -translate-x-2 opacity-0 group-hover:opacity-100 group-hover:translate-x-0">
                    <svg class="w-4 h-4 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4" />
                    </svg>
                  </div>
                <% end %>

                <%= link_to alphabetical_fictions_path, class: 'flex items-center gap-4 px-2 py-2 rounded-lg md:px-4 hover:bg-gray-100 group dark:hover:bg-gray-600' do %>
                  <div class="inline-flex items-center justify-center w-8 h-8 bg-white rounded-full shadow shrink-0 dark:bg-gray-600">
                    <svg class="w-4 h-4 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 12c.263 0 .524-.06.767-.175a2 2 0 0 0 .65-.491c.186-.21.333-.46.433-.734.1-.274.15-.568.15-.864a2.4 2.4 0 0 0 .586 1.591c.375.422.884.659 1.414.659.53 0 1.04-.237 1.414-.659A2.4 2.4 0 0 0 12 9.736a2.4 2.4 0 0 0 .586 1.591c.375.422.884.659 1.414.659.53 0 1.04-.237 1.414-.659A2.4 2.4 0 0 0 16 9.736c0 .295.052.588.152.861s.248.521.434.73a2 2 0 0 0 .649.488 1.809 1.809 0 0 0 1.53 0 2.03 2.03 0 0 0 .65-.488c.185-.209.332-.457.433-.73.1-.273.152-.566.152-.861 0-.974-1.108-3.85-1.618-5.121A.983.983 0 0 0 17.466 4H6.456a.986.986 0 0 0-.93.645C5.045 5.962 4 8.905 4 9.736c.023.59.241 1.148.611 1.567.37.418.865.667 1.389.697Zm0 0c.328 0 .651-.091.94-.266A2.1 2.1 0 0 0 7.66 11h.681a2.1 2.1 0 0 0 .718.734c.29.175.613.266.942.266.328 0 .651-.091.94-.266.29-.174.537-.427.719-.734h.681a2.1 2.1 0 0 0 .719.734c.289.175.612.266.94.266.329 0 .652-.091.942-.266.29-.174.536-.427.718-.734h.681c.183.307.43.56.719.734.29.174.613.266.941.266a1.819 1.819 0 0 0 1.06-.351M6 12a1.766 1.766 0 0 1-1.163-.476M5 12v7a1 1 0 0 0 1 1h2v-5h3v5h7a1 1 0 0 0 1-1v-7m-5 3v2h2v-2h-2Z" />
                    </svg>
                  </div>

                  <div class="flex-1 min-w-0 space-y-0.5">
                    <p class="text-sm font-semibold leading-none text-gray-900 truncate dark:text-white">
                      Сховище
                    </p>
                    <p class="text-sm font-normal text-gray-500 truncate dark:text-gray-400">
                      Усі ранобе, веб-новели та художня проза!
                    </p>
                  </div>

                  <div class="transition-all duration-200 -translate-x-2 opacity-0 group-hover:opacity-100 group-hover:translate-x-0">
                    <svg class="w-4 h-4 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5m14 0-4 4m4-4-4-4" />
                    </svg>
                  </div>
                <% end %>
              </div>
            </div>
        </div>
      </div>
