<nav class="relative z-50 bg-white shadow-xl lg:shadow-none mb-2 lg:mb-0">
  <div class="max-w-screen-xl mx-auto px-4 md:px-6">
    <div class="grid grid-cols-3 no-ads">
      <div class="flex place-items-center mt-2">
        <%= link_to 'https://t.me/bakaInUa', class: 'inline-flex items-center p-1 text-sm font-medium rounded-lg', area: { current: 'page' } do %>
          <%= image_tag 'telegram.svg', class: 'h-6 sm:h-8 transform transition duration-500 hover:scale-110', alt: 'logo', width: '32', height: '32' %>
        <% end %>

        <%= link_to 'https://www.buymeacoffee.com/bakaInUa', class: 'inline-flex items-center p-1 text-sm font-medium rounded-lg', area: { current: 'page' } do %>
          <%= image_tag 'buyme.svg', class: 'hidden md:block h-14 transform transition duration-500 hover:scale-110', width: '150', height: '56', alt: 'buymecoffee logo' %>
          <%= image_tag 'buymecoffee.svg', class: 'h-6 sm:h-8 block md:hidden transform transition duration-500 hover:scale-110', alt: 'buymecoffee logo', width: '32', height: '32' %>
        <% end %>
      </div>
      <div class="flex justify-center place-items-center">
        <a href="/" class="flex items-center">
          <%= image_tag 'logo-black.svg', class: 'h-10 md:h-12 transition duration-500 hover:scale-110', alt: 'logo', width: '192', height: '64' %>
        </a>
      </div>
      <div class="flex justify-end place-items-center mt-2">
        <%= render "shared/search" %>
        <% if current_user %>
          <div data-controller="flowbite">
            <%= render 'shared/user_dropdown' %>
            <%= render 'shared/mobile_user_dropdown' %>
          </div>
        <% else %>
          <%= link_to 'Увійти', new_user_session_path, class: 'font-oswald font-medium text-gray-900 text-lg px-0 sm:px-3 lg:px-5 py-2 lg:py-2.5 hover:text-gray-600 focus:outline-none transition duration-500 hover:scale-110', area: { current: 'page' } %>
        <% end %>
      </div>
      <%= render 'shared/mobile_search' %>
    </div>
  </div>
</nav>
<nav class="hidden lg:block relative z-10 bg-white shadow-xl">
  <div class="pb-4 px-4 mx-auto max-w-screen-xl md:px-6">
    <div class="flex justify-center items-center place-items-center">
      <div class="flex flex-row mt-0 space-x-8 text-sm font-medium">
        <% trending_tags.each do |tg| %>
          <%= link_to tg[:name], tg[:link], class: "font-oswald text-base focus:outline-none transition duration-500 transform hover:scale-110 hover:border-b-4 border-b-4 border-white #{navbar_style(tg[:name])}", area: { current: 'page' } %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
