<div class="absolute z-50" style="left: <%= rand(0..100) %>vw; top: <%= rand(0..100) %>vh;">
  <% if current_user.present? %>
    <%= button_to catch_pokemon_path(user_pokemon: { pokemon_id: pokemon.id, user_id: current_user&.id }), data: { turbo_stream: "", "turbo-method": :post } do %>
      <%= image_tag url_for(pokemon.sprite), alt: pokemon.sprite.blob.filename, class: 'cursor-pointer' %>
    <% end %>
  <% else %>
    <%= link_to register_path(pokenotice: true), data: { turbo: false } do %>
      <%= image_tag url_for(pokemon.sprite), alt: pokemon.sprite.blob.filename, class: 'cursor-pointer' %>
    <% end %>
  <% end %>
</div>
