<div class="hidden md:flex flex-col mt-16 mb-8 font-oswald" data-controller="slider">
  <div class="flex align-center justify-center">
    <button id="button-left" type="button" class="self-center mr-1 cursor-pointer group focus:outline-none" data-action="slider#slideLeft">
      <svg aria-hidden="true" class="w-10 h-10 text-black sm:w-10 sm:h-10 transform transition duration-500 hover:scale-110" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
      </svg>
    </button>
    <div class="flex gallery" data-slider-target="scrollContainer">
      <% @fictions.each_with_index do |fiction, index| %>
        <%= tag.div class: "w-[48.9%] sm:w-[32.9%] md:w-[24.9%] lg:w-[19.9%] mb-4 px-1 flex-shrink-0 snap-start hidden", data: { 'slider-target': 'image', 'slider-element': index } do %>
          <div class="float-left relative">
            <%= link_to fiction_path(fiction) do %>
              <%= image_tag url_for(fiction.cover), alt: fiction.cover.blob.filename, class: 'w-56 object-cover h-80 rounded-lg shadow-lg' %>
              <div class="z-10 rounded-xl absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out" style="background-color: rgba(255, 255, 255, 0.2)"></div>
            <% end %>
            <div class="w-full float-left rounded-xl md:mt-1 mb-1 lg:mt-0">
              <div class="float-left mt-1">
                <span class="inline relative text-emerald-700 leading-4 text-xs sm:text-sm">Оновлено</span>
                <%= image_tag 'circle.svg', class: 'h-1 mx-px inline-block', alt: 'circle' %>
                <%= tag.span "#{time_ago_in_words(fiction.chapters.order(created_at: :desc).first.created_at) } тому", class: 'inline relative leading-4 text-xs sm:text-sm text-gray-700' %>
              </div>
              <span class="text-gray-500 text-xs float-right mr-2 mt-2.5 flex align-center">
                <%= image_tag 'eye.svg', class: 'h-4 inline-block', alt: 'views' %>
                <%= tag.span fiction.views, class: 'ml-1 inline-block' %>
              </span>
            </div>
            <div class="mt-2 mb-1">
              <%= tag.h3 fiction.title, class: 'text-sm sm:text-lg text-gray-900 mr-[1.75%]' %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <button id="button-right" type="button" class="self-center cursor-pointer group focus:outline-none" data-action="slider#slideRight">
      <svg aria-hidden="true" class="w-10 h-10 text-black sm:w-10 sm:h-10 transform transition duration-500 hover:scale-110" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
      </svg>
    </button>
  </div>
</div>
