<div class="md:hidden relative float-left max-w-[95%] mt-0 font-oswald ml-4 mb-4 sm:mb-0">
  <% @fictions.limit(10).each_with_index do |fiction, index| %>
    <%= link_to fiction_path(fiction) do %>
      <div class="relative float-right grid grid-cols-5 gap-1 my-1">
        <div class="leading-none float-left relative sm:col-span-1 hidden sm:block">
          <%= image_tag url_for(fiction.cover), alt: fiction.cover.blob.filename.to_s, class: "rounded-xl opacity-90 m-auto w-40 h-48 object-cover" %>
        </div>
        <div class="relative float-right col-span-5 sm:col-span-4 m-0 <%= 'pb-2 border-b sm:border-none border-gray-200' unless (@fictions.size > 9 ? 10 : @fictions.size) == (index + 1) %>">
          <div class="w-full float-left rounded-xl mb-1 ml-2">
            <div class="float-left inline-block">
              <span class="inline relative text-emerald-700 leading-4 text-base">Оновлено:</span>
              <%= tag.span "#{time_ago_in_words(fiction.chapters.order(created_at: :desc).first.created_at) } тому", class: 'inline relative leading-4 text-base text-gray-600' %>
            </div>

            <span class="text-gray-500 text-xs float-right mr-4 mt-1 sm:mt-0 flex align-center">
              <%= image_tag 'eye.svg', class: 'h-4 inline-block', alt: 'views' %>
              <%= tag.span fiction.views, class: 'ml-1 inline-block' %>
            </span>
          </div>
          <%= tag.h2 fiction.title, class: 'font-oswald ml-2 mt-2 text-gray-700 float-left leading-5 text-xl tracking-tight w-full mb-0' %>
          <%= tag.p fiction.description, class: "float-left ml-2 mt-2 w-full font-light leading-5 text-gray-600 text-sm" %>
        </div>
        <div class="z-10 rounded-xl absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out" style="background-color: rgba(255, 255, 255, 0.2)"></div>
      </div>
    <% end %>
  <% end %>
</div>