<section class="w-full float-left relative">
  <div class="bg-gray-800 pt-4 pb-14 w-full float-left relative">
    <div class="m-auto max-w-screen-2xl">
      <%= render 'shared/divider', caption: 'Головне' %>
      <div class="float-left relative w-full lg:grid lg:grid-cols-5 lg:gap-4 ">
        <div class="lg:col-span-3 lg:float-left relative">
          <%= link_to tale_path(@highlight) do %>
            <div class="float-left relative w-[-webkit-fill-available] lg:w-full mx-4 lg:mx-0">
              <div class="float-left relative bg-gray-800 w-full overflow-hidden h-96 lg:h-[400px]">
                <%= image_tag url_for(@highlight.cover), alt: @highlight.cover.blob.filename.to_s, class: "rounded-xl opacity-80 absolute m-auto w-full l-[-9999px] r-[-9999px] min-w-[744px] lg:ml-2" %>
                <div class="rounded-xl absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out lg:ml-2" style="background-color: rgba(251, 251, 251, 0.2)"></div>
              </div>
              <div class="w-full float-left absolute left-0 bottom-0 px-[2.7%] pt-24 pb-5 xl:pb-12 bg-gradient-to-t from-gray-800 via-gray-800/60 to-gray-800/9 lg:ml-2">
                <div class="mb-2 w-full float-left">
                  <%= tag.span "Опубліковано: #{time_ago_in_words(@highlight.created_at)} тому", class: 'text-gray-400 text-xs w-full float-left' %>
                </div>
                <%= tag.h2 @highlight.title, class: 'font-oswald text-white float-left text-4xl md:text-5xl lg:text-4xl 2xl:text-5xl font-bold tracking-tight mr-[30%] w-11/12 md:w-4/5 xl:mb-2 mb-2 lg:mb-16' %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="lg:col-span-2 float-left relative mt-8 lg:mt-3 mx-4 lg:mx-0">
          <% @top_four.first(4).each do |tale| %>
            <%= link_to tale_path(tale) do %>
              <div class="mb-4 w-full float-left relative">
                <div class="float-right relative w-full -ml-44">
                  <%= render 'publications/cover_image', publication: tale %>
                  <div class="md:ml-[22rem] lg:ml-44 m-4 sm:m-7 md:m-0">
                    <div class="float-left relative w-full">
                      <div class="mb-2 w-full float-left relative mt-3 md:mt-0">
                        <%= tag.span "Опубліковано: #{time_ago_in_words(tale.created_at)} тому", class: 'text-gray-400 text-xs w-full float-left relative' %>
                      </div>
                      <%= tag.h2 tale.title, class: 'font-oswald text-white float-left font-bold tracking-wide mr-[20%] w-11/12 md:w-4/5 mb-2 text-xl sm:text-3xl lg:text-xl xl:text-2xl' %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
