<% publications.each_with_index do |publication, i| %>
  <%= link_to tale_path(publication) do %>
    <div class="rounded-xl float-left relative w-[-webkit-fill-available] lg:w-full mx-4 lg:mx-0 my-2">
      <div class="rounded-xl float-left relative w-full overflow-hidden h-96 <%= i.zero? ? 'lg:h-[450px]' : 'lg:h-[350px]' %>">
        <%= image_tag url_for(publication.cover), alt: publication.cover.blob.filename.to_s, class: "rounded-xl opacity-80 absolute m-auto w-full l-[-9999px] r-[-9999px] h-96 #{i.zero? ? 'lg:h-[450px]' : 'lg:h-[350px]'} object-cover" %>
        <div class="z-10 rounded-xl absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out" style="background-color: rgba(255, 255, 255, 0.2)"></div>
      </div>
      <div class="rounded-xl w-full float-left absolute left-0 bottom-0 px-[2.7%] pt-32 pb-2 lg:pb-8 bg-gradient-to-t from-gray-900 via-gray-800/60 to-gray-800/9">
        <div class="mb-2 w-full float-left rounded-xl">
          <%= tag.span "Опубліковано: #{time_ago_in_words(publication.created_at)} тому", class: 'text-gray-300 text-xs w-full float-left' %>
        </div>
        <%= tag.h2 publication.title, class: 'font-oswald text-white float-left text-3xl md:text-4xl lg:text-4xl font-bold tracking-tight mr-[15%] w-11/5 lg:mb-2 mb-2' %>
        <%= tag.p punch(publication.description.to_plain_text), class: "float-left mr-[10%] lg:mr-0 mb-2 lg:mb-0 mt-2 text-gray-300 leading-4 text-base" if i.zero? %>
      </div>
    </div>
  <% end %>
<% end %>