<div class="mt-3">
  <%= render 'shared/divider', caption: 'Оновлення' %>
  <div class="relative float-left w-full mt-0">
    <% publications.each do |publication| %>
      <%= link_to tale_path(publication) do %>
        <div class="relative float-right w-full grid lg:grid-cols-5 gap-1 my-1">
          <div class="leading-none float-left relative lg:col-span-2">
            <%= image_tag url_for(publication.cover), alt: publication.cover.blob.filename.to_s, class: "rounded-xl opacity-90 m-auto w-full lg:w-24 lg:h-24 object-cover" %>
          </div>
          <div class="relative float-right sm:w-full lg:col-span-3 m-4 sm:m-0">
            <div class="w-full float-left rounded-xl md:mt-1 lg:mt-0">
              <%= tag.span "#{time_ago_in_words(publication.created_at)} тому", class: 'text-gray-500 text-xs w-full float-left mb-1' %>
            </div>
            <%= tag.h2 publication.title.truncate(75), class: 'font-oswald text-gray-700 float-left text-2xl md:text-xl md:leading-5 lg:leading-5 lg:text-xl tracking-tight w-full mb-1 lg:mb-0' %>
            <%= tag.p punch(publication.description.to_plain_text), class: "float-left w-full font-light leading-5 text-gray-600 text-base sm:hidden" %>
          </div>
          <div class="z-10 rounded-xl absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out" style="background-color: rgba(255, 255, 255, 0.2)"></div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
