<div class="mb-6 lg:mb-0">
  <div class="relative block bg-white rounded-lg shadow-lg px-5">
    <div class="flex">
      <%= render 'publications/cover_image', publication: publication %>
    </div>
    <div class="p-4">
      <%= link_to dynamic_variables(publication.slug, publication.class)[:show_publication_path] do %>
        <%= tag.h5 publication.title.truncate(150), class: 'text-lg font-bold mb-3 hover:text-gray-600' %>
      <% end %>

      <% if publication.instance_of?(Tale) %>
        <div class="mb-3 text-primary-600 font-medium text-sm flex items-center justify-center">
          <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 7.5h1.5m-1.5 3h1.5m-7.5 3h7.5m-7.5 3h7.5m3-9h3.375c.621 0 1.125.504 1.125 1.125V18a2.25 2.25 0 01-2.25 2.25M16.5 7.5V18a2.25 2.25 0 002.25 2.25M16.5 7.5V4.875c0-.621-.504-1.125-1.125-1.125H4.125C3.504 3.75 3 4.254 3 4.875V18a2.25 2.25 0 002.25 2.25h13.5M6 7.5h3v3H6v-3z"></path>
          </svg>Звістка
        </div>
      <% else %>
        <div class="mb-3 text-emerald-600 font-medium text-sm flex items-center justify-center">
          <svg class="w-4 h-4 mr-2" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.59 14.37a6 6 0 01-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 006.16-12.12A14.98 14.98 0 009.631 8.41m5.96 5.96a14.926 14.926 0 01-5.841 2.58m-.119-8.54a6 6 0 00-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 00-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 01-2.448-2.448 14.9 14.9 0 01.06-.312m-2.24 2.39a4.493 4.493 0 00-1.757 4.306 4.493 4.493 0 004.306-1.758M16.5 9a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z"></path>
          </svg>Блог
        </div>
      <% end %>

      <p class="text-gray-500 mb-4">
        <small>Опубліковано <%= tag.u publication.created_at.strftime("%d.%m.%Y") %></small>
      </p>
      <%= tag.p publication.description.to_plain_text.truncate(140), class: "text-gray-500 mb-4 pb-2" %>
    </div>
  </div>
</div>
