<div class="mb-6 lg:mb-0 p-10 shadow-lg">
  <%= render 'tales/cover_image', tale: tale %>
  <%= link_to tale_path(tale) do %>
    <%= tag.h5 tale.title, class: 'text-lg font-bold mb-3 hover:text-gray-600' %>
  <% end %>

  <p class="text-gray-500 mb-6">
    <small>Опубліковано <%= tag.u tale.created_at.strftime("%d.%m.%Y") %></small>
  </p>
  <%= tag.p tale.description.to_plain_text.truncate(150), class: "text-gray-500" %>
</div>
