<% page_gutter = 'mx-4 sm:mx-5 md:mx-6 lg:mx-8 xl:mx-0' %>

<section class="relative z-10 mx-auto xl:w-[1300px]">
  <div class="<%= page_gutter %> my-6 overflow-hidden rounded-xl border border-gray-200 shadow-md sm:my-8 md:my-10 lg:my-12 lg:rounded-2xl dark:border-gray-700">
    <%= render 'root/hero' %>
  </div>

  <div class="<%= page_gutter %>">
    <div class="mb-4">
      <p class="uppercase leading-5 text-stone-900 dark:text-gray-100 text-2xl sm:text-4xl font-extrabold tracking-tight">
        Популярне <span class="text-cyan-700 dark:text-rose-700">ранобе</span>
      </p>
    </div>

    <div class="mb-4 flex max-sm:flex-col max-sm:items-start max-sm:gap-2 sm:items-center">
      <p class="leading-5 text-stone-800 dark:text-gray-200 text-base font-light tracking-tight flex-1 max-sm:text-sm">
        Цього місяця читачі обирають такі тайтли:
      </p>
      <%= link_to fictions_path, class: 'inline-flex text-stone-700 dark:text-gray-300 text-sm lg:text-base hover:text-cyan-700 hover:underline dark:hover:text-rose-700 transition duration-300' do %>
        Усі ранобе
        <svg class="w-4 h-4 mt-2 ml-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 13 5.7-5.326a.909.909 0 0 0 0-1.348L1 1" />
        </svg>
      <% end %>
    </div>

    <div class="mb-4">
      <%= render 'root/fictions', fictions: @top_fictions.limit(10) %>
    </div>

    <div class="my-4 border border-gray-200 dark:border-gray-700 rounded-md shadow-md">
      <%= render 'shared/ads', advertisement: @advertisement %>
    </div>

    <div class="mb-4 flex">
      <div class="mr-2 shrink-0 hidden sm:flex flex-col justify-center">
        <%= image_tag 'youtube.webp', class: 'h-20 inline-block transform transition duration-500 hover:scale-110', alt: 'youtube icon', width: '80', height: '80' %>
      </div>
      <div class="flex flex-col justify-center sm:ml-0">
        <p class="uppercase leading-5 text-stone-900 dark:text-gray-100 text-2xl sm:text-4xl font-extrabold tracking-tight">
          Краще на <span class="text-cyan-700 dark:text-rose-700">YouTube</span>
        </p>
      </div>
    </div>

    <div class="mb-4 sm:mb-6 md:mb-8">
      <%= render 'root/videos', videos: @videos, video_tag_counts: @video_tag_counts %>
    </div>

    <% if @pokemon_ad.present? %>
      <div class="my-4 border border-gray-200 dark:border-gray-700 rounded-md shadow-md">
        <%= render 'shared/ads', advertisement: @pokemon_ad %>
      </div>
    <% end %>

    <%= render 'root/tales', tales: @tales, top_tales: @top_tales %>
  </div>
</section>
