<%= simple_form_for :fiction_list, url: alphabetical_fictions_path, method: :get, id: 'fictionsFilter', html: { class: 'z-10 hidden max-w-screen-sm p-3 space-y-4 bg-white rounded-lg shadow' }, aria: { labelledby: 'fictionsFilterDefault' }, data: { turbo_stream: "" } do |f| %>
  <div>
    <label class="block mb-2 text-sm font-medium text-gray-900">Жанр</label>
    <ul id="genre-list" class="grid w-full grid-cols-4 gap-3">
      <% Genre.order(:name).each do |genre| %>
        <li>
          <input type="radio" id="genre-<%= genre.name.parameterize %>-<%= genre.id %>" name="genre-radio" class="hidden peer" value="<%= genre.id %>" />
          <label for="genre-<%= genre.name.parameterize %>-<%= genre.id %>" class="inline-flex items-center justify-center w-full p-2 text-sm font-medium text-center text-gray-500 bg-gray-100 border border-gray-300 rounded-lg cursor-pointer peer-checked:border-emerald-600 peer-checked:bg-emerald-600 hover:text-white peer-checked:text-white hover:bg-emerald-500">
            <%= genre.name %>
          </label>
        </li>
      <% end %>
      <li>
        <input type="radio" id="genre-all" name="genre-radio" class="hidden peer" checked value="" />
        <label for="genre-all" class="inline-flex items-center justify-center w-full p-2 text-sm font-medium text-center text-gray-500 bg-gray-100 border border-gray-300 rounded-lg cursor-pointer peer-checked:border-emerald-600 peer-checked:bg-emerald-600 hover:text-white peer-checked:text-white hover:bg-emerald-500">
          Усі
        </label>
      </li>
    </ul>
  </div>

  <div>
    <label class="block mb-2 text-sm font-medium text-gray-900">Походження</label>
    <ul id="origin-list" class="grid w-full grid-cols-4 gap-3">
      <% Fiction.origins.each do |key, value| %>
        <li>
          <input type="radio" id="origin-<%= key %>" name="origin-radio" class="hidden peer" value="<%= value %>" />
          <label for="origin-<%= key %>" class="inline-flex items-center justify-center w-full p-2 text-sm font-medium text-center text-gray-500 bg-gray-100 border border-gray-300 rounded-lg cursor-pointer peer-checked:border-emerald-600 peer-checked:bg-emerald-600 hover:text-white peer-checked:text-white hover:bg-emerald-500">
            <%= value.capitalize %>
          </label>
        </li>
      <% end %>
      <li>
        <input type="radio" id="origin-all" name="origin-radio" class="hidden peer" checked value="" />
        <label for="origin-all" class="inline-flex items-center justify-center w-full p-2 text-sm font-medium text-center text-gray-500 bg-gray-100 border border-gray-300 rounded-lg cursor-pointer peer-checked:border-emerald-600 peer-checked:bg-emerald-600 hover:text-white peer-checked:text-white hover:bg-emerald-500">
          Усі
        </label>
      </li>
    </ul>
  </div>

  <div>
    <label class="block mb-2 text-sm font-medium text-gray-900">Інше</label>
    <ul class="grid w-full grid-cols-3 gap-3">
      <li>
        <input type="checkbox" id="only_long" name="only_long" class="hidden peer" <%= 'checked' if params[:only_long] == "on" %> />
        <label for="only_long" class="inline-flex items-center justify-center w-full p-2 text-sm font-medium text-center text-gray-500 bg-gray-100 border border-gray-300 rounded-lg cursor-pointer peer-checked:border-emerald-600 peer-checked:bg-emerald-600 hover:text-white peer-checked:text-white hover:bg-emerald-500">
          Довгочити
        </label>
      </li>
      <li>
        <input type="checkbox" id="only_new" name="only_new" class="hidden peer" <%= 'checked' if params[:only_new] == "on" %> />
        <label for="only_new" class="inline-flex items-center justify-center w-full p-2 text-sm font-medium text-center text-gray-500 bg-gray-100 border border-gray-300 rounded-lg cursor-pointer peer-checked:border-emerald-600 peer-checked:bg-emerald-600 hover:text-white peer-checked:text-white hover:bg-emerald-500">
          Нове
        </label>
      </li>
      <li>
        <input type="checkbox" id="only_finished" name="only_finished" class="hidden peer" <%= 'checked' if params[:only_finished] == "on" %> />
        <label for="only_finished" class="inline-flex items-center justify-center w-full p-2 text-sm font-medium text-center text-gray-500 bg-gray-100 border border-gray-300 rounded-lg cursor-pointer peer-checked:border-emerald-600 peer-checked:bg-emerald-600 hover:text-white peer-checked:text-white hover:bg-emerald-500">
          Завершене
        </label>
      </li>
    </ul>
  </div>
  <button type="submit" id="hiddenSubmit" style="display: none;"></button>
<% end %>
