<div id="tag-<%= tg.id %>" class="inline-flex flex-col mb-2">
  <%= tag.span class: 'inline-flex items-center px-2 py-1 mr-2 text-lg font-medium text-blue-800 bg-blue-50 rounded  border border-blue-500' do %>
    <%= simple_form_for tg, url: admin_tag_path(tg), method: :put, html: { class: "form" } do |f| %>
      <%= f.input :name, label: false, required: true, wrapper_html: { class: 'inline-block' }, input_html: { class: 'rounded bg-blue-50 text-sm border-none focus:border-transparent focus:ring-0 p-1' } %>
      <%= button_tag type: 'submit', class: "inline-flex items-center p-0.5 ml-2 text-base text-blue-400 bg-transparent rounded-sm hover:bg-blue-200 hover:text-blue-900" do %>
        <svg aria-hidden="true" fill="none" class="w-3.5 h-3.5" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5"></path>
        </svg>
      <% end %>
    <% end %>
  <% end %>
  <%= tag.span tg.errors[:name].uniq.join(""), class: " flex items-center font-medium tracking-wide text-red-500 text-sm mt-1 ml-1" if tg.errors[:name].any? %>
</div>
