<% if button? %>
  <%= button_tag type: 'button', **tag_attributes do %>
    <% if adult? %>
      <%= render Ui::AdultWarningIconComponent.new(class: adult_icon_classes) %>
    <% end %>
    <span><%= label %></span>
    <% if count? %>
      <span class="<%= count_classes %>"><%= count %></span>
    <% end %>
  <% end %>
<% elsif interactive? %>
  <%= link_to href, tag_attributes do %>
    <% if adult? %>
      <%= render Ui::AdultWarningIconComponent.new(class: adult_icon_classes) %>
    <% end %>
    <span><%= label %></span>
    <% if count? %>
      <span class="<%= count_classes %>"><%= count %></span>
    <% end %>
  <% end %>
<% else %>
  <%= content_tag(:span, tag_attributes) do %>
    <% if adult? %>
      <%= render Ui::AdultWarningIconComponent.new(class: adult_icon_classes) %>
    <% end %>
    <span><%= label %></span>
    <% if count? %>
      <span class="<%= count_classes %>"><%= count %></span>
    <% end %>
  <% end %>
<% end %>
