<div class="flex mt-4 m-auto w-full lg:w-[1250px] h-full">
  <div class="mx-px w-full <%= more_from_author.any? ? 'lg:w-3/4' : 'lg:w-full' %>">
    <div class="bg-gray-100 dark:bg-gray-800 p-4 rounded-lg">
      <div id="user-content" class="mt-2 text-base md:text-xl mb-2 text-gray-500 dark:text-gray-300">
        <%= chapter.content %>
      </div>
    </div>
    <div class="lg:hidden mt-4">
      <%= render 'more_from_author_mobile', more_from_author: more_from_author if more_from_author.any? %>
    </div>
  </div>
  <aside class="sticky top-0 hidden lg:block <%= more_from_author.any? ? 'lg:w-1/4' : 'lg:hidden' %> h-[45rem]">
    <div class="p-4">
      <%= render 'sidebar', chapter: chapter, more_from_author: more_from_author %>
    </div>
  </aside>
</div>
