<section class="h-full gradient-form py-24 z-10">
  <div class="md:container md:shadow-2xl mx-auto grid max-w-7xl pl-4 grid-cols-12 relative">
    <div class="w-full place-self-center col-span-12 md:col-span-6">
      <div class="p-8 rounded-lg mx-auto">
        <h1 class="mb-3 sm:mb-4 md:mb-3 xl:mb-4 leading-10 text-2xl sm:text-4xl md:text-2xl lg:text-3xl xl:text-4xl text-gray-900 dark:text-gray-100">Втратили Доступ до Акаунту?</h1>
        <p class="leading-8 text-lg sm:text-2xl md:text-lg lg:text-xl xl:text-2xl text-gray-500 dark:text-gray-400 font-light">
          Надішліть свою електронну пошту та ми відправимо Вам інструкції для його відновлення!
        </p>
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, data: { turbo: false }) do |f| %>
          <div>
            <%= f.input :email,
                        id: 'email',
                        required: true,
                        autofocus: true,
                        label: "Електронна Адреса",
                        placeholder: "user@baka.in.ua",
                        input_html: {
                          autocomplete: "email",
                          class: "font-light text-base w-full p-2.5 md:p-2 lg:p-2.5 block rounded-lg border-2 leading-5 dark:text-gray-100 dark:bg-gray-900 dark:border-gray-700 #{'border-red-500' if resource.errors[:email].any? }"
                        },
                        label_html: {
                          class: 'text-sm sm:text-2xl md:text-lg lg:text-xl xl:text-2xl font-light my-4 block leading-5 dark:text-gray-400'
                        } %>
            <%= tag.span resource.errors[:email].uniq.join(""), class: "flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1" if resource.errors[:email].any? %>
          </div>
          <div class="space-y-reverse mt-5 sm:mt-6 md:mt-5 xl:mt-6 justify-between flex">
            <div></div>
            <%= link_to 'Перейти до Авторизації', new_user_session_path, class: 'text-lg sm:text-2xl md:text-lg lg:text-xl xl:text-2xl leading-5 font-light hover:underline text-emerald-700 dark:text-emerald-400' %>
          </div>
          <%= f.button :submit, "Відновити Пароль", class: "space-y-reverse uppercase w-full rounded-lg px-5 py-2 sm:py-3 md:py-2 xl:py-3 text-center text-lg sm:text-2xl md:text-lg lg:text-xl xl:text-2xl leading-5 font-light bg-emerald-700 text-white mt-6 transition ease-in-out m-0 hover:bg-emerald-800 hover:cursor-pointer" %>
        <% end %>
      </div>
    </div>
    <div class="mr-auto place-self-center col-span-6 shadow-lg invisible md:visible">
      <%= image_tag 'forgot_password.png', alt: 'forgot_password', class: 'align-middle mx-auto flex rounded-lg' %>
    </div>
  </div>
</section>
