<section class="bg-no-repeat bg-cover bg-center bg-gray-700 bg-blend-multiply rounded-lg" style="background-image: url(<%= asset_path('psyduck_background.webp') %>);">
  <div class="relative py-8 px-8 mx-auto max-w-screen-xl text-white lg:py-16 z-1">
    <div class="mb-6 max-w-screen-lg lg:mb-0">
      <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl lg:text-6xl">Бака - українська аніме-платформа</h1>
      <p class="mb-2 font-light text-gray-300 lg:mb-8 md:text-lg lg:text-xl">Ласкаво просимо до <strong>Баки</strong> – виняткового порталу поціновувачів аніме та манґи! Розкрий свого внутрішнього отаку із нашим міксом новин, ранобе, відео та багато іншого! <strong>Бака</strong> - це спільнота ентузіастів, місце для нових відкриттів та аніме-пригод! ✨</p>
    </div>
    <div class="grid gap-8 pt-8 lg:pt-12 border-t border-gray-600 sm:grid-cols-2 lg:grid-cols-4">
      <div>
        <h2 class="mb-1 text-lg font-bold">Блоги</h2>
        <p class="mb-1 text-sm text-gray-400">Власна коловерть світу аніме!</p>
        <%= link_to tales_path, class: 'inline-flex items-center text-sm font-semibold text-rose-400 hover:underline' do %>
          Читати новини та блоги
          <svg class="ml-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        <% end %>
      </div>
      <div>
        <h2 class="mb-1 text-lg font-bold">Ранобе</h2>
        <p class="mb-1 text-sm text-gray-400">Двері до пригод та фантазій!</p>
        <%= link_to fictions_path, class: 'inline-flex items-center text-sm font-semibold text-rose-400 hover:underline' do %>
          Читати твори та ранобе
          <svg class="ml-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        <% end %>
      </div>
      <div>
        <h2 class="mb-1 text-lg font-bold">Відео</h2>
        <p class="mb-1 text-sm text-gray-400">Ексклюзивні роботи українських ютуберів!</p>
        <%= link_to youtube_videos_path, class: 'inline-flex items-center text-sm font-semibold text-rose-400 hover:underline' do %>
          Переглянути відео
          <svg class="ml-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        <% end %>
      </div>
      <div>
        <h2 class="mb-1 text-lg font-bold">Гра "Покемон"</h2>
        <p class="mb-1 text-sm text-gray-400">Мрієте зібрати їх усіх? Тепер це можливо!</p>
        <%= link_to pokemons_path, class: 'inline-flex items-center text-sm font-semibold text-rose-400 hover:underline' do %>
          Кинути виклик суперникам
          <svg class="ml-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        <% end %>
      </div>
    </div>
  </div>
</section>
