<section class="antialiased">
  <div class="max-w-screen-xl px-4 mx-auto lg:px-6">
    <% videos.each do |video| %>
      <div class="mt-4 mb-8 lg:mb-1">
        <div class="flex flex-col lg:items-center lg:flex-row gap-y-4 sm:gap-y-4 lg:gap-x-8 xl:gap-x-12">
          <div class="rounded-xl float-left relative w-full overflow-hidden mb-1">
            <%= tag.iframe src: "https://www.youtube.com/embed/#{video.video_id}", width: '672', height: '384', class: 'w-full md:w-full lg:w-[672px] rounded-xl m-auto object-cover h-48 sm:h-72 md:h-96', allowfullscreen: true %>
          </div>
          <div class="w-full space-y-6 lg:max-w-lg shrink-0">
            <div class="space-y-3">
              <div class="line-clamp-1 sm:mb-1 md:mb-2">
                <%= link_to video.youtube_channel.title, search_index_path(search: [video.youtube_channel.title]), class: 'text-rose-700 text-sm sm:text-lg md:text-xl font-light hover:underline', target: '_blank' %>
                <%= tag.span "∘", class: 'text-base sm:text-lg md:text-xl font-light' %>
                <%= tag.span l(video.published_at, format: :short).downcase, class: 'text-sm sm:text-base font-light' %>
              </div>
              <%= link_to youtube_video_path(video), class: 'mb-2' do %>
                <%= tag.h3 video.title, class: 'text-2xl font-bold leading-tight text-gray-900 sm:text-3xl md:text-4xl hover:underline' %>
              <% end %>
              <%= tag.div class: 'w-full line-clamp-4' do %>
                <% video.tags.split(', ').each do |video_tag| %>
                  <%= button_to video_tag, search_index_path, method: :get, id: 'search-video-tag', class: 'bg-rose-100 text-rose-700 text-xs sm:text-sm md:text-base px-2.5 py-0.5 my-1 rounded hover:bg-rose-700 hover:text-rose-100 inline-block', form_class: 'inline-block', params: { search: [video_tag] } %>
                <% end %>
              <% end if video.tags? %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>