<% if current_user.nil? %>
  <% content = capture do %>
    <%= tag.p 'Зареєструйтеся, щоб отримати можливість додавати нові розділи та брати участь у розвитку цього ранобе.',
              class: 'text-sm sm:text-base text-stone-600 dark:text-gray-300 mb-6' %>
    <div class="flex justify-start">
      <%= ui_button(as: :link, href: register_path, variant: :ghost, size: :md) do %>
        <svg class="h-4 w-4 shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd" />
        </svg>
        Зареєструватися
      <% end %>
    </div>
  <% end %>
  <%= render 'shared/info_card', title: 'Приєднайтеся до спільноти!', content: content %>
<% elsif fiction.finished_and_complete? %>
  <% content = capture do %>
    <%= tag.p 'Всі розділи цього ранобе вже перекладено. Дякуємо за вашу підтримку!',
              class: 'text-sm sm:text-base text-stone-600 dark:text-gray-300' %>
  <% end %>
  <%= render 'shared/info_card', title: 'Ранобе завершено!', content: content %>
<% else %>
  <% content = capture do %>
    <%= tag.p 'Це ранобе ще не завершено. Якщо ви є перекладачем або хочете поділитися своїм перекладом, саме час долучитися!',
              class: 'text-sm sm:text-base text-stone-600 dark:text-gray-300 mb-6' %>
    <div class="flex justify-start">
      <%= ui_button(as: :link, href: new_chapter_path(fiction:), variant: :ghost, size: :md) do %>
        <svg class="h-4 w-4 shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 010-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
        </svg>
        Додати розділ
      <% end %>
    </div>
  <% end %>
  <%= render 'shared/info_card', title: 'Додайте нові розділи!', content: content %>
<% end %>
