<div id="chapters-accordion" data-accordion="collapse" data-active-classes="text-gray-900" data-inactive-classes="text-gray-500">
  <% if chapters.pluck(:volume_number).uniq.size > 1 %>
    <% chapters.pluck(:volume_number).uniq.each do |volume_number| %>
      <% volume_number_integer = volume_number_integer(volume_number) %>
      <h2 id="chapters-accordion-heading-<%= volume_number_integer %>">
        <button type="button" class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 gap-3" data-accordion-target="#chapters-accordion-body-<%= volume_number_integer %>" aria-expanded="true" aria-controls="chapters-accordion-body-<%= volume_number_integer %>">
        <%= tag.span "Том #{volume_number || '??'}" %>
        <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
        </svg>
      </h2>
      <div id="chapters-accordion-body-<%= volume_number_integer %>" class="hidden" aria-labelledby="chapters-accordion-heading-<%= volume_number_integer %>">
        <div class="border-b border-gray-200">
          <ol class="mt-3 divide-y divider-gray-200">
            <% chapters.where(volume_number:).each_with_index do |chapter, index| %>
              <%= render 'chapter_item', chapter:, index:, color: new_chapter?(before_next_chapter, chapter.id) %>
            <% end %>
          </ol>
        </div>
      </div>
    <% end %>
  <% else %>
    <% chapters_collection(chapters).each do |range, chapters| %>
      <h2 id="chapters-accordion-heading-<%= range %>">
        <button type="button" class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 gap-3" data-accordion-target="#chapters-accordion-body-<%= range %>" aria-expanded="true" aria-controls="chapters-accordion-body-<%= range %>">
        <%= tag.span "Розділи #{range}" %>
        <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
        </svg>
      </h2>
      <div id="chapters-accordion-body-<%= range %>" class="hidden" aria-labelledby="chapters-accordion-heading-<%= range %>">
        <div class="border-b border-gray-200">
          <ol class="mt-3 divide-y divider-gray-200">
            <% chapters.each_with_index do |chapter, index| %>
              <%= render 'chapter_item', chapter:, index:, color: new_chapter?(before_next_chapter, chapter.id) %>
            <% end %>
          </ol>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
