<span class="inline-flex items-center text-sm lg:text-base font-medium mr-2 px-2.5 py-0.5 rounded-full <%= order == :desc ? 'bg-green-100 text-green-800' : 'bg-gray-100 text-gray-800' %>">
  <span class="w-2 h-2 mr-1 rounded-full <%= order == :desc ? 'bg-green-500' : 'bg-gray-500' %>"></span>
  <%= order.to_sym == :desc ? 'Оновлення' : 'Прочитане' %>
</span>
<div class="lg:max-w-3xl pb-5 px-5 mx-auto mt-4 mb-2 space-y-5 border rounded-lg <%= order == :desc ? 'border-emerald-100 bg-emerald-50' : 'border-gray-100 bg-gray-50' %>">
  <ul class="divide-y divide-gray-200">
    <% before_next_chapter.each_with_index do |chapter, index| %>
      <%= render 'chapter_item', chapter:, index:, color: order == :desc ? :green : :gray %>
    <% end %>
  </ul>
</div>
<span class="inline-flex items-center text-sm lg:text-base font-medium mr-2 px-2.5 py-0.5 rounded-full <%= order == :desc ? 'bg-gray-100 text-gray-800' : 'bg-green-100 text-green-800' %>">
  <span class="w-2 h-2 mr-1 rounded-full <%= order == :desc ? 'bg-gray-500' : 'bg-green-500' %>"></span>
  <%= order.to_sym == :desc ? 'Прочитане' : 'Оновлення' %>
</span>
<div class="lg:max-w-3xl pb-5 px-5 mx-auto mt-4 mb-2 space-y-5 border rounded-lg <%= order == :desc ? 'border-gray-100 bg-gray-50' : 'border-emerald-100 bg-emerald-50' %>">
  <ul class="divide-y divide-gray-200">
    <% after_next_chapter.each_with_index do |chapter, index| %>
      <%= render 'chapter_item', chapter:, index:, color: order == :desc ? :gray : :green %>
    <% end %>
  </ul>
</div>
