<div class="overflow-y-auto max-h-[55rem]" id="chapters-list">
  <% if reading_progress.present? && following_chapter(reading_progress.fiction, reading_progress.chapter) %>
    <% if duplicate_chapters(fiction).any? %>
      <%= render 'chapter_progress_list_multiple_authors', before_next_chapter:, after_next_chapter:, fiction:, selected_scanlator_id: translator, order: %>
    <% else %>
      <%= render 'chapter_progress_list_one_author', before_next_chapter:, after_next_chapter:, order: %>
    <% end %>
  <% else %>
    <div class="lg:max-w-3xl pb-5 px-5 mx-auto mt-4 mb-2 space-y-5 border border-gray-100 rounded-lg bg-gray-50">
      <ul class="divide-y divide-gray-200">
        <% chapters = order.to_sym == :desc ? ordered_chapters_desc(fiction) : ordered_chapters(fiction) %>
        <% if duplicate_chapters(fiction).any? %>
          <%= render 'alternative_tabs', fiction:, selected_scanlator_id: translator, order: %>
          <% chapters.joins(:scanlators).where(scanlators: { id: translator }).group("chapters.id").having("COUNT(scanlators.id) = ?", translator.length).each_with_index do |chapter, index| %>
            <%= render 'chapter_item', chapter: chapter, index: index, color: :black %>
          <% end %>
        <% else %>
          <% chapters.each_with_index do |chapter, index| %>
            <%= render 'chapter_item', chapter: chapter, index: index, color: :black %>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
