<%= render 'alternative_tabs', fiction: fiction, selected_user_id: selected_user_id %>

<% if before_next_chapter.any? %>
  <%= tag.div class: 'lg:max-w-3xl px-5 mx-auto mt-4 mb-2 space-y-5 border border-emerald-100 rounded-lg bg-emerald-50' do %>
    <ul class="divide-y divide-gray-200">
      <% before_next_chapter.each_with_index do |chapter, index| %>
        <%= render 'chapter_item', chapter: chapter, index: index, color: :green %>
      <% end %>
    </ul>
  <% end %>
<% else %>
  <%= tag.div class: 'lg:max-w-3xl pb-2 mb-2' %>
<% end %>

<%= tag.div do %>
  <span class="inline-flex items-center bg-gray-100 text-gray-800 text-sm lg:text-base font-medium mr-2 px-2.5 py-0.5 rounded-full">
    <span class="w-2 h-2 mr-1 bg-gray-500 rounded-full"></span>
    Прочитане
  </span>
  <div class="lg:max-w-3xl pb-5 px-5 mx-auto mt-4 mb-2 space-y-5 border border-gray-100 rounded-lg bg-gray-50">
    <ul class="divide-y divide-gray-200">
      <% after_next_chapter.each_with_index do |chapter, index| %>
        <%= render 'chapter_item', chapter: chapter, index: index, color: :gray %>
      <% end %>
    </ul>
  </div>
<% end if after_next_chapter.any? %>
