<div class="sm:text-lg col-span-5 md:col-span-3  mx-2 font-light">
  <%= tag.h2 fiction.title, class: 'my-2 text-2xl text-gray-900 xl:text-3xl -skew-x-12 font-bold' %>
  <div>
    <div class="inline-flex -skew-x-12">
      <p class="font-light text-xs sm:text-sm 2xl:text-base text-gray-500">автор:</p>
      <%= button_to fiction.author, search_index_path, method: :get, class: 'ml-1 text-xs sm:text-sm 2xl:text-base font-extrabold tracking-tight text-emerald-800 line-clamp-1 hover:underline hover:text-emerald-600', params: { search: [fiction.author] } %>
    </div>
  </div>
  <div>
    <div class="inline-flex -skew-x-12">
      <p class="font-light text-xs sm:text-sm 2xl:text-base text-gray-500 mr-1">перекладач:</p>
      <%= fiction.scanlators.map { |scanlator| link_to(scanlator.title, scanlator_path(scanlator), class: 'text-xs sm:text-sm 2xl:text-base font-extrabold tracking-tight text-emerald-800 hover:underline hover:text-emerald-600 ml-1') }.join(', ').html_safe %>
    </div>
  </div>
  <%= render 'ranks', ranks: @ranks if (@ranks.keys & ['Детектив', 'BL', 'GL', 'Бойовик', 'Вуся', 'Гарем', 'Детектив', 'Драма', 'Жахи', 'Комедія', 'Ісекай', 'Історичне', 'ЛГБТ', 'Містика', 'Омегаверс', 'Повсякденність', 'Пригоди', 'Романтика']).any? %>
  <div class="inline-flex md:flex space-x-4 mt-3 mb-4 sm:mb-0">
    <div class="flex">
      <div class="sm:mr-1 2xl:mr-2 shrink-0 hidden sm:flex flex-col justify-center -skew-x-12">
        <%= image_tag 'chapter.svg', class: 'h-8 2xl:h-10 inline-block', alt: 'chapter' %>
      </div>
      <div class="mt-2 md:mt-1 flex flex-col justify-center">
        <p class="font-light text-xs sm:text-sm text-gray-500 -skew-x-12">розділів</p>
        <%= tag.p "#{unique_chapters(fiction.chapters).size}/#{fiction.total_chapters}", class: 'text-xs sm:text-sm 2xl:text-base font-extrabold tracking-tight text-gray-900 -skew-x-12' %>
      </div>
    </div>
    <div class="flex">
      <div class="sm:mr-1 2xl:mr-2 shrink-0 hidden sm:flex flex-col justify-center -skew-x-12">
        <%= image_tag 'views.svg', class: 'h-8 2xl:h-10 inline-block', alt: 'views' %>
      </div>
      <div class="mt-2 md:mt-1 flex flex-col justify-center">
        <p class="font-light text-xs sm:text-sm text-gray-500 -skew-x-12">переглядів</p>
        <%= tag.p fiction.views, class: 'text-xs sm:text-sm 2xl:text-base font-extrabold tracking-tight text-gray-900 -skew-x-12' %>
      </div>
    </div>
    <div class="flex">
      <div class="mr-1 sm:mr-2 2xl:mr-3 shrink-0 hidden sm:flex flex-col justify-center -skew-x-12">
        <%= image_tag 'bookmark.svg', class: 'h-8 2xl:h-10 inline-block', alt: 'bookmark' %>
      </div>
      <div class="mt-2 md:mt-1 flex flex-col justify-center">
        <p class="font-light text-xs sm:text-sm text-gray-500 -skew-x-12">закладинок</p>
        <%= tag.p fiction.readings.size, class: 'text-xs sm:text-sm 2xl:text-base font-extrabold tracking-tight text-gray-900 -skew-x-12' %>
      </div>
    </div>
    <div class="flex">
      <div class="sm:mr-1 2xl:mr-2 shrink-0 hidden sm:flex flex-col justify-center -skew-x-12">
        <%= image_tag 'status.svg', class: 'h-8 2xl:h-10 inline-block', alt: 'status' %>
      </div>
      <div class="mt-2 md:mt-1 flex flex-col justify-center">
        <p class="font-light text-xs sm:text-sm text-gray-500 -skew-x-12">статус</p>
        <%= tag.p Fiction.statuses[fiction.status], class: "text-xs sm:text-sm 2xl:text-base font-extrabold tracking-tight #{FictionsHelper::STATUS_COLORS[fiction.status.to_sym]} -skew-x-12 -ml-1" %>
      </div>
    </div>
  </div>
  <div class="">
    <% if fiction.genres.any? %>
      <div class="mt-4">
        <p class="hidden md:block font-bold text-xs sm:text-sm text-gray-900 mr-1 -skew-x-12 mb-2">жанри:</p>
        <div>
          <ul class="mb-2 overflow-hidden break-words text-center text-left inline-block md:flex flex-wrap">
            <% fiction.genres.each do |genre| %>
              <div class="relative inline-block pr-2 xl:p-0 xl:mx-1">
                <h2 class="relative w-full text-center mb-1 2xl:mb-3">
                  <%= tag.span genre.name, class: "text-xs inline-block text-white font-bold leading-none px-4 py-2 relative uppercase z-10 bg-gradient-to-r from-teal-500 to-teal-600 hover:bg-gradient-to-br rounded-xl" %>
                </h2>
              </div>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
