<div class="sm:text-lg col-span-5 md:col-span-3  mx-2 font-light">
  <%= tag.h2 fiction.title, class: 'my-2 text-2xl text-gray-900 xl:text-3xl -skew-x-12 font-bold' %>
  <div>
    <div class="inline-flex -skew-x-12">
      <p class="font-light text-xs sm:text-sm 2xl:text-base text-gray-500">автор:</p>
      <%= button_to fiction.author, search_index_path, method: :get, class: 'ml-1 text-xs sm:text-sm 2xl:text-base font-extrabold tracking-tight text-emerald-800 line-clamp-1 hover:underline hover:text-emerald-600', params: { search: [fiction.author] } %>
    </div>
  </div>
  <div>
    <div class="inline-flex -skew-x-12">
      <p class="font-light text-xs sm:text-sm 2xl:text-base text-gray-500 mr-1">перекладач:</p>
      <%= fiction.scanlators.map { |scanlator| link_to(scanlator.title, scanlator_path(scanlator), class: 'text-xs sm:text-sm 2xl:text-base font-extrabold tracking-tight text-emerald-800 hover:underline hover:text-emerald-600 ml-1') }.join(', ').html_safe %>
    </div>
  </div>
  <%= render 'ranks', ranks: %>
  <div class="grid grid-cols-3 my-4 sm:mb-0">
    <div class="mt-1 justify-center flex">
      <div class="2xl:mr-2 shrink-0 flex flex-col justify-center">
        <%= image_tag 'book.webp', class: 'w-auto h-12 inline-block transform transition duration-500 hover:scale-110', alt: 'book icon', width: 80, height: 80 %>
      </div>
      <div class="flex flex-col justify-center">
        <%= tag.p "#{unique_chapters(fiction.chapters).size} з #{fiction.total_chapters}", class: 'text-center text-lg sm:text-xl font-extrabold tracking-tight line-clamp-1 text-gray-500' %>
        <p class="font-light text-base 2xl:text-lg text-gray-500 text-center">розділів</p>
      </div>
    </div>
    <div class="justify-center flex">
      <div class="2xl:mr-2 shrink-0 flex flex-col justify-center">
        <%= image_tag 'book.webp', class: 'w-auto h-12 inline-block transform transition duration-500 hover:scale-110', alt: 'book icon', width: 80, height: 80 %>
      </div>
      <div class="flex flex-col justify-center">
        <%= tag.p fiction.views, class: 'text-center text-lg sm:text-xl font-extrabold tracking-tight line-clamp-1 text-gray-500' %>
        <p class="font-light text-base 2xl:text-lg text-gray-500">переглядів</p>
      </div>
    </div>
    <div class="mt-1 justify-center flex">
      <div class="2xl:mr-2 shrink-0 flex flex-col justify-center">
        <%= image_tag 'book.webp', class: 'w-auto h-12 inline-block transform transition duration-500 hover:scale-110', alt: 'book icon', width: 80, height: 80 %>
      </div>
      <div class="flex flex-col justify-center">
        <%= tag.p Fiction.statuses[fiction.status], class: "text-center text-lg sm:text-xl font-extrabold tracking-tight line-clamp-1 text-gray-500 #{FictionsHelper::STATUS_COLORS[fiction.status.to_sym]}" %>
        <p class="font-light text-base 2xl:text-lg text-gray-500 text-center">статус</p>
      </div>
    </div>
  </div>
  <div class="">
    <% if fiction.genres.any? %>
      <div class="mt-4">
        <p class="hidden md:block font-bold text-xs sm:text-sm text-gray-900 mr-1 -skew-x-12 mb-2">жанри:</p>
        <div>
          <ul class="mb-2 overflow-hidden break-words text-center text-left inline-block md:flex flex-wrap">
            <% fiction.genres.each do |genre| %>
              <div class="relative inline-block pr-2 xl:p-0 xl:mx-1">
                <h2 class="relative w-full text-center mb-1 2xl:mb-3">
                  <%= tag.span genre.name, class: "text-xs inline-block text-white font-bold leading-none px-4 py-2 relative uppercase z-10 bg-gradient-to-r from-teal-500 to-teal-600 hover:bg-gradient-to-br rounded-xl" %>
                </h2>
              </div>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
