<div class="h-full my-0 mx-auto lg:hidden mt-4">
  <div class="mx-auto w-[90%] grid grid-cols-4 gap-4">
    <% latest_updates.limit(8).each do |fiction| %>
      <%= render 'mobile_fiction', fiction: fiction %>
    <% end %>
  </div>
  <%= link_to hero_ad.resource, class: 'relative overflow-hidden h-0', aria: { label: hero_ad.cover.blob.filename } do %>
    <%= video_tag url_for(hero_ad.cover),
                  alt: hero_ad.cover.blob.filename.to_s,
                  autoplay: true,
                  class: 'my-5 mx-auto object-cover h-60 w-[96%] rounded-lg',
                  loop: true,
                  muted: true,
                  onloadeddata: "this.parentElement.classList.remove('h-0'); this.parentElement.classList.add('h-auto'); this.classList.remove('opacity-0'); this.classList.add('opacity-100');",
                  poster: url_for(hero_ad.poster) %>
  <% end if hero_ad.present? %>
  <%= render 'shared/divider', caption: 'Популярні Твори', rose: false %>
  <div class="mx-auto w-[90%] grid grid-cols-4 gap-4">
    <% popular_fictions.limit(4).each do |fiction| %>
      <%= render 'mobile_fiction', fiction: fiction %>
    <% end %>
  </div>

  <div class="my-2"></div>
  <%= render 'shared/divider', caption: 'Читачі рекомендують', rose: false %>
  <div class="mx-auto w-[90%] grid grid-cols-4 gap-4">
    <% most_reads.limit(4).each do |fiction| %>
      <%= render 'mobile_fiction', fiction: fiction %>
    <% end %>
  </div>

  <div class="my-2"></div>
  <%= render 'shared/divider', caption: 'Гарячі новинки', rose: false %>
  <div class="mx-auto w-[90%] grid grid-cols-4 gap-4">
    <% hot_updates.limit(4).each do |fiction| %>
      <%= render 'mobile_fiction', fiction: fiction %>
    <% end %>
  </div>
</div>