<div class="h-full my-0 mx-auto lg:hidden mt-4">
  <div class="mx-auto w-[90%] grid grid-cols-4 gap-4">
    <% @latest_updates.limit(8).each do |fiction| %>
      <div class="rounded-md relative bg-gray-300 bg-opacity-10 rounded-lg">
        <%= link_to fiction_path(fiction) do %>
          <div class="flex justify-center relative">
            <%= image_tag url_for(fiction.cover), alt: fiction.cover.blob.filename, class: 'h-28 sm:h-52 md:h-72 w-full object-cover rounded-md shadow-lg' %>
            <div class="z-10 rounded-xl absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out" style="background-color: rgba(255, 255, 255, 0.2)"></div>
          </div>
        <% end %>
        <div class="w-full float-left rounded-xl mb-1 sm:px-2">
          <%= tag.h3 fiction.title, class: 'line-clamp-2 mt-2 mb-1 text-center text-xs sm:text-sm md:text-base text-gray-900' %>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to @hero_ad.resource, class: 'relative overflow-hidden h-0', aria: { label: @hero_ad.caption } do %>
    <%= video_tag url_for(@hero_ad.cover),
                  alt: @hero_ad.cover.blob.filename.to_s,
                  autoplay: true,
                  class: 'my-5 mx-auto object-cover h-60 w-[96%] rounded-lg',
                  loop: true,
                  muted: true,
                  onloadeddata: "this.parentElement.classList.remove('h-0'); this.parentElement.classList.add('h-auto'); this.classList.remove('opacity-0'); this.classList.add('opacity-100');",
                  poster: url_for(@hero_ad.thumbnail) %>
  <% end if @hero_ad.present? %>
  <%= render 'shared/divider', caption: 'Популярні Твори', rose: false %>
  <div class="mx-auto w-[90%] grid grid-cols-4 gap-4">
    <% @popular_fictions.limit(4).each do |fiction| %>
      <div class="rounded-md relative bg-gray-300 bg-opacity-10 rounded-lg">
        <%= link_to fiction_path(fiction) do %>
          <div class="flex justify-center relative">
            <%= image_tag url_for(fiction.cover), alt: fiction.cover.blob.filename, class: 'h-28 sm:h-52 md:h-72 w-full object-cover rounded-md shadow-lg' %>
            <div class="z-10 rounded-xl absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out" style="background-color: rgba(255, 255, 255, 0.2)"></div>
          </div>
        <% end %>
        <div class="w-full float-left rounded-xl mb-1 sm:px-2">
          <%= tag.h3 fiction.title, class: 'line-clamp-2 mt-2 mb-1 text-center text-xs sm:text-sm md:text-base text-gray-900 mb-4' %>
        </div>
      </div>
    <% end %>
  </div>

  <%= render 'shared/divider', caption: 'Читачі рекомендують', rose: false %>
  <div class="mx-auto w-[90%] grid grid-cols-4 gap-4">
    <% @most_reads.limit(4).each do |fiction| %>
      <div class="rounded-md relative bg-gray-300 bg-opacity-10 rounded-lg">
        <%= link_to fiction_path(fiction) do %>
          <div class="flex justify-center relative">
            <%= image_tag url_for(fiction.cover), alt: fiction.cover.blob.filename, class: 'h-28 sm:h-52 md:h-72 w-full object-cover rounded-md shadow-lg' %>
            <div class="z-10 rounded-xl absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out" style="background-color: rgba(255, 255, 255, 0.2)"></div>
          </div>
        <% end %>
        <div class="w-full float-left rounded-xl mb-1 sm:px-2">
          <%= tag.h3 fiction.title, class: 'line-clamp-2 mt-2 mb-1 text-center text-xs sm:text-sm md:text-base text-gray-900 mb-4' %>
        </div>
      </div>
    <% end %>
  </div>

  <%= render 'shared/divider', caption: 'Гарячі новинки', rose: false %>
  <div class="mx-auto w-[90%] grid grid-cols-4 gap-4">
    <% @hot_updates.limit(4).each do |fiction| %>
      <div class="rounded-md relative bg-gray-300 bg-opacity-10 rounded-lg">
        <%= link_to fiction_path(fiction) do %>
          <div class="flex justify-center relative">
            <%= image_tag url_for(fiction.cover), alt: fiction.cover.blob.filename, class: 'h-28 sm:h-52 md:h-72 w-full object-cover rounded-md shadow-lg' %>
            <div class="z-10 rounded-xl absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out" style="background-color: rgba(255, 255, 255, 0.2)"></div>
          </div>
        <% end %>
        <div class="w-full float-left rounded-xl mb-1 sm:px-2">
          <%= tag.h3 fiction.title, class: 'line-clamp-2 mt-2 mb-1 text-center text-xs sm:text-sm md:text-base text-gray-900' %>
        </div>
      </div>
    <% end %>
  </div>
</div>