<div class="h-full lg:w-[1250px] my-0 mx-auto hidden lg:block">
  <div class="mx-auto grid grid-cols-3">
    <%= render 'leading_fiction', fiction: latest_updates.first %>
    <div class="col-span-2 grid grid-cols-4 gap-2 mx-12">
      <% latest_updates.excluding(latest_updates.first).limit(8).each do |fiction| %>
        <%= render 'other_updates', fiction: fiction, large: false %>
      <% end %>
    </div>
  </div>
  <%= link_to hero_ad.resource, class: 'relative overflow-hidden h-auto', aria: { label: hero_ad.cover.blob.filename } do %>
    <%= video_tag url_for(hero_ad.cover),
                  alt: hero_ad.cover.blob.filename.to_s,
                  autoplay: true,
                  class: 'mt-5 top-0 left-0 w-[96%] h-full rounded-lg',
                  loop: true,
                  muted: true,
                  playsinline: true,
                  poster: url_for(hero_ad.poster) %>
  <% end if hero_ad.present? %>
  <div class="grid grid-cols-3 gap-4 mt-4 w-[96%]">
    <div class="p-4"><%= render 'all_time_fiction_views', popular_fictions: popular_fictions %></div>
    <div class="p-4"><%= render 'all_time_chapter_views', most_reads: most_reads %></div>
    <div class="p-4"><%= render 'trending_chapter_views', hot_updates: hot_updates %></div>
  </div>
</div>