<div class="rounded-md relative bg-gray-300 bg-opacity-10 rounded-lg">
  <%= link_to fiction_path(fiction) do %>
    <div class="flex justify-center relative">
      <%= image_tag url_for(fiction.cover), alt: fiction.cover.blob.filename, class: 'h-52 w-full object-cover rounded-md shadow-lg' %>
      <div class="z-10 rounded-xl absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out" style="background-color: rgba(255, 255, 255, 0.2)"></div>
    </div>
  <% end %>
  <div class="w-full float-left rounded-xl md:mt-1 mb-1 lg:mt-0 px-2">
    <%= tag.h3 fiction.title, class: 'line-clamp-1 mt-2 mb-1 text-center text-base text-gray-900 mr-[1.75%]' %>
    <%= tag.h3 class: 'line-clamp-1 mb-2 text-center text-xs mr-[1.75%] text-gray-600' do %>
      <%= fiction.author %> <%= "(переклад #{fiction.translator})" if fiction.translator.present? %>
    <% end %>
  </div>
</div>
