<div class="mb-4 lg:mb-6">
  <div class="flex justify-between items-center mb-2">
    <h2 class="text-xl lg:text-2xl font-semibold text-stone-800 dark:text-gray-100">Топ Ранобе</h2>
  </div>
  <div class="border border-cyan-700 dark:border-rose-700"></div>
</div>

<div class="flex lg:block overflow-x-auto lg:overflow-x-visible -mx-4 lg:mx-0 px-4 lg:px-0">
  <div class="flex lg:block space-x-4 lg:space-x-0 lg:space-y-4">
    <% fictions.each_with_index do |fiction, index| %>
      <div class="flex-shrink-0 w-32 lg:w-full lg:flex lg:items-center">
        <div class="lg:grid lg:grid-cols-12 lg:gap-4 lg:w-full">
          <span class="hidden lg:flex lg:items-center lg:col-span-1 text-sm font-bold text-stone-600 dark:text-gray-400"><%= index+1 %></span>

          <%= link_to fiction_path(fiction), class: 'relative block lg:col-span-3 transition duration-300 transform hover:scale-105' do %>
            <% if fiction.verified? %>
              <%= render 'shared/verified_ribbon', tooltip_id: "verified-tooltip-#{fiction.id}", filter_id: "verifiedShadow-#{fiction.id}", size: 'md' %>
            <% end %>
            <%= image_tag url_for(fiction.cover),
              alt: fiction.cover.blob.filename.to_s,
              class: "w-full h-48 lg:h-24 object-cover rounded-md shadow-sm",
              loading: "lazy",
              data: {
                controller: "lazy-image",
                lazy_image_target: "image",
                lazy_image_url_value: url_for(fiction.cover)
              } %>
          <% end %>

          <div class="mt-2 lg:mt-1 lg:col-span-8 lg:pl-0 flex flex-col space-y-2">
            <%= link_to fiction_path(fiction), class: 'group' do %>
              <p class="leading-tight text-md font-semibold text-stone-800 dark:text-gray-200 line-clamp-1 group-hover:text-cyan-700 dark:group-hover:text-rose-700 transition-colors duration-300">
                <%= fiction.title %>
              </p>
            <% end %>
            <div class="text-xs text-black mx-1 dark:text-gray-300 flex flex-row gap-1">
              <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-width="2" d="M21 12c0 1.2-4.03 6-9 6s-9-4.8-9-6c0-1.2 4.03-6 9-6s9 4.8 9 6Z"/>
                <path stroke="currentColor" stroke-width="2" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
              </svg>
              <%= tag.span format_view_count(fiction.views), class: '' %>
            </div>
            <% if fiction.genres.any? %>
              <div class="text-xs flex flex-wrap gap-2">
                <% genres = fiction.genres.sample(2) %>
                <% genres.each_with_index do |genre, i| %>
                  <%= tag.span genre.name,
                    class: "shadow-sm ring-1 ring-cyan-800 dark:ring-rose-800 bg-cyan-700 dark:bg-rose-700 text-white dark:text-gray-300 px-2 py-1 rounded-md #{'hidden lg:inline' if i == 1}" %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
