<section class="z-10 relative font-oswald mt-4 md:mt-6">
  <div class="gap-4 py-4 mx-4 2xl:mx-auto 2xl:pl-2 max-w-screen-3xl grid-cols-5 lg:grid lg:grid-cols-8 w-[95%] mx-auto justify-center">
    <div class="col-span-5 grid grid-cols-5 self-start bg-gray-50 shadow-lg pt-4 md:pt-8 pb-4 lg:pb-0 rounded-lg relative bg-no-repeat bg-cover bg-center bg-fixed" style="background-image: url(<%= asset_path('modal-bg.webp') %>);">
      <div class="col-span-5 md:block flex flex-col items-center justify-center h-full mb-4">
        <div class="absolute inset-0 bg-white opacity-95"></div>
        <div class="mx-auto w-auto md:w-[95%] flex relative z-10">
          <div class="hidden md:block h-full max-h-full mx-2.5 mb-8" style="flex: 0 0 314px;">
            <figure class="w-full h-full">
              <%= image_tag url_for(@fiction.cover), class: 'hidden md:flex rounded-lg object-cover shadow-xl', alt: @fiction.cover.blob.filename, width: 314, height: 418 %>
            </figure>
          </div>
          <div class="inline-flex mx-2.5 mb-4 text-center md:text-left">
            <%= render 'details', fiction: @fiction, ranks: @ranks %>
          </div>
        </div>
        <div class="mx-auto w-[95%] text-gray-600 relative z-10 mb-8">
          <%= render 'shared/divider_shiny_green', caption: 'Опис'  %>
          <blockquote class="p-4 my-4 border-s-4 border-gray-300">
            <%= tag.p @fiction.description, class: 'font-light text-sm sm:text-base whitespace-break-spaces italic leading-relaxed text-gray-900' %>
          </blockquote>
        </div>
        <%= tag.div class: 'mx-auto w-[95%] text-gray-600 relative z-10' do %>
          <%= render 'shared/divider_shiny_green', caption: 'Статистика закладинок'  %>
          <%= render 'bookmark_stats', bookmark_stats: @bookmark_stats %>
        <% end if @bookmark_stats.sum > 0 %>
      </div>
    </div>
    <div class="col-span-5 lg:col-span-3 mt-8 lg:mt-0 px-4 2xl:px-8">
      <% if @fiction.chapters.any? %>
        <%= turbo_frame_tag 'sort-chapters' do %>
          <%= render 'chapters', fiction: @fiction, reading_progress: @reading_progress, before_next_chapter: @before_next_chapter, after_next_chapter: @after_next_chapter, order: @order %>
        <% end %>
        <div class="my-4">
          <%= render 'shared/ads', advertisement: @advertisement %>
        </div>
        <%= render 'add_chapter_cta', fiction: @fiction %>
      <% else %>
        <%= render 'first_chapter_cta', fiction: @fiction %>
      <% end %>
    </div>
  </div>
  <div class="px-4 w-[90%] justify-center mx-auto">
    <%= render 'comments/index', comments: @comments, comment: @comment, commentable: @commentable %>
  </div>
</section>
