<section class="z-10 relative font-oswald mt-6">
  <div class="gap-8 py-4 mx-4 2xl:mx-auto 2xl:pl-2 max-w-screen-2xl grid-cols-5 lg:grid lg:grid-cols-8 xl:gap-16">
    <div class="col-span-5 grid grid-cols-5 gap-8 self-start bg-gray-50 shadow-lg pt-8 pb-8 lg:pb-0 px-8 rounded-lg">
      <div class="md:col-span-2 hidden md:block">
        <%= image_tag url_for(@fiction.cover), class: 'hidden mx-auto md:flex rounded-lg object-cover shadow-xl', alt: @fiction.cover.blob.filename  %>
      </div>
      <%= render 'details' %>
      <div class="col-span-5 hidden lg:grid">
        <%= render 'comments/index' %>
      </div>
    </div>
    <div class="col-span-5 lg:col-span-3 mt-8 lg:mt-0">
      <% if @fiction.chapters.any? %>
        <%= render 'chapters' %>
      <% else %>
        <%= render 'first_chapter_cta', fiction: @fiction %>
      <% end %>
    </div>
    <div class="lg:hidden">
      <%= render 'comments/index' %>
    </div>
  </div>
</section>
