<section class="tracking-widest bg-gradient-to-br from-stone-50 to-stone-200 dark:from-stone-900 dark:to-stone-800 min-h-screen flex flex-col items-center p-8 font-sans relative overflow-hidden">
  <div class="absolute inset-0 bg-cover bg-center bg-no-repeat" style="background-image: url(<%= asset_path('psyduck_background.webp') %>);"></div>
  <div class="absolute inset-0 bg-stone-50 dark:bg-stone-900 bg-opacity-95"></div>

  <div class="max-w-5xl mx-auto px-4 pb-8 z-10 relative">
    <div class="p-4 sm:p-8 mb-4">
      <div class="flex flex-row items-center justify-center">
        <h1 class="text-3xl sm:text-4xl lg:text-6xl font-black text-stone-800 dark:text-stone-100 tracking-tight leading-none mr-4">
          Календар<br><span class="text-stone-600 dark:text-stone-400">Оновлень</span>
        </h1>
        <div class="max-h-64" id="user-content">
          <%= image_tag 'calendar.webp', alt: 'reader', class: 'max-h-64 object-cover', height: 128, width: 128 %>
        </div>
      </div>
      <p class="text-stone-700 dark:text-stone-300 text-lg sm:text-xl lg:text-2xl font-light mt-4 text-center">
        <%= "#{l(Date.today - 2, format: '%B %d')} - #{l(Date.today, format: '%B %d')}, #{Date.today.year}" %>
      </p>
    </div>
  </div>

  <div class="w-full max-w-7xl grid grid-cols-1 md:grid-cols-3 gap-10 relative z-10">
    <% @fictions.each do |day_update| %>
      <div class="border border-stone-200 dark:border-stone-700 bg-white dark:bg-stone-800 bg-opacity-80 dark:bg-opacity-80 backdrop-filter backdrop-blur-xl rounded-2xl shadow-2xl p-8 relative overflow-hidden">
        <div class="absolute top-0 right-0 w-24 h-24 opacity-10">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
            <circle cx="50" cy="50" r="40" fill="none" stroke="currentColor" stroke-width="2"/>
            <path d="M50 10v80M10 50h80" stroke="currentColor" stroke-width="2"/>
          </svg>
        </div>

        <!-- Background pattern -->
        <div class="absolute inset-0 z-0 opacity-5">
          <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
            <pattern id="subtle-pattern" x="0" y="0" width="40" height="40" patternUnits="userSpaceOnUse">
              <path d="M0 0h40v40H0z" fill="none"/>
              <path d="M0 20h40M20 0v40" stroke="currentColor" stroke-width="0.5"/>
              <circle cx="20" cy="20" r="1" fill="currentColor"/>
            </pattern>
            <rect width="100%" height="100%" fill="url(#subtle-pattern)"/>
          </svg>
        </div>

        <div class="flex justify-between items-center mb-6">
          <p class="text-md font-bold text-stone-500 dark:text-stone-400"><%= day_update[:date] %></p>
          <h2 class="text-2xl font-extrabold text-stone-700 dark:text-stone-200"><%= day_update[:day] %></h2>
        </div>

        <div class="space-y-8">
          <% day_update[:updates].each do |fiction_update| %>
            <div class="event-card relative pl-6 py-2">
              <div class="absolute left-0 top-0 h-full w-0.5 bg-stone-300 dark:bg-stone-600"></div>
              <div class="absolute left-[-5px] top-0 w-[10px] h-[10px] bg-stone-400 dark:bg-stone-500 rounded-full"></div>
              <div>
                <div class="flex justify-between items-center mb-2">
                  <span class="text-xs font-semibold text-stone-500 dark:text-stone-400 bg-stone-100 dark:bg-stone-700 px-3 py-1 rounded-full inline-block shadow-sm">
                    <%= fiction_update[:chapters_created_at] %>
                  </span>
                  <%= link_to fiction_update[:scanlator_title], scanlator_path(fiction_update[:scanlator_slug]), class: 'text-stone-800 dark:text-stone-200 hover:text-stone-600 dark:hover:text-stone-400 transition-colors duration-300 text-xs' %>
                </div>
                <h3 class="text-md font-bold text-stone-800 dark:text-stone-200 mb-1">
                  <%= link_to fiction_update[:fiction_title], fiction_path(fiction_update[:fiction_slug]), class: 'text-stone-800 dark:text-stone-200 hover:text-stone-600 dark:hover:text-stone-400 transition-colors duration-300' %>
                </h3>
                <div class="flex items-center justify-between mb-1">
                  <p class="text-xs text-stone-500 dark:text-stone-400">
                    <%= fiction_update[:chapters_count] %>
                    <%= t('chapters_added', count: fiction_update[:chapters_count]) %>
                  </p>
                  <% if fiction_update[:scanlator_bank_url].present? %>
                    <%= link_to format_url(fiction_update[:scanlator_bank_url]), class: 'text-stone-600 dark:text-stone-400 hover:text-stone-500 dark:hover:text-stone-300 transition-colors duration-300 text-xs flex items-center' do %>
                      Підтримка
                    <% end %>
                  <% end %>
                </div>
                <% if fiction_update[:fiction_genres].present? %>
                  <div class="mt-2 flex flex-wrap gap-1">
                    <% fiction_update[:fiction_genres].each do |genre| %>
                      <span class="bg-stone-200 dark:bg-stone-700 text-stone-700 dark:text-stone-300 px-2 sm:px-3 py-1 rounded-full text-xs hover:bg-stone-300 dark:hover:bg-stone-600 transition duration-300"><%= genre %></span>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>
