<section class="tracking-widest bg-gradient-to-br from-stone-50 to-stone-200 dark:from-stone-900 dark:to-stone-800 min-h-screen flex flex-col items-center p-8 font-sans relative overflow-hidden">
  <div class="absolute inset-0 bg-cover bg-center bg-no-repeat" style="background-image: url(<%= asset_path('psyduck_background.webp') %>);"></div>
  <div class="absolute inset-0 bg-stone-50/95 dark:bg-stone-900"></div>

  <div class="max-w-5xl mx-auto px-4 z-10 relative">
    <div class="p-4 sm:p-8">
      <div class="flex flex-row items-center justify-center">
        <h1 class="text-3xl sm:text-4xl lg:text-6xl font-black text-stone-800 dark:text-stone-100 tracking-tight leading-none mr-4">
          Календар<br><span class="text-stone-600 dark:text-stone-400">Оновлень</span>
        </h1>
        <div class="max-h-64">
          <%= image_tag 'calendar.webp', alt: 'reader', class: 'max-h-64 object-cover', height: 128, width: 128 %>
        </div>
      </div>
      <p class="text-stone-700 dark:text-stone-300 text-lg sm:text-xl lg:text-2xl font-light mt-4 text-center">
        <%= "#{l(Date.today - 2, format: '%B %d')} - #{l(Date.today, format: '%B %d')}, #{Date.today.year}" %>
      </p>
    </div>
  </div>

  <%= turbo_frame_tag "chapters_calendar_updates", class: "w-full flex flex-col items-center z-10 relative" do %>
    <%= render "chapters_calendar/updates_frame" %>
  <% end %>
</section>
