<div class="flex justify-between px-4 mx-auto max-w-screen-xl my-3">
  <article class="mx-auto w-full max-w-4xl format format-sm sm:format-base lg:format-lg format-indigo p-10 shadow-lg">
    <header class="mb-4 not-format">
      <div class="container py-2 px-10 mx-0 min-w-full flex flex-col items-center">
        <%= tag.h1 @publication.title, class: "text-center mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl" %>
      </div>
    </header>
    <figure class="mb-6"><%= image_tag @publication.cover, class: "rounded-lg" %></figure>
    <%= tag.p @publication.description %>

    <%= simple_form_for @publication, as: :publication, url: admin_blog_path(@publication), method: :put, html: { class: "form" } do |f| %>
      <div class="py-2 px-4 bg-white rounded-lg rounded-t-lg border border-gray-200 <%= 'mb-4' unless @publication.errors.any? %>">
        <%= f.text_area :status_message,
                        id: 'comment',
                        rows: '3',
                        class: "px-0 w-full text-sm text-gray-900 border-0 focus:ring-0",
                        placeholder: 'Коментар до схвалення чи пояснення з приводу відхилення допису...',
                        value: nil,
                        required: true %>
      </div>
      <% if @publication.errors[:status_message].any? %>
        <p id="outlined_error_help" class="mt-2 text-xs text-red-600"><span class="font-medium">додайте коментар, аби продовжити...</p>
      <% end %>
      <div class="container py-2 px-10 mx-0 min-w-full">
        <%= button_tag 'Відхилити', type: 'submit', name: 'publication[status]', value: 'declined', class: 'float-right mt-1 content-center text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2' %>
        <%= button_tag 'Схвалити', type: 'submit', name: 'publication[status]', value: 'approved', class: 'float-right mt-1 content-center text-teal-700 hover:text-white border border-teal-700 hover:bg-teal-800 focus:ring-4 focus:outline-none focus:ring-teal-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2' %>
      </div>
    <% end %>
  </article>
</div>