<div id="section"
  class=""
  data-controller="flowbite">

  <!-- Rules of the Game Accordion (closed by default) -->
  <div id="accordion-collapse" data-accordion="collapse" class="mb-4 rounded-md shadow-md border border-gray-200">
    <h2 id="accordion-collapse-heading-rules">
      <button type="button" class="bg-transparent dark:bg-transparent flex items-center justify-between w-full px-6 py-4 font-bold tracking-tight border border-gray-200 rounded-t-md shadow-sm transition duration-300" data-accordion-target="#accordion-collapse-body-rules" aria-expanded="false" aria-controls="accordion-collapse-body-rules">
        <span class="text-stone-800 dark:text-gray-200">Майданчик Покемонів: Лови і Борись!</span>
        <svg data-accordion-icon class="text-stone-800 dark:text-gray-200 w-4 h-4 transition-transform duration-300 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
        </svg>
      </button>
    </h2>
    <div id="accordion-collapse-body-rules" class="hidden" aria-labelledby="accordion-collapse-heading-rules">
      <div class="px-6 py-5 border border-gray-200 dark:border-gray-700 rounded-b-md">
        <ul class="list-disc pl-5 space-y-2 text-stone-800 dark:text-gray-200 font-light tracking-tight">
          <li>Вирушайте у подорож сторінками сайту — шукайте, досліджуйте, взаємодійте й ловіть нових покемонів на кожному кроці!</li>
          <li>Кожен спійманий покемон одразу з'явиться у вашій колекції на цій сторінці — не пропустіть!</li>
          <li>Розвивайте та тренуйте своїх покемонів, щоб брати участь у захопливих битвах із друзями та суперниками!</li>
          <li>Приєднуйтеся до спільноти дослідників, відкривайте рідкісних покемонів і станьте справжньою легендою нашого майданчика!</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="space-y-6">
    <div class="sm:grid sm:grid-cols-12 sm:gap-8">
      <!-- Column 1: Pokémon Data Screen -->
      <%= turbo_frame_tag "pokemon-data-screen", class: 'col-span-12 lg:col-span-5' do %>
        <%= render 'users/pokemons/list', pokemons: pokemon_show.pokemons, selected_pokemon: pokemon_show.selected_pokemon, descendant: pokemon_show.descendant %>
      <% end %>

      <!-- Column 2: Leaderboard on top, Battle History below -->
      <div class="col-span-12 lg:col-span-7 space-y-6">
        <%= turbo_frame_tag "pokemon-leaderboard-screen" do %>
          <%= render 'users/pokemons/dex_leaderboard', dex_overall: pokemon_show.dex_overall, opponent: pokemon_show.opponent %>
        <% end %>
        <%= render 'users/pokemons/battle_history', battle_history: pokemon_show.battle_history %>
      </div>
    </div>
  </div>
</div>
