<!DOCTYPE html>
<html lang="uk">
  <head>
    <%= render 'shared/meta' %>

    <%= tag.script type: 'application/ld+json' do %>
      <%= raw article_meta(@publication) %>
    <% end if article_meta? %>

    <%= tag.script type: 'application/ld+json' do %>
      <%= raw profile_page_meta(@scanlator) %>
    <% end if profile_page_meta? %>

    <%= tag.script type: 'application/ld+json' do %>
      <%= raw video_meta(@youtube_video) %>
    <% end if video_meta? %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap", "data-turbolinks-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('favicon.ico') %>

    <% if Rails.env.production? %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-BW05CDN8VS"></script>
      <%= javascript_include_tag 'ga' %>
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5596031369567303" crossorigin="anonymous"></script>
    <% end %>

    <% if controller_name.to_sym == :fictions && action_name.to_sym == :show %>
      <%= javascript_include_tag 'accordion' %>
    <% end %>

    <% if requires_tinymce? %>
      <%= tinymce_assets %>
      <%= javascript_include_tag 'tinymce_initializer' %>
    <% end %>

    <% if requires_sweetalert? %>
      <%= turbo_frame_tag 'sweet-alert' do %>
        <%= render 'shared/sweet_alert' %>
      <% end %>
    <% end %>

    <%= javascript_include_tag 'font_toggler' if requires_font? %>
    <%= javascript_include_tag 'mode_toggler' %>
  </head>

  <body class="min-w-[375px] lg:min-w-[1250px] relative flex flex-col min-h-screen">
    <div class="relative bg-no-repeat bg-cover bg-center bg-fixed" style="background-image: url(<%= controller_name.to_sym == :scanlators && action_name.to_sym == :show ? asset_path('modal-bg.webp') : asset_path('bg.webp') %>);">
      <div class="absolute inset-0 bg-gradient-to-br from-stone-100 to-stone-200 dark:from-gray-800 dark:to-gray-900 opacity-95"></div>
      <%= image_tag 'bg.webp', alt: 'bg image', class: 'hidden' %>
      <%= render "shared/navbar" %>
      <%= turbo_frame_tag 'application-notice' do %>
        <%= render "shared/notice" if notice %>
      <% end %>
      <%= turbo_frame_tag "application-alert" do %>
        <%= render "shared/alert" if alert %>
      <% end %>
      <main>
        <%= yield %>
        <%= turbo_frame_tag 'catch-pokemon' do %>
          <%= render 'shared/pokemon', pokemon: @wild_pokemon %>
        <% end if @wild_pokemon %>
      </main>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
