<!DOCTYPE html>
<html>
  <head>
    <%= tag.title meta_title %>
    <%= tag.meta name: 'viewport', content: 'width=device-width,initial-scale=1' %>
    <%= tag.meta name: 'description', content: meta_description %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body class="min-w-[375px] lg:min-w-[1200px]">
    <%= render "shared/navbar" %>
    <%= render "shared/notice" if notice %>
    <%= render "shared/alert" if alert %>
    <%= render 'hero_section' if current_page?(root_path) %>
    <main>
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
