<!DOCTYPE html>
<html lang="uk">
  <head>
    <%= tag.title meta_title %>
    <%= tag.meta name: 'viewport', content: 'width=device-width,initial-scale=1' %>
    <%= tag.meta name: 'description', content: meta_description %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('favicon.ico') %>

    <!-- Google tag (gtag.js) -->
    <% if Rails.env.production? %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-BW05CDN8VS"></script>
      <%= javascript_include_tag 'ga' %>
    <% end %>

    <%= tinymce_assets if requires_tinymce?  %>
  </head>

  <body class="min-w-[375px] lg:min-w-[1200px] flex flex-col min-h-screen bg-gray-800">
    <%= render "shared/navbar" %>
    <%= render "shared/notice" if notice %>
    <%= render "shared/alert" if alert %>
    <%= render 'hero_section' if current_page?(root_path) %>
    <main class="relative">
      <%= image_tag 'bg.jpg', alt: 'bg image', class: 'absolute w-full h-full object-cover opacity-10' %>
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
