<section class="h-full gradient-form flex justify-center">
  <div class="container py-12 px-6">
    <div class="flex justify-center items-center flex-wrap h-full g-6 text-gray-800">
      <div class="xl:w-10/12">
        <div class="block bg-white rounded-lg">
          <div class="lg:flex lg:flex-wrap g-0 p-10 shadow-lg">
            <div class="lg:w-6/12 px-4 md:px-0">
              <div class="md:p-12 md:mx-6">
                <div class="text-center">
                  <h4 class="text-xl font-semibold mt-1 mb-12 pb-1">Реєстрація</h4>
                </div>
                <%= simple_form_for(resource, as: resource_name, url: user_registration_path, data: { turbo: false }) do |f| %>
                  <% if resource.errors.any? %>
                    <div class="rounded-full bg-red-800 text-center py-4 pb-4 mb-4 lg:px-4">
                      <div class="p-2 items-center text-red-100 leading-none lg:rounded-full flex lg:inline-flex" role="alert">
                        <span class="flex rounded-full bg-red-500 uppercase px-2 py-1 text-xs font-bold mr-3">Упс!</span>
                        <%= tag.span "Спробуйте усунути недоліки нижче:", class: "text-center font-semibold mr-2 text-left flex-auto" %>
                      </div>
                    </div>
                  <% end %>
                  <div class="grid grid-cols-2 gap-2">
                    <div class="mb-6">
                      <%= f.input :email,
                                  id: 'email',
                                  required: true,
                                  autofocus: true,
                                  label: false,
                                  placeholder: "Електронна Адреса",
                                  input_html: {
                                    autocomplete: "email",
                                    class: "form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none #{'border-red-500' if resource.errors[:email].any? }"
                                  } %>
                      <%= tag.span resource.errors[:email].to_sentence(two_words_connector: " та ", last_word_connector: " та "), class: "flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1" if resource.errors[:email].any? %>
                    </div>

                    <div class="mb-6">
                      <%= f.input :name,
                                  id: 'name',
                                  required: true,
                                  autofocus: true,
                                  label: false,
                                  placeholder: "Прізвисько",
                                  input_html: {
                                    autocomplete: "name",
                                    class: "form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none #{'border-red-500' if resource.errors[:name].any? }"
                                  } %>
                      <%= tag.span resource.errors[:name].to_sentence(two_words_connector: " та ", last_word_connector: " та "), class: "flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1" if resource.errors[:name].any? %>
                    </div>
                  </div>

                  <div class="grid grid-cols-2 gap-2">
                    <div class="mb-6">
                      <%= f.input :password,
                                  id: 'password',
                                  required: true,
                                  autofocus: true,
                                  label: false,
                                  placeholder: "Пароль",
                                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                                  input_html: {
                                    autocomplete: "new-password",
                                    class: "form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none #{'border-red-500' if resource.errors[:password].any? }"
                                  } %>
                      <%= tag.span resource.errors[:password].to_sentence(two_words_connector: " та ", last_word_connector: " та "), class: "flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1" if resource.errors[:password].any? %>
                    </div>

                    <div class="mb-6">
                      <%= f.input :password_confirmation,
                                  id: 'password_confirmation',
                                  required: true,
                                  autofocus: true,
                                  label: false,
                                  placeholder: "Підтвердження пароля",
                                  input_html: {
                                    autocomplete: "password_confirmation",
                                    class: "form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none #{'border-red-500' if resource.errors[:password_confirmation].any? }"
                                  } %>
                      <%= tag.span resource.errors[:password_confirmation].to_sentence(two_words_connector: " та ", last_word_connector: " та "), class: "flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1" if resource.errors[:password_confirmation].any? %>
                    </div>
                  </div>

                  <div class="form-actions text-center pt-1 mb-12 pb-1">
                    <%= f.button :submit, "Зареєструватися", class: "-full text-white bg-teal-600 hover:bg-teal-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-block px-6 py-2.5 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out w-full mb-3" %>
                    <%= link_to 'Забули пароль?', new_user_password_path, class: 'text-gray-500' %>
                  </div>

                  <div class="flex items-center justify-between pb-6">
                    <p class="mb-0 mr-2">Вже маєте акаунт?
                      <%= link_to 'Увійти', new_user_session_path, class: 'font-bold hover:underline' %>
                    </p>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="lg:w-6/12 flex items-center lg:rounded-r-lg rounded-b-lg lg:rounded-bl-none">
              <%= image_tag "https://c4.wallpaperflare.com/wallpaper/871/347/726/anime-anime-girls-tongue-out-simple-background-white-background-hd-wallpaper-preview.jpg" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>